#parse("sgf/inc/topB.vm")
<script language="JavaScript" src="$home/sgf/js/trim.js"></script>
	<div class="post"><!--post-->
	<div class="header"><!--header-->
		<h3>Tesorer&iacute;a </h3>
	</div><!--fin header-->
          

	<div class="content">			
		<h5B>Conciliaci&oacute;n Bancaria  </h5B>		
		    </div><!--header-->          
			<div class="content"><!--content-->
		<form  action="" method="post" name="formConciliacion" id="formConciliacion" >
      	 <input type="hidden" name="accionweb" value="">
      	 <input type="hidden" name="fechaCorr" value="">
 		 <table width="100%" border="0" cellspacing="3" cellpadding="0">
		 <tr>
	         <td width="20%">D&iacute;a a Transferir</td>
	         <td ><input id="fechaIng" class="Input"  style="text-align: left;" name="fechaIng" readonly type="text" value="" size="10" maxlength="14" onKeyPress="enter(event);" onBlur="">
	         <a href="#" onClick="displayCalendar(document.formConciliacion.fechaIng,'dd/mm/yyyy',this,false);"> <img src="$home/sgf/img/calendario/ico_calendario_cel.gif" border="0" alt="Calendario" align="absmiddle"></a>
	     	 <a href="#" onclick="generaConciliacion();return false;"><img src="$home/sgf/img/ico_informe_hab.gif" align="absmiddle" alt="Generar" border="0"> Generar Conciliaci&oacute;n Bancaria </a>
			</td>
	         <td> &nbsp;</td>
	 	</tr>
		</table>
		 
 		
 		</form>
 		<span id="detalleConciliacion"> 
 			
		 </span>
 		</div><!--content-->
			<br />
		</div><!--post-->
		
     
<script>
	function generaConciliacion(){
	     if ( formConciliacion.fechaIng.value.length == 0 ){
                alert( "Ingrese Fecha para Generar el proceso");
                formConciliacion.fechaIng.focus();
                return;
         }
         new Ajax.Updater('detalleConciliacion', '$home/sipB/inc/espere.html');    
		 document.formConciliacion.accionweb.value = "conciliacionBancariaInterceptorB.generaConciliacion"; 
	     new Ajax.Updater('detalleConciliacion', '$home/sicbB/inc/detalle.html', {
			parameters: { accionweb: document.formConciliacion.accionweb.value,
			              fechaIng : document.formConciliacion.fechaIng.value
		            	}
			});        
	}	
	
</script>

 	   
#parse("sgf/inc/bottom.vm")