 <form  action="$home/sibB/inc/BHonorario.html" method="post" name="formHonorario" target="_top"><!--VS.26-11-2016.Modificacion BANNER. cambio de directorio-->
   <input type="hidden" name="tipoBoleta" value="$tipoBoleta">
   <input type="hidden" name="numeroBoleta" value="$numeroBoleta">
   <input type="hidden" name="rutnum" value="$!rutnum">
   <input type="hidden" name="dvrut" value="$!dvrut">
   <input type="hidden" name="idSoli" value="$!idSoli">
  	<table width="100%" border="0" cellspacing="2" cellpadding="5">
          <tr>
         <td width="20%">Nombre </td>
         <td ><input name="nomPrestador" class="estilo_Azul" style="text-align: left;" type="text" id="nomPrestador" size="40" maxlength="40"  value="$!nombrePrestador.trim()">
		 </td>
         
	 </tr>
	 <tr>
         <td width="20%">Direcci&oacute;n </td>
         <td >   <input name="direccion" class="estilo_Azul" style="text-align: left;" type="text" id="direccion" size="40" maxlength="40"  value="$!domicilioPrestador.trim()">
		 </td>
         <td> &nbsp;</td>
	 </tr> 
	 <tr>
	 	   <td width="20%">Ciudad</td>
           <td ><input name="ciudad" class="estilo_Azul" style="text-align: left;" type="text" id="ciudad" size="40" maxlength="40"  value="$!ciudadPrestador.trim()" > 
	      </td>
 	</tr>  
 	<tr>
         <td width="20%">Pa&iacute;s </td>
         ##para el caso que no haya pais se coloca por defecto CHILE
         #if($!pais.trim().equals(""))
         	#set($pais = "CHILE")
         #end
         <td ><input name="pais" class="estilo_Azul" style="text-align: left;" type="text" id="pais" size="40" maxlength="40"  value="$!pais.trim()" >
		 </td>         
	 </tr>   
    </table>  
    <input type="hidden" name="accionweb" value="">
    
    </form>
      <br>
      </br>
		      <div class="footer"><!--footer-->
				
				<ul>
				    <li><a href="#" onclick="registrarPrestador(document.formHonorario); return false;"><img src="$home/sgf/img/button_ok.gif" align="absmiddle" alt="Registrar Prestador" border="0"></a></li>
		       		<li><a href="#" onclick="carga(1,'BHonorario');return false;"><img src="$home/sgf/img/undo.gif" align="absmiddle" alt="Volver" border="0"> Volver</a></li>
		</ul>
				

				</div><!--footer-->
				 	
			