 #if($nomIdentificador)

   	<table width="100%" border="0" cellspacing="2" cellpadding="5">
       <form  action="" method="post" name="formValePago" >
      	 <tr>
         <td width="20%">Valor a Pagar </td>
         <td >   <input name="valorAPagar" style="text-align: left;" type="text" id="valorAPagar" size="13" maxlength="11"  value="$!valorAPagar.trim()" onKeyPress="return acceptNum(event); " onKeyUp="puntitos(this,this.value.charAt(this.value.length-1));">
		 </td>
         <td> &nbsp;</td>
	 </tr> 
	 <tr>
	 	   <td width="20%">Identificador interno</td>
           <td ><input name="identificadorInterno"  style="text-align: left;" type="text" id="identificadorInterno" size="14" maxlength="14"  value="" onBlur="validaIdentificadorInterno();"> 
			<font class="destacado" size="12px">Ej: DTI2011-001(depto. a&ntilde;o correlativo)</font>
			<input type="hidden" name="accionweb"  value="">
			<input type="hidden" name="rutnum"  value="$!rutnum">
	 		<input type="hidden" name="dvrut"  value="$!dvrut">
	 		<input type="hidden" name="identificador"  value="$!identificador">
	 		<input type="hidden" name="nomIdentificador"  value="$nomIdentificador">
	 		
          </td>
 	</tr>  
 	<tr>
         <td width="20%">Tipo de Pago </td>
         <td ><select name="tipoPago" id="tipoPago" class="estilo_Azul" onchange= "document.formValePago.glosa.focus();">
		    		<option value="-1" selected="selected">Seleccione</option>                       
		    		#foreach($lista in $listaTipoPago) 		
		    			<option value="${lista.tipmov}@${lista.nomtip}" #if($tipoPago && ($tipoPago == $lista.tipmov)) selected #end >${lista.desuni}</option>
		       		#end		     		
		    </select>
		 </td>
         
	 </tr>                	
	 <tr>   
          <td width="20%">Descripci&oacute;n </td>
       
          <td> <textarea style="text-align: left;" name="glosa" id="glosa" rows="8" cols="40" maxlength="240" onKeyPress="cuentaLetras('glosa',240);return acceptText(event)" onKeyUp=""></textarea>
                    <input name="glosa1" type="hidden" id="glosa1" value="$!glosa1"/>                     	                                                                                                  
                  	<input name="glosa2" type="hidden" id="glosa2" value="$!glosa2"/>
                    <input name="glosa3" type="hidden" id="glosa3" value="$!glosa3"/>
                    <input name="glosa4" type="hidden" id="glosa4" value="$!glosa4"/>
                    <input name="glosa5" type="hidden" id="glosa5" value="$!glosa5"/>
                    <input name="glosa6" type="hidden" id="glosa6" value="$!glosa6"/>
       
       </tr>	
	  
	  <tr><td width="20%"><span  id="val1"  >  	
          	</span>&nbsp; </td> 
          <td > <span  id="detalleMensajeContrato"  > 	</span> </td> 
		  <td > <span id="detalleMensaje">   </span></td>
		  <td > <span id="val2">   </span></td>
  	</tr>
    </table>   
    </form>
   
    <form name="formSolicitudVale" id="formSolicitudVale" action="" method="POST" target="" >
	 <input type="hidden" name="accionweb" value="">
     <input type="hidden" name="desuni"  value="">
     <input type="hidden" name="cuentaPresup"  value="-1">

	 <fieldset style="width:85%">
	<legend>Distribuci&oacute;n de Gasto</legend>
		<p>
			<label style="display: block; width: 15%;">Organizaci&oacute;n</label>
			<select name="cuenta" id="cuenta" class="estilo_Azul" onchange= "cambia();">
		    		<option value="-1" selected="selected">Seleccione</option>                       
		    		#foreach($lista in $cuentasPresupuestarias) 		
		    			<option value="${lista.nompro}@$lista.desuni">${lista.nompro}-${lista.desuni}</option>
		     		#end
		    </select>
			
		</p>
		<p>
			<label style="display: block; width: 15%">Valor</label>
			<INPUT type="text" name="valor" id="valor" size="12" maxlength="12"  onKeyPress="return acceptNum(event)" onKeyUp="puntitos(this,this.value.charAt(this.value.length-1));">
			<input  name="agregar" value="Agregar" class="buttonGris2" onclick="cargarVale();" type="button">
		</p>
     
		<span id="detalleSolicitudVale">     		
		</span>
      </fieldset>
      </form>
    <br>                  	  	
      <br>
##     <form name="formSolicitudPago" id="formSolicitudPago" action="" method="POST" target="" >
##	 <input type="hidden" name="accionweb" value="">
##     <input type="hidden" name="desuni"  value="">
##     <input type="hidden" name="cuentaPresup"  value="-1">
##	 <fieldset style="width:85%">
##	<legend>Distribuci&oacute;n de Pago</legend>
##		<p>
##			 	<table width="100%" border="0" cellspacing="2" cellpadding="5">
##			   	   	<tr>
##               	  <td width="20%"><span id="nomIde">Rut a Pago &nbsp;&nbsp; </span></td>
##                	  <td>                 	  	
##       	                <input type="text" name="rut_aux" size="13" maxlength="13" class="estilo_Azul" value ="" onKeyPress="enter(event,1);return noenter()" onChange="checkRutField(document.formSolicitudPago.rut_aux.value, document.formSolicitudPago);" style="text-align: left;">
##       	                <input  name="agregarPago" value="Agregar" class="buttonGris2" onclick="validarBeneficiario(document.formSolicitudPago)" type="button">
##       	               
##       	                <input type="hidden" name="rutnum" value="">
##                		<input type="hidden" name="dvrut" value="">
##                        <input type="hidden" name="opcionMenu"  value="$!opcionMenu">     
##                        <input type="hidden" name="tipo"  value="0">             
##					  					  
##                	  </td>
##                   </tr>
##                </table>  
##           
##		<span id="detalleSolicitudPago">     		
##		</span>
##      </fieldset>
##      </form>       	
      <br>
      </br>
		      <div class="footer"><!--footer-->
				
				<ul>
				    <li><span id="botonRegistrar"><a href="#" onclick="registrarValePago(); return false;"><img src="$home/sgf/img/button_ok.gif" align="absmiddle" alt="Registrar" border="0"></a></span></li>
		       		<li>	<a href="#" onclick="carga(1,'valedePago');return false;"><img src="$home/sgf/img/undo.gif" align="absmiddle" alt="Volver" border="0"> Volver</a></li>
		</ul>
				</div><!--footer-->
				 	
					
<script language="javascript">
	function validaIdentificadorInterno(){
	   document.formValePago.accionweb.value = "valePagoInterceptorB.verificaIdentificadorInterno";
		new Ajax.Updater('detalleMensaje', '$home/sivB/inc/paginaMensaje.html', {
			parameters: { accionweb: document.formValePago.accionweb.value,
			              identificadorInterno: document.formValePago.identificadorInterno.value}
			});
		}

	function valida(){
	 if(document.formValePago.valorAPagar.value == "" || document.formValePago.valorAPagar.value == "0"){
	    alert('Debe ingresar Valor a Pagar.');
	    document.formValePago.valorAPagar.focus();
	    return false;
	 } 

	 if(document.formValePago.identificadorInterno.value == ""){
	    alert('Debe ingresar el Identificador Interno del documento.');
	    document.formValePago.identificadorInterno.focus();
	    return false;
	 }
	 if(document.formValePago.tipoPago.value == -1){
	    alert('Debe seleccionar un tipo de  del vale.');
	    document.formValePago.tipoPago.focus();
	    return false;
	 }
	 if(document.formValePago.glosa.value == ""){
	    alert('Debe ingresar la descripci\u00f3n del Vale de pago.');
	    document.formValePago.glosa.focus();
	    return false;
	 }
	 return true;
	 }
	 function validaVale(){
	  if(document.formSolicitudVale.cuentaPresup.value == -1 ){
     	    alert('Debe seleccionar la organizaci\u00f3n que se va a realizar el cargo.');
		    document.formSolicitudVale.cuenta.focus();
		    return false;
	    }
	   if(document.formSolicitudVale.valor.value == "" ){
     	    alert('Debe ingresar el valor del cargo de la organizaci\u00f3n.');
		    document.formSolicitudVale.valor.focus();
		    return false;
	    }
	    valoraPagar = unformatNumber(document.getElementById('valorAPagar').value) / 1;
	    valor = unformatNumber(document.getElementById('valor').value) / 1;
	     if((valoraPagar - valor) < 0){
	    	alert('El valor del cargo de la organizaci\u00f3n no debe exceder el valor total del Vale a Pagar.');
		    document.formSolicitudVale.valor.focus();
		    return false;
	    
	    }
	    return true;
	}
	function cargarVale(){
    if(valida() && validaVale()) {
	   //	new Ajax.Updater('detalleSolicitudOrden', '$home/presupuesto/inc/espere.html');    
		document.formSolicitudVale.accionweb.value = "valePagoInterceptorB.cargaResultadoSolicitudVale";
		new Ajax.Updater('detalleSolicitudVale', '$home/sivB/inc/detalleSolicitudVale.html', {
			parameters: { accionweb: document.formSolicitudVale.accionweb.value,
			           	  valorAPagar : unformatNumber(document.getElementById('valorAPagar').value),
		            	  identificador : document.getElementById('identificadorInterno').value,
		            	  cuentaPresup: document.formSolicitudVale.cuentaPresup.value,
		            	  desuni : document.formSolicitudVale.desuni.value,
		            	  valor: unformatNumber(document.getElementById('valor').value),
		            	  cuentaTipoPago: document.formValePago.tipoPago.value
		            	   }
			});
			
		document.formSolicitudVale.cuentaPresup.value = "-1";
		document.formSolicitudVale.cuenta.value = "-1";
		document.formSolicitudVale.valor.value = "";
	}
	
	}

	function eliminaVale(codorg,desuni,usadom){

	if(confirm('Est\u00e1 seguro de Eliminar')){
		document.formSolicitudVale.accionweb.value = "valePagoInterceptorB.eliminaResultadoSolicitudVale";
		new Ajax.Updater('detalleSolicitudVale', '$home/sivB/inc/detalleSolicitudVale.html', {
			parameters: { accionweb: document.formSolicitudVale.accionweb.value,
			              	codorg : codorg,
			              	usadom : usadom,
			              	desuni : desuni}
			});
			
	} else
	return true;
	}
	
	function cambia(){
		nomCuenta = document.formSolicitudVale.cuenta.value;
		var ind = nomCuenta.indexOf("@");
		document.formSolicitudVale.cuentaPresup.value = nomCuenta.substring(0,ind);
		document.formSolicitudVale.desuni.value = nomCuenta.substring(ind+1);
		return;
	
	}
##    function validaPago(){
##     if(document.formSolicitudPago.rut_aux.value == "" ){
##     	    alert('Debe ingresar el RUT del beneficiario que se va a realizar el pago.');
##		    document.formSolicitudPago.rut_aux.focus();
##		    return false;
##	    }
##	    return true;
##	}
	
##	function cargarPago(){

##    if(valida() && validaPago()) {
##		document.formSolicitudPago.accionweb.value = "valePagoInterceptorB.cargaResultadoSolicitudPago";
##		new Ajax.Updater('detalleSolicitudPago', '$home/sivB/inc/detalleSolicitudPago.html', {
##			parameters: { accionweb: document.formSolicitudPago.accionweb.value,
##			           	  valorAPagar : unformatNumber(document.getElementById('valorAPagar').value),
##		            	  identificador : document.getElementById('identificadorInterno').value,
##		            	  rutnum: document.formSolicitudPago.rutnum.value,
##		            	  dvrut: document.formSolicitudPago.dvrut.value
##		            	   }
##			});
		
##		document.formSolicitudPago.rutnum.value = "";
##		document.formSolicitudPago.dvrut.value = "";
##		document.formSolicitudPago.rut_aux.value = "";
			
##//		document.formSolicitudPago.nomBeneficiario.value = "";
##//		document.formSolicitudPago.valorPago.value = "";
##	}
	
##	}

##	function eliminaPago(desuni,usadom){

##	if(confirm('Est\u00e1 seguro de Eliminar')){
##		document.formSolicitudPago.accionweb.value = "valePagoInterceptorB.eliminaResultadoSolicitudPago";
##		new Ajax.Updater('detalleSolicitudPago', '$home/sivB/inc/detalleSolicitudPago.html', {
##			parameters: { accionweb: document.formSolicitudPago.accionweb.value,
##			               	usadom : usadom,
##			              	desuni : desuni}
##			});
##			
##	} else
##	return true;
##	}
	
	
function registrarValePago(){
##		if(document.formSolicitudPago.rut_aux.value != "" ){
##		     	    alert('Debe presionar el bot\u00f3n Agregar para que quede el RUT del beneficiario registrado.');
##				    document.formSolicitudPago.rut_aux.focus();
##				    return false;
##		}
				
		asigna(4);
	
		if(valida() ) 
		{
		  if(document.formSolicitudVale.totalSolicitudVale ) 
		   {
		        if (document.formSolicitudVale.totalSolicitudVale.value == unformatNumber(document.getElementById('valorAPagar').value))
		        {
		       // alert(document.formSolicitudVale.totalSolicitudVale.value);
		         if (document.formSolicitudVale.totalSolicitudPago && (document.formSolicitudVale.totalSolicitudVale.value < unformatNumber(document.getElementById('valorAPagar').value)))
			     	alert ('No se puede registrar, no corresponde la distribuci\u00f3n del gasto con el valor del Vale.');
			     else { 
			            if(document.getElementById('botonRegistrar')!= null)
		           		 	document.getElementById('botonRegistrar').style.visibility="hidden";
					
			            document.formValePago.action = "$home/sivB/inc/valedePago.html";
			      		document.formValePago.target = "_top";
			      		document.formValePago.accionweb.value = 'valePagoInterceptorB.registraValedePago';
			      		document.formValePago.valorAPagar.value = unformatNumber(document.getElementById('valorAPagar').value);
			            document.formValePago.submit();
				  		}
				} else alert ('No se puede registrar, no corresponde la distribuci\u00f3n del gasto con el valor del Vale.');
			} else alert ('No se puede registrar, no existe distribuci\u00f3n del gasto.');
				
		}
		 }		  

</script>	
#end			