		#if($mensajeSolicitudPago)
   			<font class="Estilo_Rojo" >$mensajeSolicitudPago</font>
		#end
		#if ($listaSolicitudesPago && $listaSolicitudesPago.size() > 0)
		<p style="padding-top:10px">	
		<input type="hidden" name="registra"  value="$!registra">
		<input type="hidden" name="totalSolicitudPago"  value="$!totalSolicitudPago">
		<table id="tabla" width="95%" border="0" cellspacing="0" cellpadding="0">
			<thead>
			<tr>				
		        <th width="45%" class="bordetop texto">Nombre Beneficiario</th>
                <th width="11%" class="bordetop bordeder">Valor</th> 
      		</tr>
			</thead>
		    #set($totalNeto = 0)
			#foreach($lista in $listaSolicitudesPago)              
			<tr>
				<td width="20%" class="texto">${numbertool.format($lista.rutide)}-$lista.iddigi $lista.desuni<br> 	
				#if($lista.Desite && $lista.Desite != "") Banco $lista.Desite Cuenta N&#186; $lista.Nompro #end</td> 
		 		<td class="valor bordeder">${numbertool.format($lista.usadom)} </td>
				#if(!$opcion || ($opcion && ($opcion == 2 || $opcion == 1)))
				<td width="1%"class="bordeder"><a href="#" onClick="eliminaPago('$lista.desuni', $lista.usadom );return false;"  alt="Eliminar" > 
		        <img src="$home/sgf/img/borrar.gif" alt="Eliminar" border="0" align="absmiddle"></a></td>
		        #end
		        #set($totalNeto = $mathtool.add($totalNeto, $lista.usadom))
			</tr>   
			#end  
			<tfoot>
			<tr>
				<th  scope="col" nowrap>Total </th>
				<th class="bordeder valor">#if($totalNeto)${numbertool.format($totalNeto)}#end</th>	
						
			</tr> 			
			 </tfoot>
	        </table>
		
		</p>
	    #end
	    <br>
	    	
    	
	 