<div id="menucontent"><!--menucontent-->
 	#set($seleccionado = "")
 	#if($opcionMenu && $opcionMenu > 0)
	  #set($seleccionado = "style='background-color:#D61727;color:#fff;'")	
    #end 

<div class="post"><!--post-->
	<div class="content"><!--content-->               
		<div id="menuv"><!--menuv--> 

	<div id="navigation">
    	<ul class="mainMenuB">
      	   	 <li><a  href="#" #if($opcionMenu && ($opcionMenu == 1 || $opcionMenu == 11)) $seleccionado #end onclick="switchit('','',4);carga(1,'valedePago'); return false;" alt="Ingreso"> Ingreso</a></li>
           	 <li><a #if($opcionMenu && $opcionMenu == 2) $seleccionado #end href="#" onclick="switchit('','',4); carga(2,'muestraLista'); return false;" alt="Consulta"> Modificaci&oacute;n </a></li> 
      		 <li>
      			#if($autorizaProyecto || $autorizaUCP || $autorizaDIRPRE)
      			<a href="javascript:switchit('n1','c1',1);" class="mas" id="c1">Autorizaci&oacute;n</a>
        		<ul class="subMenu" id="n1">
        		  <li><a  href="#" #if($opcionMenu && $opcionMenu == 3) $seleccionado #end onclick="carga(3,'muestraLista'); return false;" alt="Autorizaci&oacute;n Responsable de la Organización"> Responsable de la Organizaci&oacute;n</a></li>
          		  #if($autorizaProyecto)
                  <li><a  href="#" #if($opcionMenu && $opcionMenu == 8) $seleccionado #end onclick="carga(8,'muestraLista'); return false;" alt="Autorizaci&oacute;n Proyectos"> MECESUP VRA</a></li>
                  #end
                  #if($autorizaUCP)
                  <li><a  href="#" #if($opcionMenu && $opcionMenu == 9) $seleccionado #end onclick="carga(9,'muestraLista'); return false;" alt="Autorizaci&oacute;n UCP"> UCP</a></li>
                  #end
                  #if($autorizaDIRPRE)
                  <li><a  href="#" #if($opcionMenu && $opcionMenu == 10) $seleccionado #end onclick="carga(10,'muestraLista'); return false;" alt="Autorizaci&oacute;n Director de Presupuestos"> MECESUP DIPRES</a></li>
                  #end
                </ul>
        		<script type="text/javascript">initit('n1','c1','');</script>
        		#else
        	  	<a  href="#" #if($opcionMenu && $opcionMenu == 3) $seleccionado #end onclick="carga(3,'muestraLista'); return false;" alt="Autorizaci&oacute;n Responsable de la Cuenta"> Autorizaci&oacute;n</a>
        		#end
        	</li>
  ##      	#if($permisoPresup)      	
  ##    	    <li><a  href="#" #if($opcionMenu && $opcionMenu == 15) $seleccionado #end onclick="switchit('','',4); carga(15,'muestraLista'); return false;" alt="Autorizadas Sin Financiamiento"> Autorizados Sin Financiamiento</a></li>
  ##    	    #end 
  ##    		<li><a  href="#" #if($opcionMenu && $opcionMenu == 4) $seleccionado #end onclick="switchit('','',4); carga(4,'muestraLista'); return false;" alt="Consulta"> Consulta</a></li>
            #if($autorizaDAF)
                 <li><a  href="#" #if($opcionMenu && $opcionMenu == 16) $seleccionado #end onclick="switchit('','',4); carga(16,'muestraLista'); return false;" alt="Autorizaci&oacute;n DAF">Autorizaci&oacute;n DAF</a></li>
                 <li><a  href="#" #if($opcionMenu && $opcionMenu == 18) $seleccionado #end onclick="switchit('','',4); carga(18,'muestraLista'); return false;" alt="Consulta Sin Financiamiento">Consulta Sin Financiamiento</a></li>
            #end
            #if($autorizaDIRPRE)
              <li><a  href="#" #if($opcionMenu && $opcionMenu == 17) $seleccionado #end onclick="switchit('','',4); carga(17,'muestraLista'); return false;" alt="Autorizaci&oacute;n Sobregiro">Autorizaci&oacute;n Sobregiro</a></li>
            #end   
      	    <li><a  href="#" #if($opcionMenu && $opcionMenu == 4) $seleccionado #end onclick="switchit('','',4); carga(4,'muestraLista'); return false;" alt="Consulta"> Consulta</a></li>
      		###if($autorizaFinanzas)      	
      	    ##<li><a  href="#" #if($opcionMenu && $opcionMenu == 5) $seleccionado #end onclick="switchit('','',4); carga(5,'muestraLista'); return false;" alt="Consulta"> Recepci&oacute;n en Finanzas</a></li>
      	    ###end 
      	    <li><a  href="#" #if($opcionMenu && $opcionMenu == 12) $seleccionado #end onclick="switchit('','',4); carga(12,'muestraIngresadores'); return false;" alt="Ingresadores"> Ingresadores </a></li>     	
    	</ul>
		</div> 
		</div><!--fin menuv-->
	</div><!--fin content-->
</div><!--fin post-->       

<form name="form_ValePago" action="" method="POST" >
	<input type="hidden" name="tipo" value="0">  	
	<input type="hidden" name="accionweb" value=""> 
	<input type="hidden" name="unidad" value="$!unidad">	
	<input type="hidden" name="sedeLista" value="">  
</form> 
<script>
function carga (tipo, pag){    	  

	if(tipo == 1 )
		document.form_ValePago.accionweb.value = "valePagoInterceptorB.cargarMenu";
	else
	    document.form_ValePago.accionweb.value = "valePagoInterceptorB.cargaAutorizaValePago";
		
	 document.form_ValePago.action = "$home/sivB/inc/" + pag + ".html";	
	 document.form_ValePago.target = "_top";
     document.form_ValePago.tipo.value = tipo;  
     if ((tipo == 16 || tipo == 17) && document.getElementById('sedeLista') != null && document.getElementById('sedeLista').value > 0)
         document.form_ValePago.sedeLista.value = document.getElementById('sedeLista').value;
       
     document.form_ValePago.submit();
	    
}

function accionIngresador(rutide, digide,accion, formu){
var continuar = false;
if(accion=='E'){
   if(confirm('Est\u00e1 seguro de Eliminar este ingresador?'))
	   continuar = true;
} else
     continuar = true;
	if(continuar){
    document.formRecarga.digide.value = digide;
    document.formRecarga.rutide.value = rutide;
    document.formRecarga.accion.value = accion;
	document.formRecarga.accionweb.value = "valePagoInterceptorB.cargaAutorizaValePago";
	document.formRecarga.action = "$home/sivB/inc/muestraIngresadores.html";
	document.formRecarga.submit();
	}
}
</script>    
	<iframe name="frameServlet" id="frameServlet"  marginheight="0"   border="0" frameborder="0" src=""></iframe>  	 	         	
</div><!--menucontent--> 