

/**************************************************************

	Sortable Table
	v 1.4

**************************************************************/

.s-table {
	border: 1px solid #ccc;
	width: 100%;
}
/*
.s-th {
	 background-color: #F1F3DC;
	 background: #F1F3DC url(../img/orden/icon-table-sort.png) no-repeat 2px 8px;
	 padding: 4px 4px 4px 14px;
}
*/
.s-th {
    background: #F1F3DC url(../img/orden/icon-table-sort.png) no-repeat 2px 8px;
 	background-color: #F1F3DC;
 	padding: 4px 4px 4px 14px;
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	color:#666666;
	text-decoration:none; 
	font-weight:none;	 
}

.s-th:hover {
	cursor: pointer;
	color: #FF9731;
}


.s-th2 {
 	background-color: #F1F3DC;
 	padding: 4px 4px 4px 6px;
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	color:#666666;
	text-decoration:none; 
	font-weight:none;
}

.s-tr {
	background-color: #fff;
	padding: 4px;
}

.s-td {
	padding: 0 2px;
}

.rightAlign {
	text-align: right;
}



.sortedASC {
 background: url(../img/orden/icon-table-sort-asc.png) no-repeat 2px 4px #F1F3DC;
}

.sortedDESC {
 background: url(../img/orden/icon-table-sort-desc.png) no-repeat 2px 10px #F1F3DC;
}

.tableHeaderOver {
	cursor: pointer;
	color: #778A4E;
}


/*.s-tr.selected {
	background-color: gold;
	color: #fff;
}*/

.s-tr.over {
	background-color:#F7F2E4;
	color: #000;
	cursor: pointer;
}

.s-tr.hide {
	display: none;
}

.s-tr-dest {
   color: #008000;
   background-color:#E5EDE5;	
   padding: 4px;
}

.s-tr-dest.over {
	background-color:#F7F2E4;
	color: #000;
	cursor: pointer;
}

.s-tr-dest.hide {
	display: none;
}

/***************************/
.tableFilter {
	border: 1px solid #ccc;
	padding: 2px;
	margin: 5px 0 10px 0;
}

.tableFilter input {
	border: 1px solid #ccc;
}

.tableFilter select {
	border: 1px solid #ccc;
}


/*************************************************************/
