/* Super Tables v0.30 - MIT Style License --- Copyright (c) 2008 Matt Murphy, www.matts411.com --- Contributors: Joe Gallo */
.sBase{
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;}
	
.sHeader{
	position:absolute;
	z-index:3;
	background-color:#ffffff;}
	
.sHeaderInner{
	position:relative;}
.sHeaderInner table{
	border-spacing:0px 0px !important;
	border-collapse:collapse !important;
	width:1px !important;
	table-layout:fixed !important;
	background-color:#ffffff;}
	
.sFHeader{
	position:absolute;
	z-index:4;
	overflow:hidden;}
	
.sFHeader table{
	border-spacing:0px 0px !important;
	border-collapse:collapse !important;
	width:1px !important;
	table-layout:fixed !important;
	background-color:#ffffff;}
	
.sData{
	position:absolute;
	z-index:2;
	overflow:auto;
	background-color:#ffffff;}
	
.sData table{
	border-spacing:0px 0px !important;
	border-collapse:collapse !important;
	width:1px !important;
	table-layout:fixed !important;}
	
.sFData{
	position:absolute;
	z-index:1;
	background-color:#ffffff;}
	
.sFDataInner{
	position:relative;}
	
.sFData table{
	border-spacing:0px 0px !important;
	border-collapse:collapse !important;
	width:1px !important;
	table-layout:fixed !important;}
	

/* Super Tables - Skin Classes - Remove if not needed */
.sTabla{
	margin:0px;
	padding:0px;
	border:none;
	color:#000000;}
	
.sTabla th, .sTabla td{
	border-right:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
	padding:3px 6px 3px 4px;
	white-space:nowrap;}
	
.sTabla input{
	font-family:"trebuchet ms", helvetica, sans-serif;
	font-size:13px;}	
	
.sTabla th{
	background-color:#F4F4F4;
	font-family:"trebuchet ms", helvetica, sans-serif;
	font-size:12px;}
	
.sTabla-Fixed{
	background-color:#F4F4F4;
	border-color:#c5c5c5;}
	

.fakeContainer { /* The parent container */
	z-index:0;
	position:relative;
    margin-top: 5px;
    padding: 0px;
    border:1px solid #cccccc;
    width: 100%; /* 640px Required to set */
    height: 320px; /* Required to set */
    overflow: hidden; /* Required to set */
}

.alinkt {
	color: #000000;
	text-decoration: none;
}
.alinkt:hover {
	color: #FF6600;
	text-decoration: none;
}