#parse("sgf/inc/topB.vm")
<script language="JavaScript" src="$home/sgf/js/trim.js"></script>
	<div class="post"><!--post-->
	<div class="header"><!--header-->
		<h3>Solicitud de ayudant&iacute;a</h3>
	</div><!--fin header-->
 	<div class="content">			
		<h5B>Ingreso &nbsp;&nbsp;</h5B>
		    </div><!--header-->          
			<div class="content"><!--content-->
		       <form class="login" action="" method="post" name="login_form" >
			 	<table width="100%" border="0" cellspacing="2" cellpadding="5">
			      	<tr>
                	  <td width="20%"><span id="nomIde">Rut ayudante &nbsp;&nbsp; </span></td>
                	  <td>                 	  	
       	                <input type="text" name="rut_aux" size="13" maxlength="13" class="estilo_Azul" value ="$!rut_aux" #if ($listaDatosPersonales && $listaDatosPersonales.size() > 0) readonly #end onKeyPress="enter(event,1);return noenter()" onChange="checkRutField(document.login_form.rut_aux.value, document.login_form);" style="text-align: left;">
       	                #if (!$listaDatosPersonales)
       	                <a href="#" onclick="validar(document.login_form);"><img src="$home/sgf/img/button_search.gif" align="top" alt="Consultar Ayudante" border="0"></a> &nbsp;&nbsp;
                	    <a href="#" onClick="nuevoAyudante('$home/scaB/inc/datosPersonalesAyudante.html'); return false;"  alt="Agregar" >
                	    <img src="$home/sgf/img/agregar2.gif" alt="Agregar" border="0" align="absmiddle"></a> 
                	    #end
                	    #if ($listaDatosPersonales && $listaDatosPersonales.size() > 0)
                	     <a href="#" onClick="modificaAyudante('$home/scaB/inc/datosPersonalesAyudante.html'); return false;"  alt="Modifica" >
                	    	<img src="$home/sgf/img/edit.gif" alt="Agregar" border="0" align="absmiddle"></a> 
                	    #end 
                	    <input type="hidden" name="identificadorDatos" value =""> 
                	    <input type="hidden" name="rutnum" value="$!rutnum">
                		<input type="hidden" name="dvrut" value="$!dvrut">
                	    <input type="hidden" name="accionweb"  value="">
                        <input type="hidden" name="opcionMenu"  value="$!opcionMenu">     
                        <input type="hidden" name="tipo"  value="0">             
					  					  
                	  </td>
                   </tr>
                </table>  
                </form>
                   <span id="detalleDatosPersonales">                               		
					#parse("scaB/inc/detalleSolicitudAyudantia.vm")
					</span>
			</div><!--content-->
			<br />
		</div><!--post-->
#if(!$rut_aux && !$identificador)		
<script language="javascript">
	document.login_form.rut_aux.focus();
</script>
#end		  
<script language="javascript">		
function cargaLogin(){	
    document.login_form.action = "$home/scaB/inc/solicitudAyudantia.html";
	document.login_form.accionweb.value = "contratoAyudantiaInterceptorB.cargaDatosPersonales";
    document.login_form.submit();	
}
function nuevoAyudante(action){	
if(document.login_form.rut_aux.value == ""){
    alert('Debe Ingresar RUT a ingresar');
	document.login_form.rut_aux.focus();
	return false;
	} else {
			document.login_form.action = action;
			document.login_form.accionweb.value = "contratoAyudantiaInterceptorB.cargaDatosPersonales";
			document.login_form.identificadorDatos.value = "1";
		    document.login_form.submit();
    }	
}
function modificaAyudante(action){	
	document.login_form.action = action;
	document.login_form.accionweb.value = "contratoAyudantiaInterceptorB.cargaDatosPersonales";
	document.login_form.identificadorDatos.value = "2";
    document.login_form.submit();	
}
function cargaCarrera(){
if(document.formDatos.sede.value > 0 && document.formDatos.curso.value > 0 && document.formDatos.carrera.value > 0){
	new Ajax.Updater('nomCarrera', '$home/sip/inc/espere.html'); 
    document.formDatos.accionweb.value = "contratoAyudantiaInterceptorB.cargarCarrera";
		new Ajax.Updater('nomCarrera', '$home/scaB/inc/detalleCarrera.html', {
			parameters: { accionweb: document.formDatos.accionweb.value,
			              sede: document.formDatos.sede.value,
			              curso: document.formDatos.curso.value,
			              carrera: document.formDatos.carrera.value}
			});
}
}
function cargaListaSemestre(){
//alert('cargaListaSemestre');
if(document.formDatos.sede.value > 0 ){
   new Ajax.Updater('detalleListaSemestre', '$home/sip/inc/espere.html'); 
   document.formDatos.accionweb.value = "contratoAyudantiaInterceptorB.cargarListaSemestre";
		new Ajax.Updater('detalleListaSemestre', '$home/scaB/inc/detalleListaSemestre.html', {
			parameters: { accionweb: document.formDatos.accionweb.value,
			              sede: document.formDatos.sede.value}
			});
}
}
function cargaTipoAyudantia(){
//alert('cargaTipoAyudantia');
if(document.formDatos.tipoAyudantia.value != ""){
	tipAyudantia = document.formDatos.tipoAyudantia.value;
   	var ind = tipAyudantia.indexOf("@");
	document.formDatos.codayu.value = tipAyudantia.substring(0,ind);
	document.formDatos.canniv.value = tipAyudantia.substring(ind+1);
		
   document.formDatos.accionweb.value = "contratoAyudantiaInterceptorB.cargarDetalleAyudantia";
   if(document.formDatos.canniv.value > 0){
        new Ajax.Updater('detalleTipoAyudantia', '$home/sip/inc/espere.html'); 
 		new Ajax.Updater('detalleTipoAyudantia', '$home/scaB/inc/detalleAyudantiaDocente.html', {
			parameters: { accionweb: document.formDatos.accionweb.value,
			              sede: document.formDatos.sede.value}
			});
			}
	else{
        new Ajax.Updater('detalleTipoAyudantia', '$home/sip/inc/espere.html'); 
 		new Ajax.Updater('detalleTipoAyudantia', '$home/scaB/inc/detalleAyudantiaAdministrativa.html', {
				parameters: { accionweb: document.formDatos.accionweb.value,
				              codayu: document.formDatos.codayu.value}
				});		
		}
}
}
function cargaSubTipoAyudantia(){
//alert('cargaSubTipoAyudantia'+document.getElementById("nivel").value+ '-'+document.formDatos.codayu.value);
if(document.getElementById("nivel").value != ""){
   document.formDatos.codNivel.value = document.getElementById("nivel").value;		
   new Ajax.Updater('detalleSubTipoAyudantia', '$home/sip/inc/espere.html'); 
   document.formDatos.accionweb.value = "contratoAyudantiaInterceptorB.cargarDetalleSubTipoAyudantia";
   new Ajax.Updater('detalleSubTipoAyudantia', '$home/scaB/inc/detalleSubTipoAyudantiaDocente.html', {
			parameters: { accionweb: document.formDatos.accionweb.value,
			              codayu: document.formDatos.codayu.value,
			              nivel: document.getElementById("nivel").value}
			});
		
}
}
function cargaFechas(){
//alert('cargaFechas()' + document.getElementById("semestre").value);
 	periodo = document.getElementById("semestre").value;
   	var ind = periodo.indexOf("@");
	document.formDatos.annio.value = periodo.substring(0,ind);
	document.formDatos.sem.value = periodo.substring(ind+1);
	new Ajax.Updater('detallePeriodoSemestre', '$home/sip/inc/espere.html'); 
    document.formDatos.accionweb.value = "contratoAyudantiaInterceptorB.cargarDetallePeriodoSemestre";
    new Ajax.Updater('detallePeriodoSemestre', '$home/scaB/inc/detallePeriodoSemestre.html', {
			parameters: { accionweb: document.formDatos.accionweb.value,
			              anio: document.formDatos.annio.value,
			              sem: document.formDatos.sem.value}
			});
		
}
function cambiaAsig(valor,selecc){
//alert('cambiaAsig()' );
 	asigna = valor.value;
   	var ind = asigna.indexOf("@");
   	if(selecc == 1){
		document.getElementById("asialf1").value  = asigna.substring(0,ind);
		document.getElementById("asinum1").value  = asigna.substring(ind+1);
	}
	if(selecc == 2){
		document.getElementById("asialf2").value  = asigna.substring(0,ind);
		document.getElementById("asinum2").value  = asigna.substring(ind+1);
	}
	if(selecc == 3){
		document.getElementById("asialf3").value  = asigna.substring(0,ind);
		document.getElementById("asinum3").value  = asigna.substring(ind+1);
	}	
}
function cambiaProf(prof,selecc){
//alert('cargaFechas()' + document.getElementById("semestre").value);
 	profesor = prof.value;
   	var ind = profesor.indexOf("@");
   	if(selecc == 1){
		document.getElementById("rutProf1").value  = profesor.substring(0,ind);
		document.getElementById("digProf1").value  = profesor.substring(ind+1);
	}
	if(selecc == 2){
		document.getElementById("rutProf2").value  = profesor.substring(0,ind);
		document.getElementById("digProf2").value  = profesor.substring(ind+1);
	}
	if(selecc == 3){
		document.getElementById("rutProf3").value  = profesor.substring(0,ind);
		document.getElementById("digProf3").value  = profesor.substring(ind+1);
	}	
}
function calculaTotalSubAyudantia(valor1,hA1,hA2,hA3,action,indice){
//alert('calculaTotalSubAyudantia' + valor1 + '-'+hA1+'-'+hA2+'-'+hA3);
  


   //new Ajax.Updater(action, '$home/sip/inc/espere.html'); 
   document.formDatos.accionweb.value = "contratoAyudantiaInterceptorB.calculaTotalSubAyudantia";
   new Ajax.Updater(action, '$home/scaB/inc/totalSubTipoAyudantia.html', {
			parameters: { accionweb: document.formDatos.accionweb.value,
			              valor1: valor1,
			              hA1: hA1,
			              hA2: hA2,
			              hA3: hA3,
			              indice: indice},            	  
	                      onComplete: function(){calculaTotalMesSubAyudantia();}
			});	
}
function calculaTotalMesSubAyudantia(){
//alert('calculaTotalMesSubAyudantia' );
  new Ajax.Updater('valorTotalMensual', '$home/sip/inc/espere.html'); 
  document.formDatos.accionweb.value = "contratoAyudantiaInterceptorB.calculaTotalMesSubAyudantia";
   new Ajax.Updater('valorTotalMensual', '$home/scaB/inc/totalSubTipoAyudantia.html', {
			parameters: { accionweb: document.formDatos.accionweb.value}
			});		
}
function calculaTotalAdministrativa(){
//alert('calculaTotalAdministrativa' );
   new Ajax.Updater('valorTotalMensual', '$home/sip/inc/espere.html'); 
   document.formDatos.accionweb.value = "contratoAyudantiaInterceptorB.calculaTotalAdministrativa";
   new Ajax.Updater('valorTotalMensual', '$home/scaB/inc/totalSubTipoAyudantia.html', {
			parameters: { accionweb: document.formDatos.accionweb.value,
			valorHora: document.getElementById("valorHora").value,
			cantHora: document.getElementById("cantHora").value}
			});		
}
function registrarSolicitudAyudantia(){
  if(document.login_form.rut_aux.value == "" ){
	  alert('Debe ingresar el rut del ayudante.');
	  document.login_form.rut_aux.focus();
	  return false;
   }

  if(valida()){
	   if(document.getElementById('botonRegistrar')!= null)
	
	     document.formDatos.fechaPeriodoSemInicial.value = document.getElementById("fechaPeriodoSemIni").value;
	     document.formDatos.fechaPeriodoSemFinal.value = document.getElementById("fechaPeriodoSemFin").value;
	     document.formDatos.paral1.value = document.getElementById("paralelo1").value;
	     document.formDatos.paral2.value = document.getElementById("paralelo2").value;
	     document.formDatos.paral3.value = document.getElementById("paralelo3").value;
	 	 document.getElementById('botonRegistrar').style.visibility="hidden";
					
	     document.formDatos.action = "$home/scaB/inc/solicitudAyudantia.html";
		 document.formDatos.target = "_top";
		 document.formDatos.accionweb.value = 'contratoAyudantiaInterceptorB.registraSolicitud';
		 document.formDatos.submit();
	  
  } else alert ('No se puede registrar, faltan datos.');
}
function valida(){
  if(document.formDatos.sede.value == "-1"){
	 alert('Debe seleccionar Sede.');
	 document.formDatos.sede.focus();
	 return false;
  } 
  if(document.formDatos.codOrg.value == "-1"){
	 alert('Debe seleccionar Organización.');
	 document.formDatos.codOrg.focus();
	 return false;
  } 

  if(document.formDatos.tipTrabajo.value == ""){
    alert('Debe ingresar Trabajo a efectuar.');
    document.formDatos.tipTrabajo.focus();
    return false;
   }
  if(document.formDatos.curso.value == ""){
    alert('Debe ingresar Curso.');
    document.formDatos.curso.focus();
    return false;
   }
  if(document.formDatos.carrera.value == ""){
    alert('Debe ingresar Carrera.');
    document.formDatos.carrera.focus();
    return false;
   }
  if(document.getElementById("semestre").value== ""){
    alert('Debe seleccionar semestre.');
    document.getElementById("semestre").focus();
    return false;
   }
   if(document.formDatos.tipoAyudantia.value == ""){
    alert('Debe seleccionar tipo de Ayudantia.');
    document.formDatos.tipoAyudantia.focus();
    return false;
   }
   if(document.formDatos.canniv.value > 0){ /*ayudantia docente*/
     if(document.getElementById("nivel").value == ""){
	    alert('Debe ingresar nivel.');
	    document.getElementById("nivel").focus();
	    return false;
	   }
   if(document.getElementById("profesor1").value == "-1"){
	    alert('Debe seleccionar profesor.');
	    document.getElementById("profesor1").focus();
	    return false;
	   }
   if(document.getElementById("asign1").value == "-1"){
	    alert('Debe seleccionar Asignatura.');
	    document.getElementById("asign1").focus();
	    return false;
	}
   if(document.getElementById("paralelo1").value == "-1"){
	    alert('Debe seleccionar Paralelo.');
	    document.getElementById("paralelo1").focus();
	    return false;
	}
   if(document.getElementById("profesor2").value != "-1"){
	   
	   if(document.getElementById("asign2").value == "-1"){
		    alert('Debe seleccionar Asignatura 2.');
		    document.getElementById("asign2").focus();
		    return false;
		}
	   if(document.getElementById("paralelo2").value == "-1"){
		    alert('Debe seleccionar Paralelo 2.');
		    document.getElementById("paralelo2").focus();
		    return false;
		}
	}
	if(document.getElementById("profesor3").value != "-1"){
	   
	   if(document.getElementById("asign3").value == "-1"){
		    alert('Debe seleccionar Asignatura 3.');
		    document.getElementById("asign3").focus();
		    return false;
		}
	   if(document.getElementById("paralelo3").value == "-1"){
		    alert('Debe seleccionar Paralelo 3.');
		    document.getElementById("paralelo3").focus();
		    return false;
		}
	}
   } else {/*ayudantia administrativa*/
   }
   return true;
}		 
</script> 

<form name="exportarPresup" id="exportarPresup" action="" method="POST" target="_blank" >
	 <input type="hidden" name="anno" value="$anno">
	 <input type="hidden" name="funcionario" value="$funcionario.trim()">
	 <input type="hidden" name="accionweb" value ="">
	 <input type="hidden" name="control" value ="$!control">
	 
</form>

#if($!mensaje)
<script>	
 alert('$!mensaje'); 	 
</script>
#end	
#parse("sgf/inc/bottom.vm")
