#if($listaSemestre && $listaSemestre.size() >  0)
#if ($identificadorConsulta)
   	  <span class="estilo_Azul">	
   	  	#foreach($p in $listaSemestre) 		
    		#if($semAyu && ($semAyu == $p.SEMEST) && ($anoAyu == $p.ANOAYU)) $p.ANOAYU - $p.SEMEST #end 
       	#end
      </span>
  #else	
	<select name="semestre" id="semestre" class="estilo_Azul"  onchange="cargaFechas();">  
	<option value="" >Seleccione</option>
	#foreach ( $p in $listaSemestre)
		<option value="$p.ANOAYU@$p.SEMEST" #if($semAyu && ($semAyu == $p.SEMEST) && ($anoAyu == $p.ANOAYU)) selected #end >$p.ANOAYU - $p.SEMEST</option>
	#end
	</select>

  #end	

#end