#parse("sgf/inc/top.vm")

<script type="text/javascript">
function validarCorriente(){
// if(exipre == 'S')
document.presup.action = "$home/sip/presup.html";
document.presup.accionweb.value = "presupuestoInterceptor.cargaPresup";
document.presup.target = "_parent";
document.presup.submit();
}
function validarNomina(){
// if(exiasi == 'S')
document.presup.action = "$home/sip/presupNomina.html";
document.presup.accionweb.value = "presupuestoInterceptor.cargaPresup";
document.presup.target = "_parent";
document.presup.submit();
}
function otrosIngresos(){
// if(exiing == 'S')
document.presup.action = "$home/sip/presupOtrosing.html";
document.presup.accionweb.value = "presupuestoInterceptor.cargaOtroIng";
document.presup.target = "_parent";
document.presup.submit();
}
</script>
## 03/10/2016 KP - Se cambian nombres de variables y etiquetas 'unidad(es)' por 'organizacion(es)'
##if($unidadesPresup)
#if($organizacionesPresup)
##set($hayUnidades = 'N')
#set($hayOrganizaciones = 'N')
  ##foreach ($lista in $unidadesPresup)
  #foreach ($lista in $organizacionesPresup)
  	#if($lista.exiasi == 'S')
  	   ##set($hayUnidades = 'S')	
  	   #set($hayOrganizaciones = 'S')
	#end
  #end

<div class="post"><!--post-->
	<div class="header"><!--header-->
	    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tabla">
	    	<tr>
	    		<td class="titulo2" nowrap>
	    			Remuneraciones Variables&nbsp;&nbsp;<img src="$home/sgf/img/flecha.gif" align="absmiddle">&nbsp;A&ntilde;o $anno
		    	</td>
		    	<td class="cuenta">
		    		<form name="presup" action="" method="POST" >
                    <input type="hidden" name="accionweb" value="">
                    <input type="hidden" name="anno" value="$anno">
                  <!--  <input type="hidden" name="unidad" value="">-->   
                     <input type="hidden" name="organizacion" value="">   
                    <input type="hidden" name="control" value="$!control"> 
 	
			    	##Unidad &nbsp;
					Organizaci&oacute;n &nbsp;
		    	<!--	<select name="unidades" id="unidades" class="estilo_Azul">-->
 					<select name="organizaciones" id="organizaciones" class="estilo_Azul">		    		
                    <option value="0" selected="selected">Seleccione</option>
					##if($unidadesPresup)
					#if($organizacionesPresup)
						##foreach ($lista in $unidadesPresup)
						#foreach ($lista in $organizacionesPresup)
							#if($lista.exiasi == 'S')
								#set($nombre = $lista.desuni)	
								#if($lista.desuni.length() > 35)
									#set($nombre = $lista.desuni.substring(0,35))
								#end
								##<option value="$lista.coduni@$lista.indmod&$lista.indexi" #if($unidadSeleccionada && $unidadSeleccionada == $lista.coduni) selected #end>$lista.coduni - $nombre</option>
								<option value="$lista.comen4.trim()@$lista.indmod&$lista.indexi" #if($organizacionSeleccionada && $organizacionSeleccionada.trim().equals($lista.comen4.trim())) selected #end>$lista.comen4 - $nombre</option>
							#end	
						#end
					#end
					</select> 
					&nbsp;<a href="#" onclick="cargar(); return false;"><img src="$home/sgf/img/button_search.gif" align="absmiddle" alt="Buscar" border="0"></a>		
					</form>
	    		</td>
	    	</tr>
    	</table>
	##if($hayUnidades == 'N')
	#if($hayOrganizaciones == 'N')
	<div style="padding-left:10px">No tiene asociada presupuestaci&oacute;n para Remuneraciones Variables.</div>
	#end
	<!--<span id="mensaje" style="display:none"><br>No hay Remunaraci&oacute;n Variable para esta Unidad</span>-->
	<span id="mensaje" style="display:none"><br>No hay Remunaraci&oacute;n Variable para esta Organización</span>
	<span id="detallePresupRem">                               		
      #parse("sip/inc/detallePresupRemuneracion.vm")
    </span>
	</div><!--fin header-->
</div><!--post-->

#end		


<script language="javascript">
	function cargar(){
	  	//if (document.presup.unidades.value != 0) {	
	  	if (document.presup.organizaciones.value != 0) {
	  	//par = document.presup.unidades.value;
	  	par = document.presup.organizaciones.value;
        ind = par.indexOf("@");
    	ind2 = par.indexOf("&");
     	codInmod = par.substring(ind+1,ind2);
    	codIndexi = par.substring(ind2+1);
		//codUnidad = par.substring(0,ind);
		codOrganizacion = par.substring(0,ind);
	   	new Ajax.Updater('detallePresupRem', '$home/sgf/inc/espere.html');    
		document.presup.accionweb.value = "presupuestoInterceptor.cargaResultadoPresupRemuneracion";
		new Ajax.Updater('detallePresupRem', '$home/sip/inc/detallePresupRemuneracion.html', {
			parameters: { accionweb: document.presup.accionweb.value,
			             // unidad: codUnidad,
			              organizacion: codOrganizacion,
		            	  anno : document.presup.anno.value,
		            	  control : document.presup.control.value,
		            	  codInmod :codInmod,
		            	  codIndexi : codIndexi}
			});
		}
	   // else alert("Seleccione una Unidad");
	   // else alert("Seleccione una Organizaci\u00F3n");
	}
	

</script>		
#if($!mensaje)
<script>	
cargar();
 alert('$!mensaje');      	 
</script>
#else	
##if($unidadSeleccionada && $unidadSeleccionada > 0 )
#if($organizacionSeleccionada && !$organizacionSeleccionada.trim().equals(""))
	<script type="text/javascript">cargar();</script>
#end	 	
#end
		
#parse("sgf/inc/bottom.vm")