#if($listaPresupInstitucional && $listaPresupInstitucional.size() > 0)
		<table id="tabla" width="100%" border="0" cellspacing="0" cellpadding="2">
            <thead>
              <tr>
                <th valign="middle" class="bordetop" scope="col">Ingresos</th>
                #foreach($annyo in [$annoIni..$annoFin])
                	#if($annyo < $annoFin)
                		<th width="10%" valign="middle" class="bordetop" scope="col">$annyo</th>
                	#else
                		<th width="10%" valign="middle" class="bordetop bordeder" scope="col">$annyo</th>
                	#end                
                #end
              <tr>
            </thead>
             #foreach($lista in $listaPresupInstitucional)
            	#if($lista.indexi.trim().equals("I") && $lista.comen1.indexOf("Total") < 0)
               	<tr>
              		  <td class="texto" nowrap>$lista.comen1</td>
              		  <td class="valor" nowrap>${numbertool.format($lista.pres06)}</td>
		              <td class="valor" nowrap>${numbertool.format($lista.pres05)}</td>
		              <td class="valor" nowrap>${numbertool.format($lista.pres04)}</td>
		              <td class="valor" nowrap>${numbertool.format($lista.pres03)}</td>
		              <td class="valor" nowrap>${numbertool.format($lista.pres02)}</td>
		              <td class="valor bordeder" nowrap>${numbertool.format($lista.pres01)}</td>                                  
            	</tr>
               #end
            #end 
             #foreach($lista in $listaPresupInstitucional)
            	#if($lista.indexi.trim().equals("I") && $lista.comen1.indexOf("Total") == 0)
           <tfoot>
              <tr style="background: #F4F4F4;">
            		  <th class="texto" nowrap>$lista.comen1</th>
              		  <th class="valor" nowrap>${numbertool.format($lista.pres06)}</th>
		              <th class="valor" nowrap>${numbertool.format($lista.pres05)}</th>
		              <th class="valor" nowrap>${numbertool.format($lista.pres04)}</th>
		              <th class="valor" nowrap>${numbertool.format($lista.pres03)}</th>
		              <th class="valor" nowrap>${numbertool.format($lista.pres02)}</th>
		              <th class="valor bordeder" nowrap>${numbertool.format($lista.pres01)}</th>                                  
            </tr>
            </tfoot>  
            #end
            #end
		</table>
		<br />	
		<table id="tabla" width="100%" border="0" cellspacing="0" cellpadding="2">
            <thead>
              <tr>
                <th valign="middle" class="bordetop" scope="col">Egresos</th>
                 #foreach($annyo in [$annoIni..$annoFin])
                	#if($annyo < $annoFin)
                		<th width="10%" valign="middle" class="bordetop" scope="col">$annyo</th>
                	#else
                		<th width="10%" valign="middle" class="bordetop bordeder" scope="col">$annyo</th>
                	#end                
                #end
              <tr>
            </thead> 
            #foreach($lista in $listaPresupInstitucional)
              	#if($lista.indexi.trim().equals("E") && $lista.comen1.indexOf("Total") < 0)
               	<tr>
              		  <td class="texto" nowrap>$lista.comen1</td>
              		  <td class="valor" nowrap>${numbertool.format($lista.pres06)}</td>
		              <td class="valor" nowrap>${numbertool.format($lista.pres05)}</td>
		              <td class="valor" nowrap>${numbertool.format($lista.pres04)}</td>
		              <td class="valor" nowrap>${numbertool.format($lista.pres03)}</td>
		              <td class="valor" nowrap>${numbertool.format($lista.pres02)}</td>
		              <td class="valor bordeder" nowrap>${numbertool.format($lista.pres01)}</td>                                  
            	</tr>
               #end
            #end 
            #foreach($lista in $listaPresupInstitucional)
           	#if($lista.indexi.trim().equals("E") && $lista.comen1.indexOf("Total") == 0)
           	<tfoot>	
            <tr style="background: #F4F4F4;">
         		      <th class="texto" nowrap>$lista.comen1</th>
              		  <th class="valor" nowrap>${numbertool.format($lista.pres06)}</th>
		              <th class="valor" nowrap>${numbertool.format($lista.pres05)}</th>
		              <th class="valor" nowrap>${numbertool.format($lista.pres04)}</th>
		              <th class="valor" nowrap>${numbertool.format($lista.pres03)}</th>
		              <th class="valor" nowrap>${numbertool.format($lista.pres02)}</th>
		              <th class="valor bordeder" nowrap>${numbertool.format($lista.pres01)}</th>                                  
            </tr>
            </tfoot>
            #end
            #end
		</table>
		<br />
			
              	
		<div class="footer">
			<ul> 
			   <li class="graph"><a href="#" onclick="cargarChart('inc/presupChart','presupuestoInterceptor.presupInstitucionalExportar',1);return false;">Ver Gr&aacute;fico Ingresos</a></li> 
	           <li class="graph"><a href="#" onclick="cargarChart('inc/presupChart','presupuestoInterceptor.presupInstitucionalExportar',2);return false;">Ver Gr&aacute;fico Egresos</a></li> 
	           <li class="excel"><a href="#" onclick="exportar('xls','$home/sip/presupInstitucionalExcel.html?anno=$anno','presupuestoInterceptor.exportarAporteFiscal'); return false;">Exportar a Excel</a></li>
              <li class="print"><a href="#" onclick="exportar('pdf','$home/sip/presupInstitucionalPDF.html?anno=$anno','presupuestoInterceptor.exportarAporteFiscal'); return false;">Imprimir</a></li>
			</ul>
		</div>
		&nbsp;&nbsp;Informaci&oacute;n en millones de pesos.
#end
	</div><!--fin content-->
</div><!--fin post-->


