#parse("sgf/inc/top.vm")

<div class="post"><!--post-->
	<div class="header"><!--header-->
		<h3>Indicadores de Gesti&oacute;n </h3>
	</div><!--fin header-->
          

	<div class="content">			
		<h5>$titulo</h5>
		<form name="resumen2" action="" method="POST" >

		<table width="100%" border="0" cellspacing="3" cellpadding="0">
			<tr>
				<td width="13%">A&ntilde;o</td>
				<td>
				<select name="anno" id="anno" class="estilo_Azul" >                        	
       			#if(!$annoselec || $annoselec == 0)
					#set($annoselec = 2017) 
				#end                       	
				#foreach($anno in [2011..2017])
				<option value="$anno" #if($anno == $annoselec) selected #end>$anno</option>
				#end 
				</select>
	            <a href="#" onclick="cargar('$tipo'); return false;"><img src="$home/sgf/img/button_search.gif" align="absmiddle" alt="Buscar" border="0"></a></td>
				</td>
			</tr>
		</table>

		<input name="accionweb"  type="hidden" value="">
		<input name="sucur"  type="hidden" value="">
		<input name="nomSede"  type="hidden" value="">
		<input name="tipo"  type="hidden" value="$!tipo">
		</form>
		<br />
		<span id="detalleIngreso"></span>
	</div><!--fin content-->

	<script language="javascript">
	function cargar(tipo){
	  pag = '$home/sip/presupIndicadorPresp.html';
	  new Ajax.Updater('detalleIngreso', '$home/sip/inc/espere.html'); 	
	 	document.resumen2.accionweb.value = "presupuestoInterceptor.cargaIndicadorPresup"; 
	 	new Ajax.Updater('detalleIngreso', pag, {
			parameters: { parametro : 'ingreso',
			              accionweb : document.resumen2.accionweb.value,
			              anno:document.resumen2.anno.value,
			              tipo: '$tipo'}
			});
	}

	</script>	

</div><!--fin post-->

<script language="javascript">
	 cargar('$tipo');
</script>	 
#parse("sgf/inc/bottom.vm")