#parse("sgf/inc/top.vm")


<div class="post"><!--post-->
	<div class="header"><!--header-->
		<h3>Documentos</h3>
	</div><!--fin header-->
          

	<div class="content">
#if($permisoSimulacion)
        <div style="padding-bottom:12px">Por favor, ingrese el nombre de la carpeta y el archivo a subir</div>
        <table class="estilo_Negro">
        	<tr>
        		<td width="150px">Nombre de la carpeta</td>
		        <td>
		        	<form name="formCarpeta" ACTION="$home/sip/cargacarpeta.html" METHOD="POST" target="cargacarpeta" >
		        	<input type="text" value="$anno" name="carpeta" size="10" class="buttonGris" style="text-align:left;" onChange="document.formCarpeta.submit()">
		        	</form>
		        </td>
		    </tr>
	        <tr>
        		<td>Seleccione el archivo</td>
		        <td>
		        	<FORM name="formUploads" ACTION="$home/sip/uploadfile.html" METHOD="POST" target="ventana" enctype="multipart/form-data">
		        	<INPUT TYPE="FILE" NAME="example" class="buttonGris" style="text-align:left;" onchange="TestFileType(this.value, ['xls', 'XLS', 'xlsx', 'XLSX','doc', 'DOC', 'docx', 'DOCX', 'pdf', 'PDF'],'XLS, XLSX, DOC, DOCX, PDF')">
		            <INPUT TYPE="BUTTON" NAME="enviar" VALUE="Enviar" class="buttonGris2" onClick="validaUpload(['xls', 'XLS', 'xlsx', 'XLSX','doc', 'DOC', 'docx', 'DOCX', 'pdf', 'PDF'],'XLS, XLSX, DOC, DOCX, PDF');">
		            </FORM>
			   </td>
	        </tr>
        </table>
       </div>
      
      	
       
#end	
	  <span id="detalleListaDir"></span>
	  <span id="detalleListaArch"></span>
		
	</div><!--fin content-->
    

</div><!--fin post-->

<script language="javascript">
function cargarListaDir(){
	   	new Ajax.Updater('detalleListaDir', '$home/sip/inc/espere.html');    
		new Ajax.Updater('detalleListaDir', '$home/sip/presupDocumentoListaDir.html', {
			parameters: { evalScripts: true	}
		});
}
</script>	

<script language="javascript">
function cargarListaArch(directorio){
        document.formdir.dir.value = directorio;   
         document.formdir.admin.value = '$!permisoSimulacion';    
	   	new Ajax.Updater('detalleListaArch', '$home/sip/inc/espere.html');    
		new Ajax.Updater('detalleListaArch', '$home/sip/presupDocumentoListaArch.html', {
			parameters: { dir: document.formdir.dir.value,
						  evalScripts: true,
						  admin: document.formdir.admin.value }
		});
}

function deleteArch(file, dir){
    if (confirm("Desea eliminar el archivo " + file + " ?")) { 
		document.formdir.file.value = file; 
		document.formdir.dir.value = dir; 
		document.formdir.action = "$home/sip/deletefile.html";
		document.formdir.target = "Eliminar";
		var par = 'toolbar=no,status=no,menubar=no,scrollbars=yes,resizable=yes';
		var w = Centrar03(document.formdir.target,190,450,par);
		w.focus();
		document.formdir.submit();	
	}
}

function downloadArch(file, dir){
	document.formdir.file.value = file; 
	document.formdir.dir.value = dir; 
	document.formdir.action = "$home/sip/downloadfile.html";
	document.formdir.submit();	
}
</script>	

<form name="formdir" id="formdir" action="" method="POST">
	 <input type="hidden" name="file" value="">
	 <input type="hidden" name="dir" value="">
	 <input type="hidden" name="admin" value="$!permisoSimulacion">
</form>

<script language="javascript">
cargarListaDir();
</script>	

<iframe name="cargacarpeta" src="" frameborder="0" width="1" height="1"></iframe>

#parse("sgf/inc/bottom.vm")