#parse("sgf/inc/top.vm")
<div class="post"><!--post-->
	<div class="header"><!--header-->
		<h3>Series de Tiempo e Informaci&oacute;n Estad&iacute;stica</h3>
	</div><!--fin header-->
          

	<div class="content" style="width:370px">
	              
		<h5>Fondos Gubernamentales para Becas de Arancel</h5>              

		<table id="tabla" width="50%" border="0" cellspacing="0" cellpadding="2">
            <thead>
              <tr>
                <th width="30%" valign="middle" class="bordetop" scope="col">A&ntilde;o</th>
                <th valign="middle" class="bordetop bordeder" scope="col">Total</th>
              <tr>
            </thead>
            #foreach($lista in $listaAporte)
            <tr>
              <td nowrap>${lista.anopre}#if($lista.anopre == 2017)* #end</td>
              <th class="valor bordeder" nowrap>${numbertool.format($lista.pres01)}</th>    
            </tr>
            #end
		</table>
		<br />	
		
		<div class="footer">			
			<ul>   
     		  <li class="graph"><a href="#" onclick="cargarChart('inc/presupChart','presupuestoInterceptor.presupSerieTiempoExportar');return false;">Ver Gr&aacute;fico</a></li> 
	          <li class="excel"><a href="#" onclick="exportar('xls','$home/sip/presupAporteFiscalExcel.html','presupuestoInterceptor.exportarAporteFiscal'); return false;">Exportar a Excel</a></li>
              <li class="print"><a href="#" onclick="exportar('pdf','$home/sip/presupAporteFiscalPDF.html','presupuestoInterceptor.exportarAporteFiscal'); return false;">Imprimir</a></li>
			</ul>
		</div>
		&nbsp;&nbsp;* Presupuesto del a&ntilde;o<br>
		&nbsp;&nbsp;Informaci&oacute;n en millones de pesos.


	</div><!--fin content-->



</div><!--fin post-->


#parse("sgf/inc/bottom.vm")