	#set($seleccionado = "")
	#if($!opcionMenu && $opcionMenu > 0)
	  #set($seleccionado = "style='background-color:#3F7296;color:#fff;'")	
    #end		
		<div id="navigation">
    	<ul class="mainMenu">
    		<li>
      			<a href="javascript:switchit('n1','c1',1);" class="mas" id="c1">Consulta de Proyectos</a>
        		<ul class="subMenu" id="n1">
        			
          			<LI><a #if($opcionMenu && $opcionMenu == 1) $seleccionado #end href="#" onclick="cargaMenuDGAT('$home',7,1,document.form_menu); return false;" alt="Proyectos Asociados"> Asociados</a></LI>
         			<LI><a #if($opcionMenu && $opcionMenu == 2) $seleccionado #end href="#" onclick="cargaMenuDGAT('$home',7,2, document.form_menu); return false;" alt="Proyectos por A&#241o"> Por A&#241o</a></LI>
          			<LI><a #if($opcionMenu && $opcionMenu == 3) $seleccionado #end href="#" onclick="cargaMenuDGAT('$home',7,3, document.form_menu); return false;" alt="Proyectos por Estado"> Por Estado</a></LI>
                	<LI><a #if($opcionMenu && $opcionMenu == 4) $seleccionado #end href="#" onclick="cargaMenuDGAT('$home',7,4, document.form_menu); return false;" alt="Proyectos por Cuenta"> Por Cuenta </a></LI>
               		<LI><a #if($opcionMenu && $opcionMenu == 5) $seleccionado #end href="#" onclick="cargaMenuDGAT('$home',7,5, document.form_menu); return false;" alt="Proyectos por Cliente"> Por Cliente </a></LI>
        		</ul>
        		<script type="text/javascript">initit('n1','c1','');</script>
      		</li>
      		</ul>
		</div>
		<form name="form_menu" action="" method="POST" >
			<input type="hidden" name="accionweb" value="">
			<input type="hidden" name="unidad" value="$codUnidad">
			<input type="hidden" name="nomUnidad" value="$selecUnidad">   
			<input type="hidden" name="control" value="$control">  
			<input type="hidden" name="opcion" value="">   
			<input type="hidden" name="titulo" value=""> 
			<input type="hidden" name="tipo" value="">     
			<input type="hidden" name="opcionMenu" value="$!opcionMenu">   
			<input type="hidden" name="menu" value="">            	
		</form>   
		
