<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html"  />
<meta http-equiv="cache-control" VALUE="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta name="keywords" content="" />
<meta name="description" content="" />

<title>SIIF - Sistema Integrado de Informaci&oacute;n Financiera</title>
<link rel="stylesheet" type="text/css" href="$home/sgf/css/sgf_estilo.css" />
<script src="$home/sgf/js/prototype.js" type="text/javascript"></script>
<script src="$home/sgf/js/centrar.js"></script>
</head>
<body class="body_iframe">

	#if($mes == 1)
      #set($nommes = "Enero")
    #elseif ($mes == 2)
    #set($nommes = "Febrero")
    #elseif ($mes == 3)
    #set($nommes = "Marzo")
    #elseif ($mes == 4)
    #set($nommes = "Abril")
    #elseif ($mes == 5)
    #set($nommes = "Mayo")
    #elseif ($mes == 6)
    #set($nommes = "Junio")
    #elseif ($mes == 7)
    #set($nommes = "Julio")
    #elseif ($mes == 8)
    #set($nommes = "Agosto")
    #elseif ($mes == 9)
    #set($nommes = "Septiembre")
    #elseif ($mes == 10)
    #set($nommes = "Octubre")
    #elseif ($mes == 11)
    #set($nommes = "Noviembre")
    #elseif ($mes == 12)
    #set($nommes = "Diciembre")
#end
	<div id="outer"><!--outer--> 
    <div id="principalcontent2"><!--principalcontent-->
		<!-- principal content start -->                               		
	<div id="inner"><!--inner--> 

	              
			<div class="post">
				<div class="header">
					<h3>Disponibilidad Mensual<!-- (#if($codItem == -1)PRM #else PID #end)--></h3>
                    <h5>Detalle de Movimientos</h5>
			  </div>
         	<div class="content">
			        <!--<table width="100%" border="0" cellspacing="0" cellpadding="5">
                      <tr>
                        <td width="54%" valign="top">-->
                        <table width="100%" border="0" cellspacing="2" cellpadding="5">
                          <tr>
                              <td width="15%">Unidad</td>
                              <td class="estilo_Azul2">$codUnidad - $unidad</td>
                            </tr>
                            <tr>
                              <td>Periodo</td>
                              <td class="estilo_Azul2">$nommes - $anno </td>
                            </tr>
                             #if($codItem >= 0)
                             <tr>
                              <td>Item</td>
                              <td class="estilo_Azul2">$codItem - $nomItem </td>
                             </tr>
                             #end                           
                        </table>                          
                        <!--
                        </td>                        
                        <td width="46%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="5">
                          <tr>
                            <td>Presupuesto del mes</td>
                            <td align="right" class="estilo_Azul2">$</td>
                            <td class="estilo_Azul2 valor">${numbertool.format($!presum)}</td>
                          </tr>
                          <tr>
                            <td>Gasto del mes</td>
                            <td align="right" class="estilo_Azul2">$</td>
                            <td class="estilo_Azul2 valor">${numbertool.format($!usadom)}</td>
                          </tr>
                          <tr>
                            <td>%</td>
                            <td align="right" class="estilo_Azul2">&nbsp;</td>
                            <td class="estilo_Azul2 valor">${numbertool.format($!porc)}</td>
                          </tr>
                          <tr>
                            <td>Saldo del mes</td>
                            <td align="right" class="estilo_Azul2">$</td>
                            <td class="estilo_Azul2 valor">${numbertool.format($!diferencia)}</td>
                          </tr>
                          <tr>
                            <td>Presupuesto Acumulado del mes</td>
                            <td align="right" class="estilo_Azul2">$</td>
                            <td class="estilo_Azul2 valor">${numbertool.format($!preSac)}</td>
                          </tr>
                          <tr>
                            <td>Gasto Acumulado del mes</td>
                            <td align="right" class="estilo_Azul2">$</td>
                            <td class="estilo_Azul2 valor">${numbertool.format($!usaDac)}</td>
                          </tr>
                             <tr>
                            <td>%</td>
                            <td align="right" class="estilo_Azul2">&nbsp;</td>
                            <td class="estilo_Azul2 valor">${numbertool.format($!porc2)}</td>
                          </tr>
                             <tr>
                            <td>Saldo disponible al mes</td>
                            <td align="right" class="estilo_Azul2">$</td>
                            <td class="estilo_Azul2 valor">${numbertool.format($!diferencia2)}</td>
                          </tr>
                        </table></td>
                      </tr>
                    </table>-->
                  <br />
                  <table id="tabla" width="100%" border="0" cellspacing="0" cellpadding="2">
                    <thead>
                      <tr>
                      	
                      #if($codItem == -1)
                        <th colspan="2" class="bordetop texto" scope="col">&Iacute;tem</th>
                      #end  
                        <th width="16%" scope="col" class="bordetop texto">Movimiento</th>
                        <th width="14%" scope="col" class="bordetop">Documento</th>
                        <th width="12%" scope="col" class="bordetop">Fecha</th>
                        <th width="24%" scope="col" class="bordetop texto">Identificador</th>
                        <th width="13%" scope="col" class="bordetop bordeder valor">Valor $</th>
                    </thead>
                    #set($total = 0)
                    #foreach($detalle in $detalleMovimiento)
                    	   #set($total = $total + $!detalle.valdoc)
                    	   #set($fecha = $detalle.fecdoc + "")
                    	   #set($diaFecha = "")
                    	   #set($mesFecha = "")
                    	   #set($annoFecha = "")
                    	    #if($fecha.length() == 8)
                    	    	#set($diaFecha = $fecha.substring(0,2))
                    	    	#set($mesFecha = $fecha.substring(2,4))
                    	    	#set($annoFecha = $fecha.substring(4))
                    	    #else
                    	    	#set($diaFecha = "0" + $fecha.substring(0,1))
                    	    	#set($mesFecha = $fecha.substring(1,3))
                    	    	#set($annoFecha = $fecha.substring(3))
    	                    #end
    	                  
                    <tr>
                    #if($codItem == -1)	
                      <td >$detalle.itedoc </td>
                      <td class="texto">$detalle.desite</td>
                      #end
                      <td class="texto">$detalle.nomtip</td>
                      <td>$detalle.numdoc</td>
                      <td>$diaFecha/$mesFecha/$annoFecha</td>
                      <td class="texto">$detalle.nompro</td>
                      <td class="bordeder valor" nowrap>${numbertool.format($!detalle.valdoc)}</td>
                    </tr>
                    #end
                    <tfoot>
                    <tr>
                      #if($codItem == -1)	
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                       #end
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>                                          
                      <th class="texto" scope="col">Total</th>
                      <th nowrap="nowrap" class="bordeder valor" scope="col">${numbertool.format($total)}</th>                   
                      </tr>
                    </tfoot>
                  </table>
			  </div>
              <br />
       			
		
              <div class="footer">
				<ul>
                      <li class="excel"><a href="#" onclick="exportar('xls','$home/sip/informeMovDisponibleExcel.html'); return false;">Exportar a Excel</a></li>
                      <li class="print"><a href="#" onclick="exportar('pdf','$home/sip/informeMovDisponibilidad.html'); return false;">Imprimir</a></li> 
                     <li class="cerrar"><a href="#" onclick="cerrar(); return false;">Cerrar</a></li>
	            </ul>
			  </div>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Indica que  se encuentra en proceso
		</div> <!--post -->
	</div>
    <form name="formDetalle" action="" method="POST" >
    <input type="hidden" name="accionweb" value="">
    <input type="hidden" name="extension" value="">   
    <input type="hidden" name="unidad" value="$codUnidad">  
    <input type="hidden" name="nomunidad" value="$codUnidad - $unidad">  
    <input type="hidden" name="mes" value="$mes"> 
    <input type="hidden" name="anno" value="$anno">    
    <input type="hidden" name="item" value="$codItem">  
    <input type="hidden" name="nomitem" value="#if($codItem != -1) $codItem - $nomItem #end"> 
    <input type="hidden" name="periodo" value="$nommes - $anno"> 
    <input type="hidden" name="presum" value="$!presum"> 
    <input type="hidden" name="usadom" value="$!usadom"> 
    <input type="hidden" name="porc" value="$!porc"> 
    <input type="hidden" name="diferencia" value="$!diferencia"> 
    <input type="hidden" name="preSac" value="$!preSac"> 
    <input type="hidden" name="usaDac" value="$!usaDac"> 
    <input type="hidden" name="porc2" value="$!porc2">  
    <input type="hidden" name="diferencia2" value="$!diferencia2"> 
    <input type="hidden" name="nomUnidad" value="$codUnidad - $unidad">  
    </form>   
    <script>
	function cerrar(){
	   window.close();
    }
	
  function exportar(extension, pagina){
    document.formDetalle.accionweb.value = "presupuestoInterceptor.exportarDetalleMovimiento";
    document.formDetalle.extension.value = extension;
    document.formDetalle.action = pagina;
    if (extension != "xls") {
    	document.formDetalle.target = "ventana2";
    	var par = 'toolbar=no,status=no,menubar=no,scrollbars=yes,resizable=yes';
    	var w = Centrar03(document.formDetalle.target,500,650,par);
    }
    document.formDetalle.submit();
    }
    </script>	
   
	<div id="footer"><!--footer-->
		&copy; Universidad T&eacute;cnica Federico Santa Mar&iacute;a
	</div><!--footer-->
	
    </div><!--inner--> 
    <div id="btbg"></div><!--btbg--> 
</div><!--outer--> 
</body>
</html>