   #if($detalleEjecucion)
   <table id="tabla" width="100%" border="0" cellspacing="0" cellpadding="2">
                    <thead>
                      <tr>
                        <th colspan="2" class="bordetop" scope="col">&Iacute;tem</th>
                        <th width="13%" class="bordetop" scope="col">Presupuesto<br>Mes $</th>
                        <th width="13%" class="bordetop" scope="col">Gasto Real<br>Mes $</th>
                        <th width="5%" class="bordetop" scope="col">%</th>
                        <th width="13%" class="bordetop" scope="col">Presupuesto<br>Acumulado $</th>
                        <th width="13%" class="bordetop" scope="col">Gasto Real<br>Acumulado $</th>
                        <th width="5%" class="bordetop" scope="col">%</th>
                        <th width="13%" class="bordetop" scope="col">Presupuesto<br>Anual $</th>
                        <th width="5%" class="bordetop" scope="col">%</th>
                        <td width="1%">&nbsp;</td>  
                    </thead>
                    #set($sumpresum = 0)
                    #set($sumusadom = 0)
                    #set($sumporc = 0)
                    #set($sumpresac = 0)
                    #set($sumusadac = 0)
                    #set($sumporc2 = 0)
                    #set($sumporc3 = 0)
                    #set($sumpreano = 0)
                    #set($porc = 0)
                    #set($porc2 = 0)
                    #set($porc3 = 0)
                     #foreach($lista in $detalleEjecucion) 
                     	   #if($lista.presum != 0 && $lista.usadom != 0)
	                    	#set($porc = $mathtool.div($lista.usadom ,$lista.presum) )
	                    	#set($porc = $mathtool.mul($porc,100))
	                    #else
	                        #set($porc = 0)
	                    #end
	                    #if($lista.usadac != 0  && $lista.presac != 0)
	                    	#set($porc2 = $mathtool.div($lista.usadac, $lista.presac ))
	                    	#set($porc2 = $mathtool.mul($porc2,100))
	                    #else
	                        #set($porc2 = 0)
                    	#end 
                    	#if($lista.usadac != 0  && $lista.preano != 0)
	                    	#set($porc3 = $mathtool.div($lista.usadac, $lista.preano ))
	                    	#set($porc3 = $mathtool.mul($porc3,100))
	                    #else
	                        #set($porc3 = 0)
                    	#end                 
                    <tr>
                      <td width="3%">$lista.itedoc</td>
                      <td class="texto" >$lista.desite</td>
                      <td class="valor" nowrap>${numbertool.format($!lista.presum)}</td>
                      <td class="valor" nowrap>${numbertool.format($!lista.usadom)}</td>
                      <td class="valor" nowrap>$mathtool.round($porc)</td>
                      <td class="valor" nowrap>${numbertool.format($!lista.presac)}</td>
                      <td class="valor" nowrap>${numbertool.format($!lista.usadac)}</td>
                      <td class="valor" nowrap>$mathtool.round($porc2)</td>
                      <td class="valor" nowrap>${numbertool.format($!lista.preano)}</td>
                      <td class="valor" nowrap>$mathtool.round($porc3)</td>
                      <td class="bordeder" scope="col">               	
                        #if($lista.indhay == "S" )   
					  <div id="menu_row">
						<ul>
  							<li><a href="#" onclick="return false;" class="nivel"></a>
							<ul>
								<li><a href="#" onclick="DetalleEjec($!lista.itedoc, 'fd', $!lista.nummes,$!lista.presum,$!lista.usadom,$mathtool.roundTo(2,$porc),$!lista.presac,$!lista.usadac,$mathtool.roundTo(2,$porc2),$mathtool.roundTo(2,$porc3), $lista.preano); return false;" >Ver Movimientos</a></li>
							</ul>
							</li>
						</ul>
					  </div>                        	               
                      #else &nbsp; #end
                     </td>                                                       
                    </tr>
                    #set($sumpresum = $sumpresum + $lista.presum)
                    #set($sumusadom = $sumusadom + $lista.usadom)
                    #set($sumporc = $sumporc + $porc)
                    #set($sumpresac = $sumpresac + $lista.presac)
                    #set($sumusadac = $sumusadac + $lista.usadac)
                    #set($sumporc2 = $sumporc2 + $porc2)
                    #set($sumporc3 = $sumporc3 + $porc3)
                    #set($sumpreano = $sumpreano + $!lista.preano)
                    #end
                   <tfoot>
                    <tr>
                      <th colspan="2" scope="col">Total</th>
                      <th class="valor" scope="col" nowrap>${numbertool.format($!sumpresum)}</th>
                      <th scope="col" class="valor" nowrap>${numbertool.format($!sumusadom)}</th>
                      <th scope="col" nowrap>&nbsp;</th>
                      <th class="valor" scope="col" nowrap>${numbertool.format($!sumpresac)}</th>
                      <th class="valor" scope="col" nowrap>${numbertool.format($!sumusadac)}</th>                   
                      <th scope="col" nowrap>&nbsp;</th>
                      <th scope="col" class="valor" nowrap>${numbertool.format($!$sumpreano)}</th>
                      <th scope="col" class="bordeder" nowrap>&nbsp;</th>
                      <td>&nbsp;</td>
                    </tr>
                    </tfoot>
                  </table>
                     <br />			
              <div class="footer">
		       <ul>   
		          <li class="excel"><a href="#" onclick="exportar('xls','$home/sip/informeEjecucionExcel.html'); return false;">Exportar a Excel</a></li>
                  <li class="print"><a href="#" onclick="exportar('pdf','$home/sip/informeEjecucion.html'); return false;">Imprimir</a></li>
	            </ul>
			  </div>
			  &nbsp;&nbsp;* Indica que hay documentos en proceso

#else
<div class="">No se encuentran registros para esta consulta</div>              
 #end             

           	
<form name="detalle" action="" method="POST" >
<input type="hidden" name="accionweb" value="">
<input type="hidden" name="unidad" value="">
<input type="hidden" name="item" value="">
<input type="hidden" name="nomItem" value="">
<input type="hidden" name="anno" value="$anno">
<input type="hidden" name="mes" value="">
<input type="hidden" name="presum" value="">
<input type="hidden" name="usadom" value="">
<input type="hidden" name="porc" value="">
<input type="hidden" name="usaDac" value=""> 
<input type="hidden" name="preSac" value=""> 
<input type="hidden" name="codUnidad" value="$codUnidad">
<input type="hidden" name="nomUnidad" value="$nomUnidad">
<input type="hidden" name="extension" value=""> 
<input type="hidden" name="porc2" value="">  
<input type="hidden" name="porc3" value=""> 
<input type="hidden" name="preAno" value=""> 
<input type="hidden" name="sumpresac" value="">
<input type="hidden" name="sumsadac" value="">
<input type="hidden" name="ejecucion" value="">
<input type="hidden" name="nomMes" value="$nomMes">
</form>
<form name="exportarPresup" action="" method="POST" >
	<input type="hidden" name="accionweb" value="">
	<input type="hidden" name="anno" value="$anno">
	<input type="hidden" name="codUnidad" value="$codUnidad">
	<input type="hidden" name="nomUnidad" value="$nomUnidad">
</form>     