#if($listaIngresoMencion)
<div style="float:left; width:100px">Campus</div><div class="estilo_Azul">$nomSede </div>
<div style="float:left; width:100px">Departamento</div><div class="estilo_Azul">$nomUni </div>
<div style="float:left; width:100px">Carrera </div><div class="estilo_Azul">$nomDoc </div>

   <div class="fakeContainer">
			<table id="demoTableMencion">                     
                    <tr>
                        <th colspan="2" rowspan="2" valign="bottom" class="bordetop" scope="col">Menci&oacute;n</th>
                        <th width="6%" rowspan="2" valign="bottom" class="bordetop" scope="col">Total Aranceles</th>
                        <th colspan="8" valign="bottom" scope="col">Ingresos generados en el periodo</th>
                        <th width="6%" rowspan="2" valign="bottom" class="bordetop" scope="col">Total Ingresos</th>
                        <th width="6%" rowspan="2" valign="bottom" class="bordetop" scope="col">Saldo del A&ntilde;o</th>
                        <th width="6%" rowspan="2" valign="bottom" class="bordetop" scope="col">% Morosidad</th>
                        <th width="6%" rowspan="2" valign="bottom" class="bordetop" scope="col">Pagos Posteriores</th>
                        <th width="6%" rowspan="2" valign="bottom" class="bordetop" scope="col">Saldo Actual</th>
                        <th width="6%" rowspan="2" valign="bottom" class="bordetop" scope="col">% Morosidad</th>
                      </tr>
                      <tr>
                      	<th width="6%" valign="bottom" scope="col">Pago por Caja</th>
                        <th width="6%" valign="bottom" scope="col">Cred. Univ.</th>
                        <th width="6%" valign="bottom" scope="col">Becas Gobierno</th>
                        <th width="6%" valign="bottom" scope="col">Becas Privadas</th>
                        <th width="6%" valign="bottom" scope="col">Becas USM</th>
                        <th width="6%" valign="bottom" scope="col">CAE</th>
                        <th width="6%" valign="bottom" scope="col">Gratuidad Estado</th>
                        <th width="6%" valign="bottom" scope="col">Dif. por Gratuidad</th
              
                      </tr>
                 #set($totalpres01 = 0)
                    #set($totalpres02 = 0)
                    #set($totalpres03 = 0)
                    #set($totalpres04 = 0)
                    #set($totalpres05 = 0)
                    #set($totalpres06 = 0)
                    #set($totalpres07 = 0)
                    #set($totalpres08 = 0)
                    #set($totalpres09 = 0)
                    #set($totalpres10 = 0)
                    #set($totaltotpre = 0)  
                    #set($totalpres11 = 0)
                    #set($totalpres12 = 0)
                    #set($totalMorosidad1 = 0)
                    #set($totalMorosidad2 = 0)
                    #set($totalSaldoAno = 0)
					#set($totalSaldoActual = 0)
					#set($totalArancel = 0)
                    
                    #foreach($lista in $listaIngresoMencion)
                 	    #set($porc = $mathtool.roundTo(1,$mathtool.div($lista.pres10, 100)))
                    	#set($porc2 = $mathtool.roundTo(1,$mathtool.div($lista.valuni, 100)))
                        #set($totalpres01 = $totalpres01 + $lista.pres01)
                        #set($totalpres02 = $totalpres02 + $lista.pres02)
                    	#set($totalpres03 = $totalpres03 + $lista.pres03)
                    	#set($totalpres04 = $totalpres04 + $lista.pres04)
                    	#set($totalpres05 = $totalpres05 + $lista.pres05)
                    	#set($totalpres06 = $totalpres06 + $lista.pres06)
                    	#set($totalpres07 = $totalpres07 + $lista.pres07)
                    	#set($totalpres10 = $totalpres10 + $lista.pres10)
                    	#set($totaltotpre = $totaltotpre + $lista.totpre)  
                    	#set($totalpres08 = $totalpres08 + $lista.pres08)
                    	#set($totalpres09 = $totalpres09 + $lista.pres09)
                    	#set($totalpres11 = $totalpres11 + $lista.pres11)
                    	#set($totalpres12 = $totalpres12 + $lista.pres12)
                  	    #set($totalSaldoAno = $totalSaldoAno + $lista.pres09 )
						#set($totalSaldoActual = $totalSaldoActual + $lista.pres12)
						#set($totalArancel = $totalArancel + $lista.pres01)
      
                    <tr>
                      <td class="texto" >$lista.coduni</td>
                      <td class="texto" >$lista.comen1</td>  
                      <td class="valor" nowrap> ${numbertool.format($lista.pres01)}</td>
                      <td class="valor" nowrap>${numbertool.format($lista.pres02)}</td>
                      <td class="valor" nowrap>${numbertool.format($lista.pres03)}</td>
                      <td class="valor" nowrap>${numbertool.format($lista.pres04)}</td>
                      <td class="valor" nowrap>${numbertool.format($lista.pres05)}</td>
                      <td class="valor" nowrap>${numbertool.format($lista.pres06)}</td>
                      <td class="valor" nowrap>${numbertool.format($lista.pres07)}</td>
                      <td class="valor" nowrap>${numbertool.format($lista.pres10)}</td>
                      <td class="valor" nowrap>${numbertool.format($lista.totpre)}</td>   
                      <td class="valor" nowrap>${numbertool.format($lista.pres08)}</td>
                      <td class="valor" nowrap>${numbertool.format($lista.pres09)}</td>
                      <td class="valor" nowrap>${numbertool.format($porc)}</td>
                      <td class="valor" nowrap>${numbertool.format($lista.pres11)}</td>
                      <td class="valor" nowrap>${numbertool.format($lista.pres12)}</td>
                      <td class="valor bordeder" nowrap >${numbertool.format($porc2)}</td>
                    </tr>
                   #end
                        #set($totalMorosidad1 = $mathtool.roundTo(1,$mathtool.mul($mathtool.div($totalSaldoAno,$totalArancel),100)))
                    	#set($totalMorosidad2 = $mathtool.roundTo(1,$mathtool.mul($mathtool.div($totalSaldoActual,$totalArancel),100)))
                   <tr style="background: #F4F4F4;">
                      <th colspan="2" scope="col">Total</th>
                      <th scope="col" class="valor" nowrap>${numbertool.format($totalpres01)}</th>
                      <th scope="col" class="valor" nowrap>${numbertool.format($totalpres02)}</th>
                      <th scope="col" class="valor" nowrap>${numbertool.format($totalpres03)}</th>
                      <th scope="col" class="valor" nowrap>${numbertool.format($totalpres04)}</th>
                      <th scope="col" class="valor" nowrap>${numbertool.format($totalpres05)}</th>                   
                      <th scope="col" class="valor" nowrap>${numbertool.format($totalpres06)}</th>
                      <th scope="col" class="valor" nowrap>${numbertool.format($totalpres07)}</th>
                      <th scope="col" class="valor" nowrap>${numbertool.format($totalpres10)}</th>
                      <th scope="col" class="valor" nowrap>${numbertool.format($totaltotpre)}</th>   
                      <th scope="col" class="valor" nowrap>${numbertool.format($totalpres08)}</th>
                      <th scope="col" class="valor" nowrap>${numbertool.format($totalpres09)}</th>
                      <th scope="col" class="valor" nowrap>${numbertool.format($totalMorosidad1)}</th>
                      <th scope="col" class="valor" nowrap>${numbertool.format($totalpres11)}</th>
                      <th scope="col" class="valor" nowrap>${numbertool.format($totalpres12)}</th>
                      <th scope="col" class="valor bordeder" nowrap>${numbertool.format($totalMorosidad2)}</th>
                    </tr>
                  </table>
              </div>
              <br />			
              <div class="footer">
		       <ul>   
		          <li class="graph"><a href="#" onclick="cargarChart('inc/presupChart','presupuestoInterceptor.presupIngresoExportar',0);return false;">Ver Gr&aacute;fico</a></li>
		          <li class="excel"><a href="#" onclick="exportar('xls','$home/sip/presupIngresoExcel.html','presupuestoInterceptor.exportarIngreso'); return false;">Exportar a Excel</a></li>
                  <li class="print"><a href="#" onclick="exportar('pdf','$home/sip/presupIngresoPDF.html','presupuestoInterceptor.exportarIngreso'); return false;">Imprimir</a></li>
	              <li class="back"><a href="#" onclick="volver();return false;">Volver</a></li>
	            </ul>
			  </div>
			  ##&nbsp;&nbsp;Informaci&oacute;n en millones de pesos.
#end
