#parse("sgf/inc/top.vm")
#foreach($lista in $listaMenu)
	#if($lista.numdoc == 60)
		#set($permisoSimulacion = 1)
	#end
#end

<script type="text/javascript" languaje="javascript">
 function eliminarReq(valor, mes, numReq){
	var respuesta=confirm('Est\u00e1 seguro de eliminar el Requerimiento Nro ' + numReq + '?');
    if (respuesta!=true)
      return false;
      else {
      document.detalleItemPresup.action = '$home/sip/inc/presupItemreq.html';
      document.detalleItemPresup.accionweb.value = 'presupuestoInterceptor.eliminaReq';
      document.detalleItemPresup.mes.value = mes;
      document.detalleItemPresup.sucur.value = numReq;
      document.detalleItemPresup.target = '_top';
      document.detalleItemPresup.submit();
 
      }
      
}    

</script>
	<div class="post"><!--post-->
		<div class="header"><!--header-->
			<h3>Solicitud de Presupuestaci&oacute;n&nbsp;&nbsp;<img src="$home/sgf/img/flecha.gif" align="absmiddle">&nbsp;A&ntilde;o $anno</h3>
		</div><!--header-->  
		<div class="content"><!--content-->
			<table width="98%" border="0" align="center" cellpadding="0" cellspacing="3">
			<tr>
				<td>Unidad</td>
				<td class="estilo_Azul">$nomUnidad</td>
			</tr>	
			<tr>
				<td width="140">&Iacute;tem</td>
				<td width="813" class="estilo_Azul">$nomItem</td>
			</tr>                    
			</table>
			
			<p style="padding:10px">
			<font color="#990000">OBRAS DE MANTENCI&Oacute;N:</font>
			Aquellas destinadas a conservar la calidad de las terminaciones y de las instalaciones de 
			edificios existentes, tales como el cambio de hojas de puertas y ventanas, los estucos, los 
			arreglos de pavimentos, cielos, cubiertas y canales de aguas lluvias, pintura, papeles y la 
			colocaci&oacute;n de ca&ntilde;er&iacute;as o canalizaci&oacute;n de aguas, desag&uuml;es, 
			alumbrado y calefacci&oacute;n.
			</p>

			<table id="tabla" width="98%" border="0" align="center" cellpadding="2" cellspacing="0">
			<thead>
			<tr>
				<th class="bordetop texto" width="15%">Mes</th>
				<th class="bordetop texto" width="70%">Requerimientos</th>
				<th class="bordetop bordeder valor" width="15%">Total $</th>
			</tr>
			</thead>
			<tr>
				<th class="texto">ENERO</th>
				<td class="texto">
				<div style="float:left">
				#foreach ($lista in $presupItemreq)	
            	#if($lista.mespre == 1 && $lista.totpre > 0) 
                <a href="#" onClick="cargaItemDet('$home',$lista.mespre,$lista.numreq,$!enero); return false;"><img src="$home/sgf/img/bullet.gif" border="0" align="absmiddle"> $lista.comen1 $lista.comen2</a> <b>($${numbertool.format($lista.totpre)})</b>
                <a href="#" onClick="eliminarReq('$home',$lista.mespre,$lista.numreq); return false;"  alt="Eliminar" > 
		        <img src="$home/sgf/img/borrar.gif" alt="Eliminar" border="0" align="absmiddle"></a><br />
                #end
				#end    
				</div>
				#if(!$fechaTope || $permisoSimulacion == 1)<div style="float:right"><span class="texto-mini"><a href="#" onClick="cargaItemDet('$home',1,0, 0); return false;">Ingrese <img src="$home/sgf/img/add.gif" alt="Nuevo" border="0" align="absmiddle"></a></span></div>#end
				</td>
				<td class="valor bordeder">${numbertool.format($!enero)}</td>
			</tr>
			<tr>
				<th class="texto">FEBRERO</th>
				<td class="texto">
				<div style="float:left">
				#foreach ($lista in $presupItemreq)
				#if($lista.mespre == 2 && $lista.totpre > 0)      
				<a href="#" onClick="cargaItemDet('$home',$lista.mespre,$lista.numreq,$!febrero); return false;"><img src="$home/sgf/img/bullet.gif" border="0" align="absmiddle"> $lista.comen1 $lista.comen2</a> <b>($${numbertool.format($lista.totpre)})</b>
				<a href="#" onClick="eliminarReq('$home',$lista.mespre,$lista.numreq); return false;"  alt="Eliminar" > 
		        <img src="$home/sgf/img/borrar.gif" alt="Eliminar" border="0" align="absmiddle"></a><br />
                #end
				#end 
				</div>
				#if(!$fechaTope || $permisoSimulacion == 1)<div style="float:right"><span class="texto-mini"><a href="#" onClick="cargaItemDet('$home',2,0,0); return false;">Ingrese <img src="$home/sgf/img/add.gif" alt="Nuevo" border="0" align="absmiddle"></a></span></div>#end
				</td>
				<td class="valor bordeder">${numbertool.format($!febrero)}</td>
			</tr>          
			<tr>
				<th class="texto">MARZO</th>
				<td class="texto">
				<div style="float:left">
				#foreach ($lista in $presupItemreq)
				#if($lista.mespre == 3 && $lista.totpre > 0)      
				<a href="#" onClick="cargaItemDet('$home',$lista.mespre,$lista.numreq,$!marzo); return false;"><img src="$home/sgf/img/bullet.gif" border="0" align="absmiddle"> $lista.comen1 $lista.comen2</a> <b>($${numbertool.format($lista.totpre)})</b>
				<a href="#" onClick="eliminarReq('$home',$lista.mespre,$lista.numreq); return false;"  alt="Eliminar" > 
		        <img src="$home/sgf/img/borrar.gif" alt="Eliminar" border="0" align="absmiddle"></a><br />
				#end
				#end                 
				</div>
				#if(!$fechaTope || $permisoSimulacion == 1)<div style="float:right"><span class="texto-mini"><a href="#" onClick="cargaItemDet('$home',3,0,0); return false;">Ingrese <img src="$home/sgf/img/add.gif" alt="Nuevo" border="0" align="absmiddle"></a></span></div>#end
				</td>
				<td class="valor bordeder">${numbertool.format($!marzo)}</td>
			</tr>
			<tr>
				<th class="texto">ABRIL</th>
				<td class="texto">
				<div style="float:left">
				#foreach ($lista in $presupItemreq)
				#if($lista.mespre == 4 && $lista.totpre > 0)      
				<a href="#" onClick="cargaItemDet('$home',$lista.mespre,$lista.numreq,$!abril); return false;"><img src="$home/sgf/img/bullet.gif" border="0" align="absmiddle"> $lista.comen1 $lista.comen2</a> <b>($${numbertool.format($lista.totpre)})</b>
				<a href="#" onClick="eliminarReq('$home',$lista.mespre,$lista.numreq); return false;"  alt="Eliminar" > 
		        <img src="$home/sgf/img/borrar.gif" alt="Eliminar" border="0" align="absmiddle"></a><br />
				#end
				#end
				</div>
				#if(!$fechaTope || $permisoSimulacion == 1)<div style="float:right"><span class="texto-mini"><a href="#" onClick="cargaItemDet('$home',4,0,0); return false;">Ingrese <img src="$home/sgf/img/add.gif" alt="Nuevo" border="0" align="absmiddle"></a></span></div>#end
				</td>
				<td class="valor bordeder">${numbertool.format($!abril)}</td>
			</tr>
			<tr>
				<th class="texto">MAYO</th>
				<td class="texto">
				<div style="float:left">
				#foreach ($lista in $presupItemreq)
				#if($lista.mespre == 5 && $lista.totpre > 0)      
				<a href="#" onClick="cargaItemDet('$home',$lista.mespre,$lista.numreq,$!mayo); return false;"><img src="$home/sgf/img/bullet.gif" border="0" align="absmiddle"> $lista.comen1 $lista.comen2</a> <b>($${numbertool.format($lista.totpre)})</b>
				<a href="#" onClick="eliminarReq('$home',$lista.mespre,$lista.numreq); return false;"  alt="Eliminar" > 
		        <img src="$home/sgf/img/borrar.gif" alt="Eliminar" border="0" align="absmiddle"></a><br />
				#end
				#end
				</div>
				#if(!$fechaTope || $permisoSimulacion == 1)<div style="float:right"><span class="texto-mini"><a href="#" onClick="cargaItemDet('$home',5,0,0); return false;">Ingrese <img src="$home/sgf/img/add.gif" alt="Nuevo" border="0" align="absmiddle"></a></span></div>#end
				</td>
				<td class="valor bordeder">${numbertool.format($!mayo)}</td>
			</tr>         
			<tr>
				<th class="texto">JUNIO</th>
				<td class="texto">
				<div style="float:left">
				#foreach ($lista in $presupItemreq)
				#if($lista.mespre == 6 && $lista.totpre > 0)      
				<a href="#" onClick="cargaItemDet('$home',$lista.mespre,$lista.numreq,$!junio); return false;"><img src="$home/sgf/img/bullet.gif" border="0" align="absmiddle"> $lista.comen1 $lista.comen2</a> <b>($${numbertool.format($lista.totpre)})</b>
				<a href="#" onClick="eliminarReq('$home',$lista.mespre,$lista.numreq); return false;"  alt="Eliminar" > 
		        <img src="$home/sgf/img/borrar.gif" alt="Eliminar" border="0" align="absmiddle"></a><br />
				#end
				#end              	
				</div>
				#if(!$fechaTope || $permisoSimulacion == 1)<div style="float:right"><span class="texto-mini"><a href="#" onClick="cargaItemDet('$home',6,0,0); return false;">Ingrese <img src="$home/sgf/img/add.gif" alt="Nuevo" border="0" align="absmiddle"></a></span></div>#end
				</td>
				<td class="valor bordeder">${numbertool.format($!junio)}</td>
			</tr>
			<tr>
				<th class="texto">JULIO</th>
				<td class="texto">
				<div style="float:left">
				#foreach ($lista in $presupItemreq)
				#if($lista.mespre == 7 && $lista.totpre > 0) 
				<a href="#" onClick="cargaItemDet('$home',$lista.mespre,$lista.numreq,$!julio); return false;"><img src="$home/sgf/img/bullet.gif" border="0" align="absmiddle"> $lista.comen1 $lista.comen2</a> <b>($${numbertool.format($lista.totpre)})</b>
				<a href="#" onClick="eliminarReq('$home',$lista.mespre,$lista.numreq); return false;"  alt="Eliminar" > 
		        <img src="$home/sgf/img/borrar.gif" alt="Eliminar" border="0" align="absmiddle"></a><br />
				#end
				#end              	
				</div>
				#if(!$fechaTope || $permisoSimulacion == 1)<div style="float:right"><span class="texto-mini"><a href="#" onClick="cargaItemDet('$home',7,0,0); return false;">Ingrese <img src="$home/sgf/img/add.gif" alt="Nuevo" border="0" align="absmiddle"></a></span></div>#end
				</td>
				<td class="valor bordeder">${numbertool.format($!julio)}</td>
			</tr>
			<tr>
				<th class="texto">AGOSTO</th>
				<td class="texto">
				<div style="float:left">
				#foreach ($lista in $presupItemreq)
				#if($lista.mespre == 8 && $lista.totpre > 0)      
				<a href="#" onClick="cargaItemDet('$home',$lista.mespre,$lista.numreq,$!agosto); return false;"><img src="$home/sgf/img/bullet.gif" border="0" align="absmiddle"> $lista.comen1 $lista.comen2</a> <b>($${numbertool.format($lista.totpre)})</b>
				<a href="#" onClick="eliminarReq('$home',$lista.mespre,$lista.numreq); return false;"  alt="Eliminar" > 
		        <img src="$home/sgf/img/borrar.gif" alt="Eliminar" border="0" align="absmiddle"></a><br />
				#end
				#end              	
				</div>
				#if(!$fechaTope || $permisoSimulacion == 1)<div style="float:right"><span class="texto-mini"><a href="#" onClick="cargaItemDet('$home',8,0,0); return false;">Ingrese <img src="$home/sgf/img/add.gif" alt="Nuevo" border="0" align="absmiddle"></a></span></div>#end
				</td>
				<td class="valor bordeder">${numbertool.format($!agosto)}</td>
			</tr>
			<tr>
				<th class="texto">SEPTIEMBRE</th>
				<td class="texto">
				<div style="float:left">
				#foreach ($lista in $presupItemreq)
				#if($lista.mespre == 9 && $lista.totpre > 0)      
				<a href="#" onClick="cargaItemDet('$home',$lista.mespre,$lista.numreq,$!septiembre); return false;"><img src="$home/sgf/img/bullet.gif" border="0" align="absmiddle"> $lista.comen1 $lista.comen2</a> <b>($${numbertool.format($lista.totpre)})</b>
				<a href="#" onClick="eliminarReq('$home',$lista.mespre,$lista.numreq); return false;"  alt="Eliminar" > 
		        <img src="$home/sgf/img/borrar.gif" alt="Eliminar" border="0" align="absmiddle"></a><br />
				#end
				#end              	
				</div>
				#if(!$fechaTope || $permisoSimulacion == 1)<div style="float:right"><span class="texto-mini"><a href="#" onClick="cargaItemDet('$home',9,0,0); return false;">Ingrese <img src="$home/sgf/img/add.gif" alt="Nuevo" border="0" align="absmiddle"></a></span></div>#end
				</td>
				<td class="valor bordeder">${numbertool.format($!septiembre)}</td>
			</tr>
			<tr>
				<th class="texto">OCTUBRE</th>
				<td class="texto">
				<div style="float:left">
				#foreach ($lista in $presupItemreq)
				#if($lista.mespre == 10 && $lista.totpre > 0)      
				<a href="#" onClick="cargaItemDet('$home',$lista.mespre,$lista.numreq,$!octubre); return false;"><img src="$home/sgf/img/bullet.gif" border="0" align="absmiddle"> $lista.comen1 $lista.comen2</a> <b>($${numbertool.format($lista.totpre)})</b>
				<a href="#" onClick="eliminarReq('$home',$lista.mespre,$lista.numreq); return false;"  alt="Eliminar" > 
		        <img src="$home/sgf/img/borrar.gif" alt="Eliminar" border="0" align="absmiddle"></a><br />
				#end
				#end  
				</div>
				#if(!$fechaTope || $permisoSimulacion == 1)<div style="float:right"><span class="texto-mini"><a href="#" onClick="cargaItemDet('$home',10,0,0); return false;">Ingrese <img src="$home/sgf/img/add.gif" alt="Nuevo" border="0" align="absmiddle"></a></span></div>#end
				</td>
				<td class="valor bordeder">${numbertool.format($!octubre)}</td>
			</tr>
			<tr>
				<th class="texto">NOVIEMBRE</th>
				<td class="texto">
				<div style="float:left">
				#foreach ($lista in $presupItemreq)
				#if($lista.mespre == 11 && $lista.totpre > 0)      
				<a href="#" onClick="cargaItemDet('$home',$lista.mespre,$lista.numreq,$!noviembre); return false;"><img src="$home/sgf/img/bullet.gif" border="0" align="absmiddle"> $lista.comen1 $lista.comen2</a> <b>($${numbertool.format($lista.totpre)})</b>
				<a href="#" onClick="eliminarReq('$home',$lista.mespre,$lista.numreq); return false;"  alt="Eliminar" > 
		        <img src="$home/sgf/img/borrar.gif" alt="Eliminar" border="0" align="absmiddle"></a><br />
				#end
				#end  
				</div>
				#if(!$fechaTope || $permisoSimulacion == 1)<div style="float:right"><span class="texto-mini"><a href="#" onClick="cargaItemDet('$home',11,0,0); return false;">Ingrese <img src="$home/sgf/img/add.gif" alt="Nuevo" border="0" align="absmiddle"></a></span></div>#end
				</td>
				<td class="valor bordeder">${numbertool.format($!noviembre)}</td>
			</tr>
			<tr>
				<th class="texto">DICIEMBRE</th>
				<td class="texto">
				<div style="float:left">
				#foreach ($lista in $presupItemreq)
				#if($lista.mespre == 12 && $lista.totpre > 0)      
				<a href="#" onClick="cargaItemDet('$home',$lista.mespre,$lista.numreq,$!diciembre); return false;"><img src="$home/sgf/img/bullet.gif" border="0" align="absmiddle"> $lista.comen1 $lista.comen2 </a> <b>($${numbertool.format($lista.totpre)})</b>
				<a href="#" onClick="eliminarReq('$home',$lista.mespre,$lista.numreq); return false;"  alt="Eliminar" > 
		        <img src="$home/sgf/img/borrar.gif" alt="Eliminar" border="0" align="absmiddle"></a><br />
				#end
				#end  
				</div>
				#if(!$fechaTope || $permisoSimulacion == 1)<div style="float:right"><span class="texto-mini"><a href="#" onClick="cargaItemDet('$home',12,0,0); return false;">Ingrese <img src="$home/sgf/img/add.gif" alt="Nuevo" border="0" align="absmiddle"></a></span></div>#end
				</td>
				<td class="valor bordeder">${numbertool.format($!diciembre)}</td>
			</tr>
			<tfoot>
			<tr>
				<td>&nbsp;</td>
				<th class="texto">Total Anual $</th>
				<th class="valor bordeder">${numbertool.format($total)}</th>
			</tr>
			</tfoot>
			</table>

			<br>
			<div class="footer"><!--footer-->
			<ul>
				<li class="back"><a href="#" onclick="volverMatriz('$home'); return false;">Continuar</a></li>
			</ul>
			</div><!--footer-->
		</div><!--content-->
		<br />
	</div><!--post-->
	<form name="detalleItemPresup" action="" method="POST" >
   	 	<input type="hidden" name="accionweb" value="">
   	 	<input type="hidden" name="unidad" value="$!unidadSeleccionada">
   	 	<input type="hidden" name="anno" value="$!anno">
   	 	<input type="hidden" name="itedoc" value="$!itedoc">
   	 	<input type="hidden" name="mes" value="">
   	 	<input type="hidden" name="sucur" value="">
   	 	<input type="hidden" name="total" value="">
   	 	<input type="hidden" name="control" value="$!control">
   	 	<input type="hidden" name="volver" value="1">
   	 	
	</form>	
	<form name="presupItemReq" action="" method="POST" >
   	 	<input type="hidden" name="accionweb" value="">
   	 	<input type="hidden" name="unidad" value="$!unidadSeleccionada">
   	 	<input type="hidden" name="anno" value="$!anno">
   	 	<input type="hidden" name="volver" value="1">
   	 	<input type="hidden" name="itedoc" value="$!itedoc">
   	 	<input type="hidden" name="control" value="$!control">
	</form>		
	
#parse("sgf/inc/bottom.vm")