#parse("sgf/inc/topB.vm")
<script language="JavaScript" src="$home/sgf/js/trim.js"></script>
	<div class="post"><!--post-->
#parse("srgB/inc/recGastoEncabezado.vm")          

	<div class="content">			
		<h5B>Ingreso &nbsp;&nbsp; </h5B>
		    </div><!--header-->          
			<div class="content"><!--content-->
		       <form class="login" action="" method="post" name="login_form" >
			 	<table width="100%" border="0" cellspacing="2" cellpadding="5">
		        	<tr>
                	  <td width="20%"><span id="nomIde">Rut a Pago &nbsp;&nbsp; </span></td>
                	  <td>                 	  	
       	                <input type="text" name="rut_aux" size="13" maxlength="13" class="estilo_Azul" value ="$!rut_aux" #if($rut_aux && $nomIdentificador ) readonly #end onKeyPress="enter(event,1);return noenter()" onChange="checkRutField(document.login_form.rut_aux.value, document.login_form);" style="text-align: left;">
       	                #if(!$nomIdentificador)
       	                <a href="#" onclick="validar(document.login_form);"><img src="$home/sgf/img/button_search.gif" align="top" alt="Consultar Cliente" border="0"></a> &nbsp;&nbsp;
                	    #else
                	    	<input type="hidden" name="nomIdentificador" value="$!nomIdentificador">
                     	
                	    #end
                	    <input type="text" name="nomIdentificador" size="50" maxlength="50" readonly class="estilo_Azul" value ="$!nomIdentificador"  style="text-align: left;"> &nbsp;&nbsp;&nbsp;
                	    <input type="hidden" name="rutnum" value="$!rutnum">
                		<input type="hidden" name="dvrut" value="$!dvrut">
                	    <input type="hidden" name="accionweb"  value="">
                        <input type="hidden" name="opcionMenu"  value="$!opcionMenu">     
                        <input type="hidden" name="tipo"  value="0">             
					  					  
                	  </td>
                   </tr>
                </table>  
                </form>
                <span id="detalleOrden">                               		
				#parse("srgB/inc/detalleRecIngreso.vm")
				</span>  
			</div><!--content-->
			<br />
		</div><!--post-->
#if(!$rut_aux && !$identificador)		
<script language="javascript">
	document.login_form.rut_aux.focus();
</script>
#end		  
<script language="javascript">		
function cargaLogin(){	
	document.login_form.action = "$home/srgB/inc/recIngreso.html";
	document.login_form.accionweb.value = "recuperacionGastoInterceptorB.verificaRut";
	document.login_form.submit();	
}	
</script> 

<form name="exportarPresup" id="exportarPresup" action="" method="POST" target="_blank" >
	 <input type="hidden" name="anno" value="$anno">
	 <input type="hidden" name="funcionario" value="$funcionario.trim()">
	 <input type="hidden" name="accionweb" value ="">
	 <input type="hidden" name="control" value ="$!control">
	 
</form>

#if($!mensaje)
<script>	
 alert('$!mensaje'); 	 
</script>
#end	
#parse("sgf/inc/bottom.vm")
