<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html"  />
<meta http-equiv="cache-control" VALUE="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta name="keywords" content="" />
<meta name="description" content="" />

<title>SIIF - Sistema Integrado de Informaci&oacute;n Financiera</title>
<link rel="stylesheet" type="text/css" href="$home/sgf/css/sgf_estilo.css" />
<script src="$home/sgf/js/prototype.js" type="text/javascript"></script>
<script src="$home/sgf/js/centrar.js"></script>
</head>
<body class="body_iframe"   onload="parent.opener.recargarMasiva();">	

	<div id="outer"><!--outer--> 
    <div id="principalcontent2"><!--principalcontent-->
		<!-- principal content start -->                               		
	<div id="inner"><!--inner--> 	              
			<div class="post">
				<div class="header">
					<h3>Autorizaci&oacute;n Recuperaci&oacute;n de Gastos</h3>                    
			  </div>
         	<div class="content">
                <h5B>$titulo &nbsp;&nbsp;</h5B>
		    </div><!--header--> 
         	<div class="content">			
                  <br />
                  <table  width="100%" border="0" cellspacing="0" cellpadding="2">
                    <tr>
                      <td class="texto">$!mensaje</td>                      
                    </tr>
                  </table>           
			  </div>
              <br/>
       		  <div class="footer">
				<ul>
                    <li class="cerrar"><a href="#" onclick="cerrar(); return false;">Cerrar</a></li>
	            </ul>
			  </div>
         	</div> <!--post -->
	</div>
    <form name="formDetalle" action="" method="POST" >
	    <input type="hidden" name="accionweb" value="">
	    <input type="hidden" name="extension" value=""> 
	</form>   
    <script>
   	
	function cerrar(){
	   window.close();
    }

    </script>	
   
	<div id="footer"><!--footer-->
		&copy; Universidad T&eacute;cnica Federico Santa Mar&iacute;a
	</div><!--footer-->
	
    </div><!--inner--> 
    <div id="btbg"></div><!--btbg--> 
</div><!--outer--> 
</body>
</html>