#if($fechaSolicitud)
#set($fecha = $fechaSolicitud + "")
#set($diaFecha = $fecha.substring(6))
#set($mesFecha = $fecha.substring(4,6))
#set($annoFecha = $fecha.substring(0,4))
#set($fecha = $diaFecha+"/"+$mesFecha+"/"+$annoFecha)
#end
#parse("sgf/inc/topB.vm")
<script language="JavaScript" src="$home/sgf/js/trim.js"></script>
	<div class="post"><!--post-->
#parse("srgB/inc/recGastoEncabezado.vm")          

	<div class="content">			
		<h5B>Registro en base a documento rechazado &nbsp;&nbsp; </h5B>
		    </div><!--header-->          
			<div class="content"><!--content-->
		       <form class="login" action="" method="post" name="login_form" >
			 	<table width="100%" border="0" cellspacing="2" cellpadding="5">
		        	<tr>
                	  <td width="20%"><span id="nomIde">N&uacute;mero de Solicitud &nbsp;&nbsp; </span></td>
                	  <td>    
                	  	#if(!$numDoc || !$estadoFinal.trim().equals('REC.REV.FINANZA') || !$estadoFinal.trim().equals("RECHAZADO UCP"))             	  	
	       	              	<input name="numDoc" style="text-align: left;" type="text" id="numDoc" size="10" maxlength="10"  value="" onKeyPress="return acceptNum(event); "> 
	       	                <a href="#" onclick="cargaDatos(document.login_form);"><img src="$home/sgf/img/button_search.gif" align="top" alt="Consultar Solicitud" border="0"></a> &nbsp;&nbsp;
	                	#else
                	    	<input type="text" name="numDoc" value="$numDoc" readonly>
                     	
                	    #end                	
                	    <input type="hidden" name="accionweb"  value="">
                        <input type="hidden" name="opcionMenu"  value="$!opcionMenu">     
                        <input type="hidden" name="tipo"  value="7">             
					  					  
                	  </td>
                   </tr>
                </table>  
                </form>
                <span id="detalleOrden"> 
	 			#if($numDoc && ($estadoFinal.trim().equals('REC.REV.FINANZA') || $estadoFinal.trim().equals("RECHAZADO UCP"))) 
					#parse("srgB/inc/detalleRecRechazada.vm")
				#end	
				</span>  
			</div><!--content-->
			<br />
		</div><!--post-->		  
<script language="javascript">		
function cargaDatos(form){	
	form.action = "$home/srgB/inc/recRechazada.html";
	form.accionweb.value = "recuperacionGastoInterceptorB.consultaRechazada";
	form.submit();	
}	

</script> 

<form name="exportarPresup" id="exportarPresup" action="" method="POST" target="_blank" >
	 <input type="hidden" name="anno" value="$anno">
	 <input type="hidden" name="funcionario" value="$funcionario.trim()">
	 <input type="hidden" name="accionweb" value ="">
	 <input type="hidden" name="control" value ="$!control">
	 
</form>

#if($!mensaje)
<script>	
 alert('$!mensaje'); 	 
</script>
#end	
#parse("sgf/inc/bottom.vm")
