#parse("sgf/inc/topB.vm")

<div class="post"><!--post-->
		<div class="header"><!--header-->
				  <h3>			
                 <table width="100%" border="0" cellspacing="3" cellpadding="0">
                 <tr>
                 	<td >
               		Control Planes Desarrollo &nbsp; &nbsp;<img src="$home/sgf/img/flecha.gif" align="absmiddle">
	                  </td>
	              </tr>            
                  </table>
				 </h3>
			    </div><!--fin header-->
          

	<div class="content">			
	  <h5B>Control Plan Desarrollo por Actividades<br>Indicadores</h5B>
	        <table width="100%" border="0" cellspacing="3" cellpadding="0">
                 <tr>
                 	<td width="20%">Macrounidad </td>
                 	<td class="estilo_Azul">$!codUnidadMacro $!nomMacro  </td>
	              </tr>  
	              <tr>
                 	<td width="20%">Cuenta Actividad </td>
                 	<td class="estilo_Azul">$!codCuenta $!nomCuenta</td>
	              </tr> 
	                 <tr>
                 	<td width="20%">Indicadores </td>
                 	<td class="estilo_Azul">&nbsp;</td>
	              </tr>           
                  </table>
	   
	   <br><br>
		<table id="tabla" width="80%" border="0" cellspacing="0" cellpadding="2">
            <thead>
              <tr>
                <th width="40%" valign="bottom" class="bordetop" scope="col">C&oacute;digo Indicador</th>
           		<th width="20%" valign="middle" class="bordetop" scope="col">Fecha Creaci&oacute;n</th>
           		<th width="40%" valign="middle" class="bordetop bordeder" scope="col">Creado por</th>
           		<td width="1%">&nbsp;</td>
              <tr>
            </thead>
             #foreach($lista in $listaIndicadores)    
             	#set($fecha = $!lista.valnu2 + "")
				#set($diaFecha = $fecha.substring(6))
				#set($mesFecha = $fecha.substring(4,6))
				#set($annoFecha = $fecha.substring(0,4))
				#set($fecha = $diaFecha+"/"+$mesFecha+"/"+$annoFecha) 
              	<tr>
              		  <td class="texto" nowrap >$!lista.valalf.trim()</td>
              		  <td  align="center" nowrap>$fecha</td>
              		  <td class="texto" nowrap>$!lista.resval</td>
		              <td align="center" class="bordeder" scope="col" nowrap width="1%"> 
	  				  <div id="menu_rowB">
						<ul>
  						<li><a href="#" onclick="return false;" class="nivel"></a>
						<ul>
						    <li><a href="#" onclick="cargaPaginaCPD(document.formMuestra,'$home/sipB/cpdVerIndicador.html','$!codMacro','$!nomMacro',$!codUnidadMacro, $!codCuenta,'$!nomCuenta','$!lista.valalf.trim()','Modificar',7); return false">Ir a Valor Indicador</a></li>
	                		<li><a href="#" onclick="cargaPaginaCPD(document.formMuestra,'$home/sipB/cpdAgregaModificaIndicador.html','$!codMacro','$!nomMacro',$!codUnidadMacro, $!codCuenta,'$!nomCuenta','$!lista.valalf.trim()','Modificar',11); return false">Modificar indicador</a></li>
	                    </ul>
						</li>
						</ul>
	  					</div>
	 				</td>	                                          
	 			</tr>
            #end          
		</table>
		<br />		
		<br />	
        <div class="footer">
			<ul>   
	          <li><a href="#" onclick="cargaPaginaCPD(document.formMuestra,'$home/sipB/cpdAgregaModificaIndicador.html','$!codMacro','$!nomMacro',$!codUnidadMacro, $!codCuenta,'$!nomCuenta','','Agregar',0); return false"><img src="$home/sgf/img/agregar2.gif" align="absmiddle" alt="Agregar Indicador" border="0"> Agregar Indicador</a></li>
	      	   <li class="excel"><a href="#" onClick="generaInforme('$home/sipB/controlPlanIndicadorExcel.html','presupuestoInterceptorB.controlPlanIndicadoresVector'); return false;" >Exportar a Excel</a></li>
               <li class="print"><a href="#" onClick="generaInformePDF('$home/sipB/controlPlanIndicadorPDF.html', 'presupuestoInterceptorB.controlPlanIndicadoresVector'); return false;" >Imprimir</a></li>
              <li><a href="#" onclick="cargaPaginaCPD(document.formMuestra,'$home/sipB/cpdDatosActividad.html','$!codMacro','$!nomMacro',$!codUnidadMacro, $!codCuenta,'$!nomCuenta','$titulo','',2); return false"><img src="$home/sgf/img/undo.gif" align="absmiddle" alt="Volver" border="0"> Volver</a></li>
 		</ul>
		</div>

	</div><!--fin content-->
</div><!--fin post--> 

<form name="formMuestra" action="" method="post" target="">	
	<input name="accionweb" type="hidden" id="accionweb" value="" >
	<input name="tipo" type="hidden" id="tipo" value="" >
	<input name="codMacro" type="hidden" id="codMacro" value="$!codMacro" >
	<input name="nomMacro" type="hidden" id="nomMacro" value="$!nomMacro" >
	<input name="codUnidadMacro" type="hidden" id="codUnidadMacro" value="$!codUnidadMacro" >	
	<input name="codCuenta" type="hidden" id="codCuenta" value="$!codCuenta" >
	<input name="nomCuenta" type="hidden" id="nomCuenta" value="$!nomCuenta" >
	<input name="opcionMenu" type="hidden" id="opcion" value="$opcionMenu" >
    <input name="titulo" type="hidden" id="titulo" value="" >
    <input name="titulo2" type="hidden" id="titulo2" value="" >
    <input type="hidden" name="control" value="$control">  
    <input type="hidden" name="annoControl" id="annoControl" value="$!annoControl">
</form>
<form name="exportarPresup" id="exportarPresup" action="" method="POST" target="_blank" >
	<input name="nomTipo" type="hidden" id="nomTipo" value="" >
	<input name="codMacro" type="hidden" id="codMacro" value="$!codMacro" >
	<input name="nomMacro" type="hidden" id="nomMacro" value="$!nomMacro" >
	<input name="codUnidadMacro" type="hidden" id="codUnidadMacro" value="$!codUnidadMacro" >	
	<input name="codCuenta" type="hidden" id="codCuenta" value="$!codCuenta" >
	<input name="nomCuenta" type="hidden" id="nomCuenta" value="$!nomCuenta" >
    <input name="anno" type="hidden" id="anno" value="$!annoselec" >
    <input type="hidden" name="accionweb" value ="">

</form>
#if($!mensaje)
<script>	
 alert('$!mensaje'); 	
 </script>
#end
#parse("sgf/inc/bottom.vm")