
	<h5B>Resumen de Ejecuci&oacute;n Presupuestaria</h5B>

	<div class="content">
		<form name="resumen" action="" method="POST" >
		<input type="hidden" name="accionweb" value="">
		<input type="hidden" name="extension" value="">
		<input type="hidden" name="codUnidad" value="$codUnidad">
		<input type="hidden" name="nomUnidad" value="$nomUnidad">
		#if(!$mes)
			#set($mes = $date.getMonth() + 1 )
		#end
		#if(!$annoPar || $annoPar == 0)
			#set ($annoPar = $date.getYear())
		#end

		<table width="100%" border="0" cellspacing="3" cellpadding="0">
			<tr>
				<td width="80">A&ntilde;o / Mes</td>
				<td>
				<select name="anno" id="anno" class="estilo_Azul" >                        	
				#foreach($anno in [2018..$date.getYear()])
       			<option value="$anno" #if($anno == $annoPar) selected #end>$anno</option>
				#end 
				</select> &nbsp;
				<select name="mes" id="mes" class="estilo_Azul" >
				<option value="1" #if($mes == 1) selected #end>Enero</option>
				<option value="2" #if($mes == 2) selected #end>Febrero</option>
				<option value="3" #if($mes == 3) selected #end>Marzo</option>
				<option value="4" #if($mes == 4) selected #end>Abril</option>
				<option value="5" #if($mes == 5) selected #end>Mayo</option>
				<option value="6" #if($mes == 6) selected #end>Junio</option>
				<option value="7" #if($mes == 7) selected #end>Julio</option>
				<option value="8" #if($mes == 8) selected #end>Agosto</option>
				<option value="9" #if($mes == 9) selected #end>Septiembre</option>
				<option value="10" #if($mes == 10) selected #end>Octubre</option>
				<option value="11" #if($mes == 11) selected #end>Noviembre</option>
				<option value="12" #if($mes == 12) selected #end>Diciembre</option>
				</select>
				<a href="#" onclick="cargar(); return false;"><img src="$home/sgf/img/button_search.gif" align="absmiddle" alt="Buscar" border="0"></a>
				</td>
			</tr>
		</table>
		#foreach($unidad in $cuentasPresupuestarias)						
		#if($unidadSeleccionada.trim().equals($unidad.coduni.trim()))			
		<input name="unidad"  type="hidden" value="$unidad.coduni@$unidad.desuni">
		<!--$unidad.coduni@$unidad.desuni -->                        
		#end
		#end
		</form>
		<br />
		<span id="detalleEjecucion"></span>
	</div>

<script language="javascript">
	function cargar(){		
	 		
	 	new Ajax.Updater('detalleEjecucion', '$home/sipB/inc/espere.html');    
		document.resumen.accionweb.value = "presupuestoInterceptorB.cargaResultadoEjecMensual";
		new Ajax.Updater('detalleEjecucion', '$home/sipB/inc/ejecMensualDetalle.html', {
		
			parameters: { accionweb: document.resumen.accionweb.value,
			              unidad: document.resumen.codUnidad.value + '@'+ document.resumen.nomUnidad.value,
		            	  anno : document.resumen.anno.value,
		            	  mes : document.resumen.mes.value,
		            	  parametro : 'item'}
		            	 
			});
	}

 function DetalleEjec(itedoc, nomItem, mes, presum, usadom, porc, preSac, usaDac, porc2, porc3, preAno){
 	alert ('detalle');
    document.detalle.accionweb.value = "presupuestoInterceptorB.detalleEjecucion";
    document.detalle.mes.value = mes;
    document.detalle.unidad.value =  document.resumen.unidad.value;
    document.detalle.anno.value =  document.resumen.anno.value;
    document.detalle.item.value =  itedoc;
    document.detalle.nomItem.value =  nomItem; 
    document.detalle.presum.value = presum;
    document.detalle.usadom.value = usadom;
    document.detalle.porc.value = porc;
    document.detalle.preSac.value = preSac; 
    document.detalle.usaDac.value = usaDac; 
    document.detalle.porc2.value = porc2;
    document.detalle.porc3.value = porc3;
    document.detalle.preAno.value = preAno;
    document.detalle.action = "$home/sipB/inc/ejecItemDetalleMes.html";
    
    document.detalle.target = "ventana";
    var par = 'toolbar=no,status=no,menubar=no,scrollbars=yes,resizable=yes';
    var w = Centrar03(document.detalle.target,505,750,par);
    document.detalle.submit();
}

</script>	
<script type="text/javascript">/*cargarEjecucion();*/</script> 
