#parse("sgf/inc/topB.vm")

<script type="text/javascript">

function volverPresup(){
    if (validaMonto()) {
   		asigna(2);
   		document.presupItemReq.action = '$home/sipB/presup.html';
		document.presupItemReq.accionweb.value = 'presupuestoInterceptorB.actualizaItem';
		##document.presupItemReq.unidad.value = "$!unidadSeleccionada";
		document.presupItemReq.organizacion.value = "$!organizacionSeleccionada";
		document.presupItemReq.target = '_top';
		document.presupItemReq.submit();
	}
}


function suma(){

 var total = 0;
  for(i=1;i<=12;i++){
      valor = unformatNumber(document.getElementById('mes'+i).value);
      if(valor == "")
      valor = 0;
      else
      valor = valor/1;
      total = total +  valor;
   }
  document.getElementById('sumTotal').innerHTML = formatNumber(total,'$');
 
}

function validaMonto(){

  var estado = true;
  var meses = ["ENERO","FEBRERO","MARZO","ABRIL","MAYO","JUNIO","JULIO","AGOSTO","SEPTIEMBRE","OCTUBRE","NOVIEMBRE","DICIEMBRE"];
  for(i=1;i<=12;i++){
      valor = unformatNumber(document.getElementById('mes'+i).value);
      if(valor > 99999999999) {
      	alert (" El monto de " + meses[i-1] + " debe tener un MAXIMO DE 11 DIGITOS.");
      	document.getElementById('mes'+i).focus();
      	estado = false;
      	break;
      }
      	
   }
   return estado;
 
}


</script>
## 05/10/2016 MAA - Se cambian nombres de variables y etiquetas 'unidad(es)' por 'organizacion(es)', item(es) por cuenta(s)
#set($i = 0)
<form name="presupItemReq" action="" method="POST" >

#foreach($lista in $resultadoPresup)
	###if($lista.coduni == $unidad && $lista.itedoc == $itedoc)
	#if($lista.motiv1.trim().equals($organizacion.trim()) && $lista.motiv2.trim().equals($itedoc.trim()))

	#set($total = $lista.pres01 + $lista.pres02 + $lista.pres03 + $lista.pres04 +$lista.pres05 + $lista.pres06 + $lista.pres07 + $lista.pres08 + $lista.pres09 + $lista.pres10 + $lista.pres11 + $lista.pres12) 
		<div class="post"><!--post-->
			<div class="header"><!--header-->
				<h3>Solicitud de Presupuestaci&oacute;n&nbsp;&nbsp;<img src="$home/sgf/img/flecha.gif" align="absmiddle">&nbsp;A&ntilde;o $lista.anopre</h3>
		  </div><!--header-->
			<div class="content"><!--content-->
				<table width="98%" border="0" align="center" cellpadding="0" cellspacing="3">
					<tr>
						<!--<td width="90">Unidad</td> -->
						<td width="90">Organizaci&oacute;n</td>
						<!--<td width="1088" class="estilo_Azul">$lista.coduni - $lista.desuni</td>-->
						<td width="1088" class="estilo_Azul">$lista.motiv1 - $lista.desuni</td>
				    </tr>					
                    <tr>
                    	<!--<td>&Iacute;tem</td> -->
                    	<td>Cuenta</td>
                        <!--<td class="estilo_Azul">$lista.itedoc - $lista.desite</td>-->
                        <td class="estilo_Azul">$lista.motiv2 - $lista.desite</td>
                    </tr>	
				</table>

              <fieldset style="padding:8px"><legend>Presupuesto</legend>
              <table width="100%" border="0" cellspacing="3" cellpadding="5">
              <tr>
                <td width="80" nowrap>Total $</td>
                <td><strong><span id="sumTotal">${numbertool.format($total)}</span></strong></td>
              </tr>
              </table>
              </fieldset>
              
              
              <fieldset style="padding:8px"><legend>Meses</legend>
                    <table width="100%" border="0" cellspacing="3" cellpadding="5">
                      <tr>
                        <td width="80">Enero</td>
                        <td><input name="mes1" id="mes1" type="text" value="${numbertool.format($lista.pres01)}" size="14" maxlength="14" onKeyPress="return acceptNum(event)" onKeyUp="puntitos(this,this.value.charAt(this.value.length-1));suma();"></td>
                        <td width="80">Febrero</td>
                        <td><input name="mes2" id="mes2" type="text" value="${numbertool.format($lista.pres02)}" size="14" maxlength="14" onKeyPress="return acceptNum(event)" onKeyUp="puntitos(this,this.value.charAt(this.value.length-1));suma();"></td>
                        <td width="80">Marzo</td>
                        <td><input name="mes3" id="mes3" type="text" value="${numbertool.format($lista.pres03)}" size="14" maxlength="14" onKeyPress="return acceptNum(event)" onKeyUp="puntitos(this,this.value.charAt(this.value.length-1));suma();"></td>
                      </tr>
                      <tr>
                        <td width="80">Abril</td>
                        <td><input name="mes4" id="mes4" type="text" value="${numbertool.format($lista.pres04)}" size="14" maxlength="14" onKeyPress="return acceptNum(event)" onKeyUp="puntitos(this,this.value.charAt(this.value.length-1));suma();"></td>
                        <td>Mayo</td>
                        <td><input name="mes5" id="mes5" type="text" value="${numbertool.format($lista.pres05)}" size="14" maxlength="14" onKeyPress="return acceptNum(event)" onKeyUp="puntitos(this,this.value.charAt(this.value.length-1));suma();"></td>
                        <td>Junio</td>
                        <td><input name="mes6" id="mes6" type="text" value="${numbertool.format($lista.pres06)}" size="14" maxlength="14" onKeyPress="return acceptNum(event)" onKeyUp="puntitos(this,this.value.charAt(this.value.length-1));suma();"></td>
                      </tr>
                      <tr>
                    	<td width="80">Julio</td>
                        <td><input name="mes7" id="mes7" type="text" value="${numbertool.format($lista.pres07)}" size="14" maxlength="14" onKeyPress="return acceptNum(event)" onKeyUp="puntitos(this,this.value.charAt(this.value.length-1));suma();"></td>
                        <td>Agosto</td>
                        <td><input name="mes8" id="mes8" type="text" value="${numbertool.format($lista.pres08)}" size="14" maxlength="14" onKeyPress="return acceptNum(event)" onKeyUp="puntitos(this,this.value.charAt(this.value.length-1));suma();"></td>
                        <td>Septiembre</td>
                        <td width="80"><input name="mes9" id="mes9" type="text" value="${numbertool.format($lista.pres09)}" size="14" maxlength="14" onKeyPress="return acceptNum(event)" onKeyUp="puntitos(this,this.value.charAt(this.value.length-1));suma();"></td>
                      </tr>
                      <tr>
                     	 <td>Octubre</td>
                        <td><input name="mes10" id="mes10" type="text" value="${numbertool.format($lista.pres10)}" size="14" maxlength="14" onKeyPress="return acceptNum(event)" onKeyUp="puntitos(this,this.value.charAt(this.value.length-1));suma();"></td>
                        <td>Noviembre</td>
                        <td><input name="mes11" id="mes11" type="text" value="${numbertool.format($lista.pres11)}" size="14" maxlength="14" onKeyPress="return acceptNum(event)" onKeyUp="puntitos(this,this.value.charAt(this.value.length-1));suma();"></td>
                        <td>Diciembre</td>
                        <td><input name="mes12" id="mes12" type="text" value="${numbertool.format($lista.pres12)}" size="14" maxlength="14" onKeyPress="return acceptNum(event)" onKeyUp="puntitos(this,this.value.charAt(this.value.length-1));suma();"></td>
                      </tr>
                    </table>
              </fieldset>

              <fieldset style="padding:8px"><legend>Observaci&oacute;n</legend>
                  	<textarea name="comen" id="comen" cols="60" rows="3"  onKeyPress="cuentaLetras('comen',240);return acceptText(event)">$lista.comen1.trim()$lista.comen2.trim()$lista.comen3.trim()$lista.comen4.trim()$lista.comen5.trim()$lista.comen6.trim()</textarea>
                    <input name="comen1" type="hidden" id="comen1" value="$lista.comen1.trim()"/>                     	                                                                                                  
                  	<input name="comen2" type="hidden" id="comen2" value="$lista.comen2.trim()"/>
                    <input name="comen3" type="hidden" id="comen3" value="$lista.comen3.trim()"/>
                    <input name="comen4" type="hidden" id="comen4" value="$lista.comen4.trim()"/>
                    <input name="comen5" type="hidden" id="comen5" value="$lista.comen5.trim()"/>
                    <input name="comen6" type="hidden" id="comen6" value="$lista.comen6.trim()"/>
              
              
              
               </fieldset><br>
		      <div class="footer"><!--footer-->
					<ul>
				         <li class="back"><a href="#" onClick="volverPresup(); return false;">Continuar</a></li>
                	</ul>
				</div><!--footer-->
			</div><!--content-->
			<br />
		</div><!--post-->
		#end
		#set($i = $i + 1)
		#end

   	 <input type="hidden" name="accionweb" value="">
   	 <!--<input type="hidden" name="unidad" value="$!unidad">-->
   	 <input type="hidden" name="organizacion" value="$!organizacion.trim()">
   	 <input type="hidden" name="anno" value="$!anno">
   	 <input type="hidden" name="itedoc" value="$!itedoc.trim()">
   	 <input type="hidden" name="volver" value="1">
   	 <input type="hidden" name="control" value="$control">
</form>	
#parse("sgf/inc/bottom.vm")
