#parse("sgf/inc/topB.vm")
##if($nombre== "")
##<script>		  
##	alert('No tiene Acceso a Plan de Desarrollo'); 
	 
##</script>
##else
<script type="text/javascript" languaje="javascript">
 function eliminarItem(valor, codItem, codActividad){
	//var respuesta=confirm('Est\u00e1 seguro de eliminar el Item ' + codItem + '?');
	var respuesta=confirm('Est\u00e1 seguro de eliminar la cuenta ' + codItem + '?');
    if (respuesta!=true)
      return false;
      else {
      document.formPresup.action = '$home/sipB/presupPlan.html';
      document.formPresup.accionweb.value = 'presupuestoInterceptorB.eliminaItemPlan';
      document.formPresup.item.value = codItem;
      document.formPresup.codActividad.value = codActividad;
      document.formPresup.volver.value = 1;
      document.formPresup.target = '_top';
      document.formPresup.submit();
 
      }
      
}    
</script>						
<div class="post"><!--post-->
	<div class="header"><!--header-->
	 <form name="formPresup" action="" method="POST" >
    	   
	    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tabla">
	    	<tr>
	    		<td class="titulo2" nowrap colspan="3">
	    			Plan de Desarrollo&nbsp;&nbsp;<img src="$home/sgf/img/flecha.gif" align="absmiddle">&nbsp;A&ntilde;o $anno
		    	</td>
		        <td>
		        	&nbsp;
        		</td>
	    	</tr>
	    
    	</table>
  
    	    <table width="100%" border="0" cellspacing="5" cellpadding="5" align="center">
    	    	<input type="hidden" name="accionweb" value="">
				<input type="hidden" name="anno" value="$anno">
				<input type="hidden" name="codActividad" id="codActividad" value="$!codActividad">
				<input type="hidden" name="nomActividad" id="nomActividad" value="$!nomActividad">
				<input type="hidden" name="volver" value="$!volver">
				<input type="hidden" name="control" value="$!control">
				<input type="hidden" name="item" value="">
				<input type="hidden" name="nombre" value="$!nombre">
				<input type="hidden" name="codgru" value="$!codgru">
				<input type="hidden" name="accion" value="">
				  	<tr>	 
	    		
	    		<td width="15%">Departamento/Unidad </td>
		    	<td  width="50%" class="estilo_Azul">$nombre
	          
			    </td>   	
		    			
	    	</tr>	
	    	<tr>	
		    	<td width="25%" >Objetivo General</td>
		    	<td > 
                    <textarea name="motiv" id="motiv" rows="4" cols="80"  onKeyUp="verificaCambios(this,0)" onKeyPress="cuentaLetras('motiv',240);return acceptText(event)">$!{motiv1} $!{motiv2} $!{motiv3} $!{motiv4} $!{motiv5} $!{motiv6}</textarea>
              		<input name="motiv1" type="hidden" id="motiv1" value="$!motiv1">
              		<input name="motiv2" type="hidden" id="motiv2" value="$!motiv2">
              		<input name="motiv3" type="hidden" id="motiv3" value="$!motiv3">
              		<input name="motiv4" type="hidden" id="motiv4" value="$!motiv4">
             		<input name="motiv5" type="hidden" id="motiv5" value="$!motiv5">
              		<input name="motiv6" type="hidden" id="motiv6" value="$!motiv6"> &nbsp;
     			</td>
	    	</tr>
	 		<tr>
	 			<td width="25%" > &nbsp;</td>
		    	<td align="right"> 
	 		<a href="#" onclick="registrarObservacionPlan('$home'); return false;"><img src="$home/sgf/img/button_ok.gif" align="absmiddle" alt="Registrar Actividad" border="0"></a>
			 	</td>
		 	</tr>
	  
    	</table>
    	##if(!$planDesarrollo)
	    	
          <div class="footer">
				<ul>
					<li>
					#if($listaPlanActividad && $listaPlanActividad.size() > 0)
					 Actividad&nbsp;
		    		<select name="actividad" id="actividad" class="estilo_Azul" onChange="asignaActividad();">
                    <option value="0@" selected="selected">Seleccione</option>
                  		#foreach ($lista in $listaPlanActividad)
								<option value="$lista.numreq@$lista.comen1.trim()$lista.comen2.trim()"  #if($codActividad == $lista.numreq ) selected #end >$lista.numreq - $lista.comen1</option>
						#end				
					</select> 
						&nbsp;<a href="#" onClick="modificarActividad('$home','$!nombre'); return false;"  alt="Modificar" >
					<img src="$home/sgf/img/edit.gif" alt="Modificar" border="0" align="absmiddle"> Editar</a>
					#end	
					</li>
						<li><a href="#" onClick="agregarNuevaActividadpresuB('$home','$!nombre'); return false;"  alt="Agregar" ><img src="$home/sgf/img/agregar2.gif" alt="Agregar" border="0" align="absmiddle"> Ingresar Actividad</a>&nbsp;</li>
						#if($listaPlanActividad && $listaPlanActividad.size() > 0)
						<li>	&nbsp;<a href="#" onclick="cargar(); return false;"><img src="$home/sgf/img/button_search.gif" align="absmiddle" alt="Buscar" border="0">Presupuestacion</a>		
		                </li>
		                #end
				
                </ul>
			</div>
  	</form>		 
	 	##end
	<span id="mensaje" style="display:none"><br>No hay presupuestaci&oacute;n operacional para este Plan.</span>
	<span id="detallePresupId"> 
	##parse("sipB/inc/detallePresupPlan.vm")
	</span>
	</div><!--fin header-->
</div><!--post-->

		
<script language="javascript">
	 function agregarNuevaActividadpresuB(home, nombre){
	    document.formPresup.accionweb.value = "presupuestoInterceptorB.agregaActividad";
	    document.formPresup.nombre.value = nombre;
	    document.formPresup.action = home + "/sipB/inc/presupActividadMod.html";
	    
	    document.formPresup.target = "ventana";
	    var par = 'toolbar=no,status=no,menubar=no,scrollbars=yes,resizable=yes';
	    var w = Centrar03(document.formPresup.target,505,750,par);
	    document.formPresup.submit();
}

	function cargar(){
      if(document.formPresup != null){
        if(document.formPresup.codActividad.value == 0){
        alert('Debe seleccionar Actividad.');
        document.formPresup.codActividad.focus;
        return false;
        }
	   	new Ajax.Updater('detallePresupId', '$home/sipB/inc/espere.html');    
		document.formPresup.accionweb.value = "presupuestoInterceptorB.cargaResultadoPresupPlan";
		new Ajax.Updater('detallePresupId', '$home/sipB/inc/detallePresupPlan.html', {
			parameters: { accionweb: document.formPresup.accionweb.value,
			              codActividad: document.formPresup.codActividad.value ,
			              nomActividad: document.formPresup.nomActividad.value,
		            	  anno : document.formPresup.anno.value,
		            	  volver : document.formPresup.volver.value,
		            	  codgru : document.formPresup.codgru.value,
						  evalScripts: true	},
		            	  
			onComplete: function(){			
					new superTable("demoTable", {
    						cssSkin : "sTabla",
        					fixedCols : 3
    					}	)
	
			}
		});
}
}

</script>	

#if($!mensaje && !$!mensaje.equals(""))
<script>		  
	alert('$!mensaje'); 
	cargar();	 
</script>
#else	
#if($actividadSeleccionada && $actividadSeleccionada > 0 )
	<script type="text/javascript">cargar();</script>
#end
#end	
##end 	
#parse("sgf/inc/bottom.vm")
