#parse("sgf/inc/topB.vm")
<script language="JavaScript" src="$home/sgf/js/trim.js"></script>
	<div class="post"><!--post-->
	<div class="header"><!--header-->
		<h3>Solicitud de Facturaci&oacute;n &nbsp; &nbsp;</h3>
	</div><!--fin header-->
          

	<div class="content">			
		<h5B>$titulo &nbsp;&nbsp;</h5B>
		    </div><!--header-->          
			<div class="content"><!--content-->

	

<form name="formMuestra" action="" method="post" target="_self">	
	<input name="accionweb" type="hidden" id="accionweb" value="" >
	<input name="tipo" type="hidden" id="tipo" value="$opcion" >
	 <table width="100%" border="0" cellpadding="2" cellspacing="1">
	<tr>
		<td >Organizaci&oacute;n &nbsp;&nbsp;
			<select name="organizacion" id="organizacion" onChange="" class="estilo_Azul" >
			    <option value="0"   #if($organizacion && $organizacion.trim().equals("")) selected #end  >Seleccione</option>
			#foreach ( $lista in $cuentasPresupuestarias)
				
			#if($lista.indprc.trim().equals("A"))
	          <option value="$lista.nompro"    #if($organizacion && $organizacion.trim().equals($lista.nompro.trim())) selected #end >$lista.nompro - $lista.desuni - $lista.indprc</option>
	        #end
	        #end
            </select>
            <a href="#" onclick="funcMuestraLista();"><img src="$home/sgf/img/button_search.gif" align="top" alt="Realizar b&uacute;squeda" border="0"></a>
             <a href="#" onClick="nuevoIngresador('$home'); return false;"  alt="Agregar" >&nbsp;Agregar Ingresador
                	    	<img src="$home/sgf/img/agregar2.gif" alt="Agregar" border="0" align="absmiddle"></a> 
                
		</td>	
		
	</tr> 
</table>
</form>


#if($hayDatoslista)

<table id="tabla" width="100%" border="0" cellspacing="0" cellpadding="2">
       
 <thead >
    <th valign="bottom" class="bordetop texto" scope="col" width="1%">#</th>
    <th valign="bottom" class="bordetop texto" scope="col" width="7%">RUT</th>
    <th valign="bottom" class="bordetop texto" scope="col" width="30%">Nombre</th>
    <td width="1%">&nbsp;</td>
  </thead>
<br>
  #if($listaValePago25 )
   #foreach ($lista in $listaValePago25 )   	
   <tr >
    <td class="texto " nowrap >$velocityCount</td>
    <td class="texto" nowrap>&nbsp;$lista.rutide - $lista.digide</td>
    <td class="texto" nowrap >&nbsp;$lista.comen1</td>
    <td align="center" class="bordeder" scope="col" nowrap> 
	  <div id="menu_rowB">
		<ul>
  			<li><a href="#" onclick="return false;" class="nivel"></a>
				<ul>
					<li><a href="#" onclick="accionIngresador($lista.rutide, '$lista.digide','E'); return false" > Eliminar</a></li>
     			</ul>
			</li>
		</ul>
	  </div>
	 </td>
   
</tr>
  
   #end 
 	
 #else 
        <div class="Estilo_Rojo">No existen Ingresadores.</div>
   #end
  	
</table>
#end
<br/>
</div><!--fin header-->
 
</div><!--post--> 

<SCRIPT type="text/javascript">

function listaConsulta(t) {
	document.form['id'].value = t.id; 
	document.form.submit();
}	

function listaOver(t){
	t.style.cursor = 'pointer'; 
	t.style.color = '#000000';
	t.bgColor = '#C0C0C0';
}	

function listaOut(t){
	t.bgColor = '#FFFFFF';
	t.style.color = '#666666';
}
function funcMuestraLista(){

	if(document.formMuestra.organizacion.value <= 0){
	    alert('Debe seleccionar Organizaci\u00f3n.');
	    document.formMuestra.organizacion.focus();
	    return false;
	}	
	document.formMuestra.accionweb.value = "facturacionInterceptorB.cargaAutorizaFacturacion";
	document.formMuestra.action = "$home/sifB/inc/muestraIngresadores.html";
	document.formMuestra.submit();
	return true;
}
function nuevoIngresador(){
  	if(document.formMuestra.organizacion.value <= 0){
	    alert('Debe seleccionar Organizaci\u00f3n.');
	    document.formMuestra.organizacion.focus();
	    return false;
	}
	document.formMuestra.accionweb.value = "facturacionInterceptorB.cargaIngresoIngresador";
	document.formMuestra.action = "$home/sifB/inc/nuevoIngresador.html";
	document.formMuestra.submit();
	return true;
}
</SCRIPT>
	
<form name="form" action="valeAutoriza" method="Post">
	<input type="hidden" name="id" value="" />		
	<input type="hidden" name="accionweb" value="" />	
</form>
<form name="formRecarga" action="" method="Post">
	<input type="hidden" name="rutide" value="" />		
	<input type="hidden" name="digide" value="" />	
	<input type="hidden" name="accion" value="" />
	<input type="hidden" name="accionweb" value="" />
	<input type="hidden" name="organizacion" value="$!organizacion" />
	<input type="hidden" name="tipo" value="12" />
</form>
#if($!mensaje)
<script>	
 alert('$!mensaje'); 	 
</script>
#end
 #parse("sgf/inc/bottom.vm")
