#parse("sgf/inc/topB.vm")

	<div class="post"><!--post-->
	<div class="header"><!--header-->
		<h3>Solicitud de Facturaci&oacute;n &nbsp;</h3>
	</div><!--fin header-->
          

	<div class="content">			
		<h5B>Ingreso &nbsp;&nbsp;<h5B>
		    </div><!--header-->          
			<div class="content"><!--content-->
		       <form class="login" action="" method="post" name="login_form" >
			 	<table width="100%" border="0" cellspacing="2" cellpadding="5">
			 	
	 		  
	 		    <tr>
         			<td class="estilo_Azul" colspan="2"><h4>Datos Cliente</h4></td>
         			<td> &nbsp;</td>
	 			</tr>
	 			  #if(!$nomCliente)
	 			  <tr>
                	  <td width="20%"><span id="nomIde">Ingreso </span></td>
                	  <td>                 	  	
       	               	<select name="tipoIngreso" id="tipoIngreso"  class="estilo_Azul" onchange="verTipoIngreso()">
			     			<option value="1" selected >Nueva solicitud de facturacion</option>
                 			<option value="2" >Copiar Existente</option>
  	        			</select> 
  	        			<span id="idInterno">	</span>	  
                	  </td>
                
                   </tr>
                 #end  
			       	<tr>
                	  <td width="20%"><span id="nomIde">Rut Cliente &nbsp;&nbsp; </span></td>
                	  <td>                 	  	
       	                <input type="text" name="rut_aux" size="13" maxlength="13" class="estilo_Azul" value ="$!rut_aux" #if($rut_aux && $nomCliente ) readonly #end onKeyPress="enter(event,1);return noenter()" onChange="checkRutField(document.login_form.rut_aux.value, document.login_form);" style="text-align: left;">
       	                #if(!$nomCliente)
       	                <a href="#" onclick="validar(document.login_form);"><img src="$home/sgf/img/button_search.gif" align="top" alt="Consultar Cliente" border="0"></a> &nbsp;&nbsp;
                	   <!-- <a href="#" onClick="nuevoClienteFacturacion('$home/sifB/inc/cliente.html'); return false;"  alt="Agregar" >
                	    	<img src="$home/sgf/img/agregar2.gif" alt="Agregar" border="0" align="absmiddle"></a>  -->
                	    #else
                	    	<input type="hidden" name="nomCliente" value="$!nomCliente">
                     	
                	    #end
                	    <input type="hidden" name="rutnum" value="$!rutnum">
                		<input type="hidden" name="dvrut" value="$!dvrut">
                	    <input type="hidden" name="accionweb"  value="">
                        <input type="hidden" name="opcionMenu"  value="$!opcionMenu">     
                        <input type="hidden" name="tipo"  value="$!opcionMenu">             
					  	<input name="fechaInicio" type="hidden" id="fechaInicio" value="0" >
						<input name="fechaTermino" type="hidden" id="fechaTermino" value="0" >
					  
                	  </td>
                   </tr>
                </table>  
                </form>
                <span id="detalleOrden">                               		
				#parse("sifB/inc/detalleFacturacion.vm")
				</span>  
			</div><!--content-->
			<br />
		</div><!--post-->
#if(!$rut_aux && !$identificador)		
<script language="javascript">
	document.login_form.rut_aux.focus();
</script>
#end		  
<script language="javascript">		
function cargaLogin(){	  
		if(document.login_form.tipoIngreso.value == 1){
		    document.login_form.action = "$home/sifB/inc/SFacturacion.html";
		    document.login_form.accionweb.value = "facturacionInterceptorB.verificaRut";	
		} else {
		    if(document.login_form.numDoc.value == ""){
		        alert('Debe ingresar N\u00B0 de Factura.');
	    		document.login_form.numDoc.focus();
	    		return false;
	   		 }
		    document.login_form.action = "$home/sifB/inc/consultaFactura.html";
		    document.login_form.accionweb.value = "facturacionInterceptorB.consultaFactura";
		    document.login_form.tipo.value = "11";
            }  
		    
		    
		    
        	document.login_form.submit();	
		}
function verTipoIngreso(){

	if(document.login_form.tipoIngreso.value == 2)
	    document.getElementById('idInterno').innerHTML = "<input name=\"numDoc\" class=\"Input\" type=\"text\"  value=\"\" size=\"10\" onKeyPress=\"enter(event);\">";
	else
	    document.getElementById('idInterno').innerHTML = ""; 
}
	
	
/*	function verificaCuenta(){
     new Ajax.Updater('detalleMensajeContrato', '$home/sipB/inc/espere.html');  
	document.formFacturacion.accionweb.value = "facturacionInterceptorB.verificaPagoCuenta";
		new Ajax.Updater('detalleMensajeContrato', '$home/sifB/inc/verificacionPagoCuenta.html', {
			parameters: { accionweb: document.formFacturacion.accionweb.value,
			              cuentaPresup : document.getElementById('cuentaPresup').value,
			              rutnum : document.login_form.rutnum.value,
			              dvrut: document.login_form.dvrut.value}
			});

	return true;
	}*/
</script> 
   <form name="formRecarga" id="formRecarga" action="" method="POST" target="" >
   <input type="hidden" name="accionweb"  value="">
	<input type="hidden" name="rutnum"  value="$!rutnum">
	<input type="hidden" name="dvrut"  value="$!dvrut">
	<input type="hidden" name="cuentaPresup"  value="$!cuentaPresup">
   </form>

#if($!mensaje)
<script>	
 alert('$!mensaje'); 	 
</script>
#end	
#parse("sgf/inc/bottom.vm")
