/* ================================================================ 
This copyright notice must be kept untouched in the stylesheet at 
all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.stunicholls.com/menu/pro_drop_2.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.

#FFFFFF -- blanco
#10456B -- azul
#3F7296 -- celeste

=================================================================== */

.preload1 {background: url(three_0a.gif);}
.preload2 {background: url(three_1a.gif);}


#navmenu_princ {
	z-index:1; 
	position: relative;
	background: #10456B url('../../img/nav/bg.png') repeat-x;
	height: 40px;
	margin: 0px 0px 0px 0px;}
	
/*  banner */	
#navmenu_princB {
	z-index:1; 
	position: relative;
	background: #D61727 url('../../img/nav/bgB2.png') repeat-x;
	height: 40px;
	margin: 0px 0px 0px 0px;}
#navmenu_sesionB {
	padding:0; 
	margin:0; 
	list-style:none; 
	height:40px; 
	background: #D61727 url('../../img/nav/bgB2.png') repeat-x; 
	position:relative; 	
	font-family:arial, verdana, sans-serif;}

#navmenu_sesionB .sesion {
	display:block; 
	float:left; 
	height:40px; 
	line-height:40px; 
	color:#fff; 
	text-decoration:none; 
	font-size:11px; 
	padding:0 0 0 12px; }
	
	

#navmenuB {
	padding:0;
	margin:0; 
	list-style:none; 
	height:40px; 
	background: #D61727 url('../../img/nav/bgB2.png') repeat-x; 
	position:relative; 	
	font-family:arial, verdana, sans-serif;}
#navmenuB li.top {
	display:block;
	position:relative; 
	float:left; 
	height:40px;
	}
	
#navmenuB li a.top_link {
	display:block; 
	float:left; 
	height:35px; 
	line-height:40px; 
	color:#fff; 
	text-decoration:none; 
	font-size:12px; 
	font-weight:bold; 
	padding:0 0 0 12px; 
	cursor:pointer;}
	
#navmenuB li a.top_link span {
	float:left; 
	display:block; 
	padding:0 24px 0 12px; 
	height:35px;}
	
#navmenuB li a.top_link span.down {
	float:left; 
	display:block; 
	padding:0 24px 0 12px; 
	height:35px; 
	background: url(three_1a.gif) no-repeat right top;}

#navmenuB li:hover a.top_link {
	/*background:url(three_over2.gif) no-repeat center top;*/
	background-image:url(three_over2.gif); 
	color: #fff; 
	background-repeat:no-repeat; 
}
	
#navmenuB li:hover a.top_link span.down {
	background:url(three_over.gif) no-repeat right top;}

/* Default list styling */


#navmenuB li ul.sub {
	color:#10456B;}

#navmenuB li:hover ul.sub {
	left:1px; top:40px; 
	background: #fff;
	padding:3px; 
	border:1px solid #10456B; 
	white-space:nowrap; 
	width:150px; 
	height:auto; 
	/*z-index:300;*/}

#navmenuB li:hover ul.sub li {
	display:block; 
	height:32px;/*20px; */
	position:relative; 
	float:left; 
	width:155px; 
	font-weight:normal;	  	
	}
	
#navmenuB li:hover ul.sub li a {
	display:block; 
	font-size:12px; 
	height:30px;/*18px;*/ 
	width:148px; 
	line-height:30px;/*18px; */
	text-indent:5px; 
	color:#000; 
	text-decoration:none;
	border:1px solid #FFFFFF;
	}
#navmenuB  ul.sub li ul li:hover a {
	display:block; 
	font-size:12px; 
	height:30px;/*18px;*/ 
	width:148px; 
	line-height:30px;/*18px; */
	text-indent:5px; 
	color:#000; 
	text-decoration:none;
	border:1px solid #FFFFFF;
	}	
#navmenuB li ul.sub li a.fly {
	background:#FFFFFF url(arrow_menu.gif) 139px 10px no-repeat;}
	
#navmenuB li:hover ul.sub li a:hover {
	background:#10456B; 
	color:#fff; 
	border-color:#fff;}
	
#navmenuB li:hover ul.sub li a.fly:hover {
	background:#10456B url(arrow_menu.gif) 139px 10px no-repeat; 
	color:#fff;}

#navmenuB li:hover li:hover ul,
#navmenuB li:hover li:hover li:hover ul,
#navmenuB li:hover li:hover li:hover li:hover ul,
#navmenuB li:hover li:hover li:hover li:hover li:hover ul {
	left:153px; 
	top:-4px; 
	background: #FFFFFF; 
	padding:3px; 
	border:1px solid #10456B; 
	white-space:nowrap; 
	width:150px; 
	/*z-index:400*/; 
	height:auto;
	}

#navmenuB ul, 
#navmenuB li:hover ul ul,
#navmenuB li:hover li:hover ul ul,
#navmenuB li:hover li:hover li:hover ul ul,
#navmenuB li:hover li:hover li:hover li:hover ul ul {
	position:absolute;
	left:-9999px; 
	top:-9999px; 
	width:0; 
	height:0; 
	margin:0; 
	padding:0; 
	list-style:none;}

#navmenuB li:hover li:hover a.fly,
#navmenuB li:hover li:hover li:hover a.fly,
#navmenuB li:hover li:hover li:hover li:hover a.fly,
#navmenuB li:hover li:hover li:hover li:hover li:hover a.fly {
	background:#10456B url(arrow_menu.gif) 139px 10px no-repeat; 
	color:#fff; 
	border-color:#fff;} 

#navmenuB li:hover li:hover li a.fly,
#navmenuB li:hover li:hover li:hover li a.fly,
#navmenuB li:hover li:hover li:hover li:hover li a.fly {
	background:#FFFFFF url(arrow_menu.gif) 139px 10px no-repeat; 
	color:#000; 
	border-color:#FFFFFF;} 
#navmenuB li a.top_linkB {
	display:block; 
	float:left; 
	height:35px; 
	line-height:40px; 
	color:#fff; 
	text-decoration:none; 
	font-size:12px; 
	font-weight:bold; 
	padding:0 0 0 12px; 
	cursor:pointer;}
	
#navmenuB li a.top_linkB span {
	float:left; 
	display:block; 
	padding:0 24px 0 12px; 
	height:35px;}
	
#navmenuB li a.top_linkB span.down {
	float:left; 
	display:block; 
	padding:0 24px 0 12px; 
	height:35px; 
	background: url(three_1a.gif) no-repeat right top;}

#navmenuB li:hover a.top_linkB {
	/*background:url(three_over2.gif) no-repeat center top;*/
	background-image:url(three_over2B.png); 
	color: #fff; 
	background-repeat:no-repeat; 
}
	
#navmenuB li ul.subB {
	color:#1C6388;}

#navmenuB li:hover ul.subB {
	left:1px; top:40px; 
	background: #fff;
	padding:3px; 
	border:1px solid #10456B; 
	white-space:nowrap; 
	width:150px; 
	height:auto; 
	/*z-index:300;*/}

#navmenuB li:hover ul.subB li {
	display:block; 
	height:32px;/*20px; */
	position:relative; 
	float:left; 
	width:155px; 
	font-weight:normal;	  	
	}
	
#navmenuB li:hover ul.subB li a {
	display:block; 
	font-size:12px; 
	height:30px;/*18px;*/ 
	width:148px; 
	line-height:30px;/*18px; */
	text-indent:5px; 
	color:#000; 
	text-decoration:none;
	border:1px solid #FFFFFF;
	}
#navmenuB  ul.subB li ul li:hover a {
	display:block; 
	font-size:12px; 
	height:30px;/*18px;*/ 
	width:148px; 
	line-height:30px;/*18px; */
	text-indent:5px; 
	color:#000; 
	text-decoration:none;
	border:1px solid #FFFFFF;
	}	
#navmenuB li ul.subB li a.fly {
	background:#FFFFFF url(arrow_menu.gif) 139px 10px no-repeat;}
	
#navmenuB li:hover ul.subB li a:hover {
	background:#D61727; 
	color:#fff; 
	border-color:#fff;}
	
#navmenuB li:hover ul.subB li a.fly:hover {
	background:#D61727 url(arrow_menu.gif) 139px 10px no-repeat; 
	color:#fff;}

	
	/**/
#navmenu_sesion {
	padding:0; 
	margin:0; 
	list-style:none; 
	height:40px; 
	background: #10456B url('../../img/nav/bg.png') repeat-x; 
	position:relative; 	
	font-family:arial, verdana, sans-serif;}

#navmenu_sesion .sesion {
	display:block; 
	float:left; 
	height:40px; 
	line-height:40px; 
	color:#fff; 
	text-decoration:none; 
	font-size:11px; 
	padding:0 0 0 12px; }

#navmenu {
	padding:0;
	margin:0; 
	list-style:none; 
	height:40px; 
	background: #10456B url('../../img/nav/bg.png') repeat-x; 
	position:relative; 	
	font-family:arial, verdana, sans-serif;}

#navmenu li.top {
	display:block;
	position:relative; 
	float:left; 
	height:40px;
	}
	
#navmenu li a.top_link {
	display:block; 
	float:left; 
	height:35px; 
	line-height:40px; 
	color:#fff; 
	text-decoration:none; 
	font-size:12px; 
	font-weight:bold; 
	padding:0 0 0 12px; 
	cursor:pointer;}
	
#navmenu li a.top_link span {
	float:left; 
	display:block; 
	padding:0 24px 0 12px; 
	height:35px;}
	
#navmenu li a.top_link span.down {
	float:left; 
	display:block; 
	padding:0 24px 0 12px; 
	height:35px; 
	background: url(three_1a.gif) no-repeat right top;}

#navmenu li:hover a.top_link {
	/*background:url(three_over2.gif) no-repeat center top;*/
	background-image:url(three_over2.gif); 
	color: #fff; 
	background-repeat:no-repeat; 
}
	
#navmenu li:hover a.top_link span.down {
	background:url(three_over.gif) no-repeat right top;}

/* Default list styling */


#navmenu li ul.sub {
	color:#1C6388;}

#navmenu li:hover ul.sub {
	left:1px; top:40px; 
	background: #fff;
	padding:3px; 
	border:1px solid #10456B; 
	white-space:nowrap; 
	width:150px; 
	height:auto; 
	/*z-index:300;*/}

#navmenu li:hover ul.sub li {
	display:block; 
	height:32px;/*20px; */
	position:relative; 
	float:left; 
	width:155px; 
	font-weight:normal;	  	
	}
	
#navmenu li:hover ul.sub li a {
	display:block; 
	font-size:12px; 
	height:30px;/*18px;*/ 
	width:148px; 
	line-height:30px;/*18px; */
	text-indent:5px; 
	color:#000; 
	text-decoration:none;
	border:1px solid #FFFFFF;
	}
#navmenu  ul.sub li ul li:hover a {
	display:block; 
	font-size:12px; 
	height:30px;/*18px;*/ 
	width:148px; 
	line-height:30px;/*18px; */
	text-indent:5px; 
	color:#000; 
	text-decoration:none;
	border:1px solid #FFFFFF;
	}	
#navmenu li ul.sub li a.fly {
	background:#FFFFFF url(arrow_menu.gif) 139px 10px no-repeat;}
	
#navmenu li:hover ul.sub li a:hover {
	background:#3F7296; 
	color:#fff; 
	border-color:#fff;}
	
#navmenu li:hover ul.sub li a.fly:hover {
	background:#3F7296 url(arrow_menu.gif) 139px 10px no-repeat; 
	color:#fff;}

#navmenu li:hover li:hover ul,
#navmenu li:hover li:hover li:hover ul,
#navmenu li:hover li:hover li:hover li:hover ul,
#navmenu li:hover li:hover li:hover li:hover li:hover ul {
	left:153px; 
	top:-4px; 
	background: #FFFFFF; 
	padding:3px; 
	border:1px solid #10456B; 
	white-space:nowrap; 
	width:150px; 
	/*z-index:400*/; 
	height:auto;
	}

#navmenu ul, 
#navmenu li:hover ul ul,
#navmenu li:hover li:hover ul ul,
#navmenu li:hover li:hover li:hover ul ul,
#navmenu li:hover li:hover li:hover li:hover ul ul {
	position:absolute;
	left:-9999px; 
	top:-9999px; 
	width:0; 
	height:0; 
	margin:0; 
	padding:0; 
	list-style:none;}

#navmenu li:hover li:hover a.fly,
#navmenu li:hover li:hover li:hover a.fly,
#navmenu li:hover li:hover li:hover li:hover a.fly,
#navmenu li:hover li:hover li:hover li:hover li:hover a.fly {
	background:#3F7296 url(arrow_menu.gif) 139px 10px no-repeat; 
	color:#fff; 
	border-color:#fff;} 

#navmenu li:hover li:hover li a.fly,
#navmenu li:hover li:hover li:hover li a.fly,
#navmenu li:hover li:hover li:hover li:hover li a.fly {
	background:#FFFFFF url(arrow_menu.gif) 139px 10px no-repeat; 
	color:#000; 
	border-color:#FFFFFF;} 

/*css para banner*/	
#navmenu li a.top_linkB {
	display:block; 
	float:left; 
	height:35px; 
	line-height:40px; 
	color:#fff; 
	text-decoration:none; 
	font-size:12px; 
	font-weight:bold; 
	padding:0 0 0 12px; 
	cursor:pointer;}
	
#navmenu li a.top_linkB span {
	float:left; 
	display:block; 
	padding:0 24px 0 12px; 
	height:35px;}
	
#navmenu li a.top_linkB span.down {
	float:left; 
	display:block; 
	padding:0 24px 0 12px; 
	height:35px; 
	background: url(three_1a.gif) no-repeat right top;}

#navmenu li:hover a.top_linkB {
	/*background:url(three_over2.gif) no-repeat center top;*/
	background-image:url(three_over2B.png); 
	color: #fff; 
	background-repeat:no-repeat; 
}
	
#navmenu li:hover a.top_link span.down {
	background:url(three_over.gif) no-repeat right top;}

/* Default list styling */


#navmenu li ul.subB {
	color:#1C6388;}

#navmenu li:hover ul.subB {
	left:1px; top:40px; 
	background: #fff;
	padding:3px; 
	border:1px solid #10456B; 
	white-space:nowrap; 
	width:150px; 
	height:auto; 
	/*z-index:300;*/}

#navmenu li:hover ul.subB li {
	display:block; 
	height:32px;/*20px; */
	position:relative; 
	float:left; 
	width:155px; 
	font-weight:normal;	  	
	}
	
#navmenu li:hover ul.subB li a {
	display:block; 
	font-size:12px; 
	height:30px;/*18px;*/ 
	width:148px; 
	line-height:30px;/*18px; */
	text-indent:5px; 
	color:#000; 
	text-decoration:none;
	border:1px solid #FFFFFF;
	}
#navmenu  ul.subB li ul li:hover a {
	display:block; 
	font-size:12px; 
	height:30px;/*18px;*/ 
	width:148px; 
	line-height:30px;/*18px; */
	text-indent:5px; 
	color:#000; 
	text-decoration:none;
	border:1px solid #FFFFFF;
	}	
#navmenu li ul.subB li a.fly {
	background:#FFFFFF url(arrow_menu.gif) 139px 10px no-repeat;}
	
#navmenu li:hover ul.subB li a:hover {
	background:#D61727; 
	color:#fff; 
	border-color:#fff;}
	
#navmenu li:hover ul.subB li a.fly:hover {
	background:#D61727 url(arrow_menu.gif) 139px 10px no-repeat; 
	color:#fff;}

#navmenu li:hover li:hover ul,
#navmenu li:hover li:hover li:hover ul,
#navmenu li:hover li:hover li:hover li:hover ul,
#navmenu li:hover li:hover li:hover li:hover li:hover ul {
	left:153px; 
	top:-4px; 
	background: #FFFFFF; 
	padding:3px; 
	border:1px solid #10456B; 
	white-space:nowrap; 
	width:150px; 
	/*z-index:400*/; 
	height:auto;
	}

#navmenu ul, 
#navmenu li:hover ul ul,
#navmenu li:hover li:hover ul ul,
#navmenu li:hover li:hover li:hover ul ul,
#navmenu li:hover li:hover li:hover li:hover ul ul {
	position:absolute;
	left:-9999px; 
	top:-9999px; 
	width:0; 
	height:0; 
	margin:0; 
	padding:0; 
	list-style:none;}

#navmenu li:hover li:hover a.flyB,
#navmenu li:hover li:hover li:hover a.flyB,
#navmenu li:hover li:hover li:hover li:hover a.flyB,
#navmenu li:hover li:hover li:hover li:hover li:hover a.flyB {
	background:#D61727 url(arrow_menu.gif) 139px 10px no-repeat; 
	color:#fff; 
	border-color:#fff;} 

#navmenu li:hover li:hover li a.flyB,
#navmenu li:hover li:hover li:hover li a.flyB,
#navmenu li:hover li:hover li:hover li:hover li a.flyB {
	background:#FFFFFF url(arrow_menu.gif) 139px 10px no-repeat; 
	color:#000; 
	border-color:#FFFFFF;} 

	
