#parse("remuneracion/inc/top.vm")

<script type="text/javascript" src="$home/remuneracion/js/jquery-1.8.2.min.js" language="javascript"></script>
<script type="text/javascript" src="$home/remuneracion/js/jquery.dataTables.js" language="javascript"></script>
<link rel="stylesheet" type="text/css" href="$home/remuneracion/css/jquery.dataTables.css" />
<script language="javascript">	   	       
	function validateLetter(e) { 
    	tecla = (document.all) ? e.keyCode : e.which; 
    	if (tecla==8) return true; 
    		patron =/[A-Za-z\s]/; 
    	te = String.fromCharCode(tecla); 
    	return patron.test(te); 
	}
	function validateNumber(e){        
    	tecla = (document.all) ? e.keyCode : e.which; // 2
    	if (tecla==8) return true; // 3
    		patron =/[0-9\s]/; // 4
    	te = String.fromCharCode(tecla); // 5
    	return patron.test(te); // 6        
	}
	
	jQuery(document).ready(function() {
		jQuery('#example').dataTable( {
			"aaSorting": [[ 4, "desc" ]]
		} );
		
		
	} );
	
	function criterioBusqueda(){
		var rutSolicitud = document.form.rutSolicitud.value;
		var estadoSolicitud = document.form.estadoSolicitud.value;
		if(rutSolicitud == "" && estadoSolicitud == "0"){
			alert("Ingrese Campo de Busqueda");
			return false;
		}else{
			jQuery("#search").css('visibility','visible');
			document.form.action = "$home/remuneracion/inc/adminSolicitudes.html";
			document.form.accionweb.value = "remuneracionInterceptor.getSolicitudes";	
			document.form.submit(); 			
			return true;
		}
		
	}

	function getInfo(rut){		
		jQuery("#search").css('visibility','visible');
		jQuery("#informacion").load(
	   			"getInformacion.html", 
	   			{	   				
	   				rutSolicitudH: rut, 
	   				accionweb  : 'remuneracionInterceptor.getInformacion'	,
	   				estadoSolicitud : document.form.estadoSolicitud.value  				
	   			},
	   			function() {	   				
	   				jQuery("#search").css('visibility','hidden');
	   				jQuery("#informacion").css('display','block');
	   				jQuery(window).scrollTop(jQuery('#informacion').offset().top);	   				
	   			}
	   		);
			 
	}
	
</script>
   
   <div style="padding-top:7px">
	<h5>
		Administraci&oacute;n de Solicitudes
	</h5>
    </div>

<div class="content">	

	<form id="form" name="form" method="POST">
		<input type="hidden" name="accionweb" value="">
		<input type="hidden" name="rutSolicitudH" value="">
	<fieldset>
   		<legend class="smallbluetext">B&uacute;squeda de Solicitudes</legend>	
   		<table width="100%" border="0" cellpadding="2" cellspacing="1">
    	<tr>
    		<td width="20%">Estado Solicitud</td>
    		<td>
				<select id="estadoSolicitud" name="estadoSolicitud" class="estilo_Azul">
					<option value="1" #if($estadoSolicitud == 1)selected #end>Pendientes</option>
					<option value="2" #if($estadoSolicitud && $estadoSolicitud == 2)selected #end>Aceptadas</option>
					<option value="3" #if($estadoSolicitud && $estadoSolicitud == 3)selected #end>Rechazadas</option>
					<option value="4" #if($estadoSolicitud && $estadoSolicitud == 4)selected #end>Todas</option>
				</select>
			</td>
			<td width="20%">Cambios Especiales</td>
    		
			<td >	<select id="cambioSolicitud" name="cambioSolicitud" class="estilo_Azul">
					<option value="0" #if(!$cambioSolicitud || ($cambioSolicitud == 0))selected #end>Todos</option>
					<option value="1" #if($cambioSolicitud == 1)selected #end>Cambio Domicilio</option>
					<option value="2" #if($cambioSolicitud == 2)selected #end>Cambio Estado Civil</option>
				</select></td>
		</tr>
		<tr>
    		<td width="20%">Rut Sin D&iacute;gito Verificador&nbsp;&nbsp;&nbsp;<br>(ej.: 16142112)</td>
		    <td> <input id="rutSolicitud" name="rutSolicitud" type="text" maxlength="8" size="10" style="text-align:left;!important" onkeypress="return validateNumber(event);"/>						
		    </td>
		     <td>
		    	&nbsp;
    		</td>
		    <td>
		    	 <a href="#" onclick=" criterioBusqueda(); return false; "><img src="$home/remuneracion/img/button_search.gif" align="absmiddle" alt="Buscar" border="0" ></a>
	       
    		</td>
		</tr>
		</table>  
		</fieldset>

<div id="informacion">	
	<img width="35" height="35" src="../../remuneracion/img/saving2.gif" style="visibility:hidden;" id="search" name="search"/>
	<br>
		
	</br>	
#if($solicituds)		
<table cellpadding="0" cellspacing="0" border="0" id="example" width="100%">
	<thead>
		<tr>
			<th valign="bottom" class="bordetop texto" scope="col"><br>Rut</th>
			<th valign="bottom" class="bordetop texto" scope="col">Nombre Funcionario</th>
			<th valign="bottom" class="bordetop texto" scope="col">Fecha de Solicitud</th>
			<th valign="bottom" class="bordetop texto" scope="col">Estado</th>
			<th width="1%">Ver</th>
			
		</tr>
	</thead>
	<tbody>
		#foreach($solicitud in $solicituds)																
		<tr>
			<td >${numbertool.format($solicitud.solRut)} - $solicitud.solDigRut</td>
			<td >$solicitud.solNombres $solicitud.solApPaterno $solicitud.solApMaterno</td>
			<td style="text-align: center">$date.format('dd/MM/yyyy',$solicitud.solFechaModificacion)</td>
			#if($solicitud.solEstado == 1)
				<td style="text-align: center">Pendiente</td>
			#elseif($solicitud.solEstado == 2)
				<td style="text-align: center">Aceptada</td>
			#elseif($solicitud.solEstado == 3)
				<td style="text-align: center">Rechazada</td>
			#end							
			<td >
				<a href="#" onclick="getInfo($solicitud.solRut);"><img src="$home/remuneracion/img/ver.gif" align="top" alt="Realizar b&uacute;squeda" border="0"></a>
				
				
			</td>								
		</tr>		
		#end
	</tbody>	
</table>
#end							
	</div>
	</form>	
	<br/><br/>	
	#if($rsUpdateSolicitud)
		<h4>$rsUpdateSolicitud</h4>
	#end
	

</div>
#parse("remuneracion/inc/bottom.vm")