#if(! $tipoM)
	#parse("sgf/inc/topB.vm")
#end

<style>
	.ajuste{
	padding-top: 3px;
	}
</style>
<script>	
</script> 
<div style="width:60%; float:left;" >	
	<input type="hidden" id="ROWID" value="$!reglaCuentaModificar.getRowid()" >
	<input type="hidden" id="tipoF" value="$tipoF" >
	<table style="width:100%;">
		<tbody>
			
		#if($tipoM=="DES" )
			
			<tr>
				<td class="ajuste" style="width:30%;">
					Id del Empleador <span style="color:red;"></span>
				</td>
				<td style="width:35%;">
					<div class="ajuste" style="float:left;"> 
						#set( $esperado = "true")
						:<input type="checkbox" id="id"  #if($reglaCuentaModificar.getId() && $reglaCuentaModificar.getId().equals($esperado)   ) 
																		checked 
																   #end />
					</div>					
				</td>
				
				<td class="ajuste">
					
				</td>
			</tr>
			<tr>
				<td class="ajuste" style="width:30%;">
					C&oacute;digo de Descuento<span style="color:red;">*</span>
				</td>
				<td stryle="width:50%;">
					<div class="ajuste" style="float:left;"> 
						:<input type="text" id="CODHDE" onkeypress="return valida(event)" $!edit  value="$!reglaCuentaModificar.getCodigo()"  maxlength="3" onkeyup="javascript:this.value=this.value.toUpperCase();descGeneral('CODHDE')" onBlur="validarPKRegla()" />
					</div>
					<div style="float:left $!ayuda">
						#if(! $edit)								
							<a href="#" onclick="abrirVentana('CODHDE'); return false;">
						    	<img src="$home/sgf/img/button_search.gif" align="middle" alt="Consultar CODHDE" border="0"/>
						    </a>
					    #end
				    </div>
				</td>
				<td class="ajuste">
					<span id="descCODHDE" ></span>
				</td>
			</tr>
		
		#else	
		
			<tr>
				<td class="ajuste" style="width:30%;">
					C&oacute;digo de Haber<span style="color:red;">*</span>
				</td>
				<td>
					<div class="ajuste" style="float:left;"> 
						:<input type="text" id="CODHDE"  $!edit onkeypress="return valida(event)"  value="$!reglaCuentaModificar.getCodigo()"  maxlength="3" onkeyup="javascript:this.value=this.value.toUpperCase();descGeneral('CODHDE')" onBlur="validarPKRegla()" />
					</div>
					<div style="float:left $!ayuda">
						#if(! $edit)								
							<a href="#" onclick="abrirVentana('CODHDE'); return false;">
						    	<img src="$home/sgf/img/button_search.gif" align="middle" alt="Consultar CODHDE" border="0"/>
						    </a>
					    #end
				    </div>
				</td>
				
				<td class="ajuste">
					<span id="descCODHDE" ></span>
				</td>
			</tr>
			<tr>
				<td class="ajuste">
					C&oacute;digo Planta<span style="color:red;">*</span> 
				</td>
				<td>
					<div class="ajuste" style="float:left;"> 
						:<select id="CODPLA" 
						#if(! $edit)
							#if($tipoM == "DES")
								disabled
							#end
						#else
							$!edit
						#end 
						style=" width: 190px;" onchange="descGeneral('CODPLA');" >
						  <option value="0" >Planta</option>
						  #foreach($planta in $plantas)
						  	#if( $reglaCuentaModificar && $planta.getCodigoPlanta()==$reglaCuentaModificar.getPlanta())
						  		<option selected value="$planta.getCodigoPlanta()">$planta.getCodigoPlanta()-$planta.getDescPlanta()</option>															
							#else
								<option  value="$planta.getCodigoPlanta()">$planta.getCodigoPlanta()-$planta.getDescPlanta()</option>
							#end  						  
  						  #end
						</select>
					</div>					
				</td>
				
				<td class="ajuste">
					<span id="descCODPLA" ></span>
				</td>
			</tr>
			
    		<tr>
				<td>
					C&oacute;digo de Nivel<span style="color:red;">*</span>
				</td>
				<td>
					<div class="ajuste" style="float:left;"> 
						:<input type="text" 
						#if(! $edit)
							#if($tipoM == "DES")
								disabled
							#end
						#else
							$!edit
						#end 
						 id="NUMNIV" maxlength="2" onBlur="validarPKRegla()" value="$!reglaCuentaModificar.getNivel()" onkeyup="this.value=this.value.toUpperCase();descGeneral('NUMNIV')" />
						
					</div>
					<div  style="float:left;">
						
					</div>
				</td>
				
				<td class="ajuste">
					<span id="descNUMNIV" ></span>
				</td>
			</tr>
		#end				    
		    <tr>
				<td>
					C&oacute;digo Cuenta<span style="color:red;">*</span>
				</td>
				<td>
					<div class="ajuste" style="float:left;"> 
						:<input type="text" id="Cuenta" maxlength="6"  onkeyup="javascript:this.value=this.value.toUpperCase();descGeneral('Cuenta')" value="$!reglaCuentaModificar.getCuenta()" />
					</div>
					<div  style="float:left; >
						<a href="#" onclick="abrirVentana('Cuenta'); return false;">
						    <img src="$home/sgf/img/button_search.gif" align="middle" alt="Consultar Cuenta" border="0"/>
						</a>
					</div>
				</td>
				
				<td class="ajuste">
					<span id="descCuenta" ></span>
				</td>
			</tr>
		
			<tr>
				<td>
					C&oacute;digo Organizaci&oacute;n#if($tipoM=="DES") <span style="color:red;">*</span>  #end
				</td>
				<td>
					<div class="ajuste" style="float:left;"> 
						#set( $func = "FUNCIONARIO" )
						:<input type="text" id="CODORG"  maxlength="6" 
						onkeyup="javascript:this.value=this.value.toUpperCase();descGeneral('CODORG')" 
						value="#if($!reglaCuentaModificar.getOrganizacion() && $!reglaCuentaModificar.getOrganizacion() != $func)$!reglaCuentaModificar.getOrganizacion()#end"/>
					</div>
					<div  style="float:left;">
						<a href="#" onclick="abrirVentana('CODORG'); return false;">
						    <img src="$home/sgf/img/button_search.gif" align="middle" alt="Consultar Organizaciones" border="0"/>
						</a>
					</div>
				</td>
				
				<td class="ajuste">
					<span id="descCODORG" > </span>
				</td>
			</tr>
			<tr>
				<!-- <td>
					Observaciones 
				</td>
				<td class="ajuste" colspan="3">
					:<textarea rows="4" cols="50" id="obs" >$!reglaCuentaModificar.getUsmHabDesObs()</textarea>
				</td> -->				
			</tr>
		</tbody>
	</table>
	#if(! $reglaCuentaModificar)	
		<input type="button" class="botton" value="Guardar Regla" onclick="enviarRegla('CREATE')"  />
	#else
		<input type="button" class="botton" value="Guardar Cambios Regla " onclick="enviarRegla('EDIT')"  />
		<!-- <input type="button" class="botton" value="Eliminar Regla" onclick="enviarRegla('ELIM')"  /> -->
		
	#end
	<input type="button" class="botton" value="Volver" onclick="cambiarVista('1')"  />
</div>
<div id="MesForm" style="width:30%; float:left;" >
	

</div>
#if((! $reglaCuentaModificar) == false )
<script>
	validarCamposMinimos();
	formatoCodigo();
</script>
#end
