#set($CODHDE = $tipo == "CODHDE")
#set($CUENTA = $tipo == "Cuenta")
#set($CODORG = $tipo == "CODORG")
$tipo
$CODORG
#if($datos.size()>0)
	#if($CODHDE)
		<table id='tabla' style='width: 100%;'>
			<thead>
				<tr>
					<th>
						C&oacute;digo
					</th>
					<th>
						Descripci&oacute;n
					</th>
				</tr>
			</thead>
			<tbody>
				#foreach($reg in $datos)				
					<tr ondblclick="filaSeleccion('$reg.getCodHabDes()')">
						<td>
							$reg.getCodHabDes()
						</td>
						<td>
							$reg.getDescHabDes()
						</td>
					</tr>
				#end
			</tbody>
		</table>
	#elseif($CUENTA)
		<table id='tabla' style='width: 100%;'>
			<thead>
				<tr>
					<th>
						C&oacute;digo Cuenta
					</th>
					<th>
						Descripci&oacute;n descripci&oacute;n
					</th>
				</tr>
			</thead>
			<tbody>
				#foreach($reg in $datos)				
					<tr ondblclick="filaSeleccion('$reg.getCodigoCuenta()')">
						<td>
							$reg.getCodigoCuenta()
						</td>
						<td>
							$reg.getDescCuenta()
						</td>
					</tr>
				#end
			</tbody>
		</table>
	#elseif($CODORG)
		<table id='tabla' style='width: 100%;'>
			<thead>
				<tr>
					<th>
						C&oacute;digo Organizaci&oacute;n
					</th>
					<th>
						Descripci&oacute;n Organizaci&oacute;n
					</th>
					<th>
						C&oacute;digo Fondo
					</th>
					<th>
						C&oacute;digo Programa
					</th>
				</tr>
			</thead>
			<tbody>
				#foreach($reg in $datos)				
					<tr ondblclick="filaSeleccion('$reg.getCodigoCuenta()')">
						<td>
							$reg.getCodOrgn()
						</td>
						<td>
							$reg.getDescOreg()
						</td>
						<td>
							$reg.getCodFondo()
						</td>
						<td>
							$reg.getCodPrograma()
						</td>
					</tr>
				#end
			</tbody>
		</table>
	#end
#else

	<h3> No hay similitud con alguna $tipo </h3>

#end