#if ($listaEdificio && $listaEdificio.size() > 0)
<select name="edificio" id="edificio" class="estilo_Azul"  onchange="cargarPiso();cargarOficina();obtieneCodigoEntrega()"> 
	<option value="" >Seleccione Edificio</option>
	#foreach ( $edif in $listaEdificio)
			<option value="$edif" #if($edif.trim().equals($edificio.trim())) selected #end >$edif</option>
	#end
	</select>
#end
