#parse("sgf/inc/topB.vm")
<script language="JavaScript" src="$home/sgf/js/trim.js"></script>
	<div class="post">
     #parse("socrB/inc/ordenCompraREncabezado.vm")         
	 <div class="content">
	 	
 		<h5B>$titulo &nbsp;&nbsp;</h5B>
	     	<table width="100%" border="0" cellspacing="2" cellpadding="5">
      <form  action="" method="post" name="formOrdenCompra" id="formOrdenCompra" >
      	 <input type="hidden" name="accionweb" value="">
      	 <input type="hidden" name="tipo" value="">
      	 <input type="hidden" id="codigoEntrega" name="codigoEntrega"  value="">
   	
 	 <tr>
         <td width="20%">Fecha de entrega</td>
         <td ><input id="fechaEntregaIng" class="Input"  style="text-align: left;" name="fechaEntregaIng" readonly type="text" value="$!fechaEntregaIng" size="10" maxlength="14" onKeyPress="enter(event);" onBlur="">
         <a href="#" onClick="displayCalendar(document.formOrdenCompra.fechaEntregaIng,'dd/mm/yyyy',this,false);"> <img src="$home/sgf/img/calendario/ico_calendario_cel.gif" border="0" alt="Calendario" align="absmiddle"></a>
          <input type="hidden" id="fechaEntrega" name="fechaEntrega"  value="">
		 </td>
         <td> &nbsp;</td>
	 </tr> 
	  <tr>
         <td width="20%">Lugar entrega</td>
         <td ><select name="campus" id="campus" class="estilo_Azul" onchange="cargarEdificio();cargarPiso();cargarOficina();obtieneCodigoEntrega();">
		    	<option value="" >Seleccione</option>
		    	#foreach($lista in $listaCampus) 		
		    			<option value="$!{lista}">$!{lista}</option>
		   		#end                       
		      </select>
		     <span id="idEdificio">
			 </span> 
		     <span id="idPiso">
				</span> 
		      <span id="idOficina">
				</span> 
		 </td>
         <td> &nbsp;</td>
	 </tr>
	 <tr>
         <td width="20%">Enviar a</td>
         <td><span id="detalleCodigoEnvio"></span></td>
         <td>&nbsp;</td>
	 </tr>
	 <tr>
         <td width="20%">Importaci&oacute;n</td>
         <td><select name="importacion" id="importacion" class="estilo_Azul" onchange= "">
		    	<option value="SI" >SI</option>                       
		    	<option value="NO" selected="selected">NO</option>
		      </select>
		 </td>
         <td> &nbsp;</td>
	 </tr>
	  <tr>
         <td width="20%">DIVISA</td>
         <td ><select name="divisa" id="divisa" class="estilo_Azul" onchange= "">
		    	<option value="" >Seleccione</option>
		    	 #foreach( $lista in $listaDivisa.keySet() )
                  <option value="$lista" #if($lista.equals("CLP")) selected #end>$lista - $listaDivisa.get($lista)</option>
                 #end
                </select>
             </td>
         <td> &nbsp;</td>
	 </tr>
	</table>
    </form>
    <form name="formSolicitudProducto" id="formSolicitudProducto" action="" method="POST" target="" >
	 <input type="hidden" name="accionweb" value="">
	 <fieldset style="width:85%">
    <legend>PRODUCTOS</legend>
		<p>
			<label style="display: block; width: 15%;">Obsequio</label>
		    <select name="obsequio" id="obsequio" class="estilo_Azul" onchange= "">
		    	<option value="S" >SI</option>                       
		    	<option value="N" selected>NO</option>
		      </select>
		</p>
		<p>
			<label style="display: block; width: 15%">C&oacute;digo bien o servicio</label>
			<select name="producto" id="producto" class="estilo_Azul" onchange= "obtieneDetalleProducto()">
		    	<option value="-1" >Seleccione</option>
		    	 #foreach( $lista in $listaProducto.keySet() )
                  <option value="$lista@$listaProducto.get($lista)">$lista - $listaProducto.get($lista)</option>
                 #end
                </select>
		</p>
		<span id="detalleProducto">     		
		</span>
		<p>
			<label style="display: block; width: 15%">Cantidad</label>
			<input type="text" name="cantidadProd" size="5" maxlength="5"  style="text-align: left;"  value ="$!cantidad" style="text-align: left;" onKeyPress="return acceptNum(event);" onKeyUp="calculaTotal()">
		</p>
		
		<p>	
		    <label style="display: block; width: 15%">Precio</label>
			<input type="text" name="precioProd" size="10" maxlength="10"  style="text-align: left;" value ="$!precio" style="text-align: left;" onKeyPress="return acceptNum(event);" onKeyUp="calculaTotal();puntitos(this,this.value.charAt(this.value.length-1));">
		</p>
		<span id="valorTotalProd">     		
		</span>
	  </fieldset>
      </form>
     <form name="formDistribucionProducto" id="formDistribucionProducto" action="" method="POST" target="" >
	  <input type="hidden" name="accionweb" value="">
	  <fieldset style="width:85%">
     <legend>Distribuci&oacute;n por Producto</legend>
		<p>
			<label style="display: block; width: 15%;">Organizaci&oacute;n</label>
		        <select name="organizacion" id="organizacion" class="estilo_Azul" onchange="">
		    		<option value="-1" selected="selected">Seleccione</option>                       
		    		#foreach($lista in $cuentasPresupuestarias) 		
		    			<option value="${lista.nompro}@${lista.desuni}">${lista.nompro}-${lista.desuni}</option>
		     		#end
		    </select>
		  
		</p>
		<p>
			<label style="display: block; width: 15%">Valor a asignar</label>
			<INPUT type="text" name="valorAsignado" id="valorAsignado" size="12" maxlength="13"  style="text-align: left;" onKeyPress="return acceptNum(event);" onKeyUp="calculaRemanente();">
		</p>
		<p>	
			<label style="display: block; width: 15%">Remanente</label>
			<span id="valorRemanente">     		
		    </span>
			<input  name="agregar" value="Agregar" class="buttonGris2" onclick="cargarOrdenProducto();" type="button">
		</p>
    	<span id="detalleDistribucionProducto">     		
		</span>
		<br>
		<span id="detalleSolicitudProducto">     		
		</span>
      </fieldset>
      </form>
      
      <br>                  	  	
      <br>
      <br>
      </br>
            <div class="footer"><!--footer-->
				<ul>
				    <li><span id="botonRegistrar"></span></li>
				    <li><a href="#" onclick="cargaFacturaB(1,'$home/sifB/inc/SFacturacion.html');return false;"><img src="$home/sgf/img/undo.gif" align="absmiddle" alt="Volver" border="0"> Volver</a></li>
				</ul>			
			</div><!--footer-->
				 	
					
<script language="javascript">
	function cargarEdificio(){
	//alert('entra'+document.formOrdenCompra.campus.value);
	   	document.formOrdenCompra.accionweb.value = "ordenCompraRegularizacionInterceptorB.cargaEdificio";
       
      	new Ajax.Updater('idEdificio', '$home/socrB/inc/comboEdificio.html', {
			parameters: { accionweb: document.formOrdenCompra.accionweb.value,
			              campus: document.formOrdenCompra.campus.value}            	  
	
		});
	}
	function cargarPiso(){
      	document.formOrdenCompra.accionweb.value = "ordenCompraRegularizacionInterceptorB.cargaPiso";
       
      	new Ajax.Updater('idPiso', '$home/socrB/inc/comboPiso.html', {
			parameters: { accionweb: document.formOrdenCompra.accionweb.value,
			              campus: document.formOrdenCompra.campus.value,
			              edificio: document.getElementById('edificio').value
			        }            	  
	
		});
	}
	
	function cargarOficina(){
      	document.formOrdenCompra.accionweb.value = "ordenCompraRegularizacionInterceptorB.cargaOficina";
       
      	new Ajax.Updater('idOficina', '$home/socrB/inc/comboOficina.html', {
			parameters: { accionweb: document.formOrdenCompra.accionweb.value,
			              campus: document.formOrdenCompra.campus.value,
			              edificio: document.getElementById('edificio').value,
			   			  piso: document.getElementById('piso').value
			        }  
		});
	}
	
	
	
	
	
	function resizeIframe(idIframe){
          var miIframe=document.getElementById(idIframe);
          var alturaPagina=miIframe.contentWindow.document.body.scrollHeight+20+'px';
          miIframe.style.height=alturaPagina; 
    }
    
    function volver(tipo, pag){   
    alert('tipo' + tipo);
    alert('pag ' + pag);
	if(tipo == 1 || tipo == 7)
		document.formOrdenCompra.accionweb.value = "ordenCompraRegularizacionInterceptorB.cargarOrdenCompra";
	else
	    document.formOrdenCompra.accionweb.value = "ordenCompraRegularizacionInterceptorB.cargarAutorizaOrdenCompra";
		
	 document.formOrdenCompra.action = "$home/socrB/inc/" + pag + ".html";	
	 document.formOrdenCompra.target = "_top";
     document.formOrdenCompra.tipo.value = tipo;    
     document.formOrdenCompra.submit();
	    
}
    
    function obtieneCodigoEntrega(){   
    
		document.formOrdenCompra.accionweb.value = "ordenCompraRegularizacionInterceptorB.cargarCodigoEnvio";
		new Ajax.Updater('detalleCodigoEnvio', '$home/socrB/inc/detalleCodigoEnvio.html', {
			parameters: {   accionweb: document.formOrdenCompra.accionweb.value,
							campus: document.formOrdenCompra.campus.value,
			              	edificio: document.getElementById('edificio').value,
			   			  	piso: document.getElementById('piso').value,
			              	oficina : document.getElementById('oficina').value
			            }
			});
 	}
    
     function calculaTotal(){
        document.formSolicitudProducto.accionweb.value = "ordenCompraRegularizacionInterceptorB.cargarValorTotalProducto";
		new Ajax.Updater('valorTotalProd', '$home/socrB/inc/valorTotalProd.html', {
	    	parameters: {   accionweb: document.formSolicitudProducto.accionweb.value,
			               	cantidad : document.formSolicitudProducto.cantidadProd.value,
			              	precio : document.formSolicitudProducto.precioProd.value, 	
			              	impuesto : document.formSolicitudProducto.impuesto.value 		        
			            }
			});
 	   }
 	
 	 function calculaRemanente(){
        document.formDistribucionProducto.accionweb.value = "ordenCompraRegularizacionInterceptorB.cargarValorRemanente";
		new Ajax.Updater('valorRemanente', '$home/socrB/inc/valorRemanente.html', {
	    	parameters: {   accionweb: document.formDistribucionProducto.accionweb.value,
			               	valorAsignado : document.formDistribucionProducto.valorAsignado.value,
			               	cantidad : document.formSolicitudProducto.cantidadProd.value,
			              	precio : document.formSolicitudProducto.precioProd.value.replace(/\./g,'')
			            }
			});
 	   }
 	
    function obtieneDetalleProducto(){
        var ind = document.formSolicitudProducto.producto.value.indexOf('@');
        var codProd = "";
        if(ind > 0)
 	       codProd = document.formSolicitudProducto.producto.value.substring(0,ind);
 	       
		document.formSolicitudProducto.accionweb.value = "ordenCompraRegularizacionInterceptorB.cargarDetalleProducto";
		new Ajax.Updater('detalleProducto', '$home/socrB/inc/detalleProducto.html', {
			parameters: {   accionweb: document.formSolicitudProducto.accionweb.value,
			               	producto : codProd
			            }
			});
 	}
    
    
	function cargarOrdenProducto(){
	if(validaOrden(1)) { 
	 if(document.formSolicitudProducto.producto.value == ""){
	     alert('Debe seleccionar el Bien o Servicio.');
	     document.formSolicitudProducto.producto.focus();
	     return false;
	   }
	   if(document.formSolicitudProducto.detalleProd.value == ""){
	     alert('Debe ingresar el detalle de productos.');
	     document.formSolicitudProducto.detalleProd.focus();
	     return false;
	   }
	   if(document.formSolicitudProducto.cantidadProd.value == ""){
	     alert('Debe ingresar la cantidad del producto.');
	     document.formSolicitudProducto.cantidadProd.focus();
	     return false;
	   }
	   if(document.formSolicitudProducto.precioProd.value == ""){
	     alert('Debe ingresar el precio del producto.');
	     document.formSolicitudProducto.precioProd.focus();
	     return false;
	   }
	   if(document.formDistribucionProducto.organizacion.value == ""){
	     alert('Debe ingresar la organización de distribución.');
	     document.formDistribucionProducto.organizacion.focus();
	     return false;
	   }
	    if(document.formDistribucionProducto.valorAsignado.value == ""){
	     alert('Debe ingresar el valor de distibución.');
	     document.formDistribucionProducto.valorAsignado.focus();
	     return false;
	   }
	   
	   if (document.formDistribucionProducto.remanente.value == 0) {
	     document.formSolicitudProducto.accionweb.value = "ordenCompraRegularizacionInterceptorB.cargaResultadoProducto";
	     
	     var ind = document.formSolicitudProducto.producto.value.indexOf('@');
	     var codProd = document.formSolicitudProducto.producto.value.substring(0,ind); 
	     var nomProd = document.formSolicitudProducto.producto.value.substring(ind+1);
	     new Ajax.Updater('detalleSolicitudProducto', '$home/socrB/inc/detalleSolicitudProducto.html', {
			parameters: { accionweb: document.formSolicitudProducto.accionweb.value,
			              producto : codProd,
			              nomProducto : nomProd,
			              cantidad : document.formSolicitudProducto.cantidadProd.value,
			              obsequio : document.formSolicitudProducto.obsequio.value,
			              precio   : document.formSolicitudProducto.precioProd.value.replace(/\./g,''),
			              impuesto : document.formSolicitudProducto.impuestoProd.value.replace(/\./g,''),
			              cuenta   : document.formSolicitudProducto.cuenta.value,
			              detalle  : document.formSolicitudProducto.detalleProd.value           
		            	}
			});
		
		document.formSolicitudProducto.producto.value = "-1";	
		document.formSolicitudProducto.detalleProd.value = "";
		document.formSolicitudProducto.impuestoProd.value = "";
		document.formSolicitudProducto.impuesto.value = "";
		obtieneDetalleProducto();
		document.formSolicitudProducto.cantidadProd.value = ""; 
		document.formSolicitudProducto.precioProd.value = "";
		calculaTotal();
		
			  

	  new Ajax.Updater('botonRegistrar', '$home/socrB/inc/botonRegistrar.html', {
	  parameters: {    }
			});
		
	   }
	   
	   
	   document.formDistribucionProducto.accionweb.value = "ordenCompraRegularizacionInterceptorB.cargaResultadoDistribucionProducto";
	   var ind = document.formDistribucionProducto.organizacion.value.indexOf('@');
	   var codOrg = document.formDistribucionProducto.organizacion.value.substring(0,ind);
	   var nomOrg = document.formDistribucionProducto.organizacion.value.substring(ind+1);
	   new Ajax.Updater('detalleDistribucionProducto', '$home/socrB/inc/detalleDistribucionProducto.html', {
			parameters: { accionweb: document.formDistribucionProducto.accionweb.value,
			              cuenta   : document.formSolicitudProducto.cuenta.value,
			              nomCuenta   : document.formSolicitudProducto.nomCuenta.value,
			              valorAsignado : document.formDistribucionProducto.valorAsignado.value,
			              organizacion  : codOrg,
			              nomOrganizacion : nomOrg	            
		            	}
			});
	   
	  document.formDistribucionProducto.organizacion.value = "-1";
	  document.formDistribucionProducto.valorAsignado.value = "";
	  
 	
	  
	  }
 	
 } 

	function eliminarProducto(producto,numsec,cuenta){
   	if(confirm('Est\u00e1 seguro de Eliminar el producto, adem\u00e1s se eliminar\u00e1n las organizaciones asociadas')){
	
	    document.formDistribucionProducto.accionweb.value = "ordenCompraRegularizacionInterceptorB.eliminaResultadoDistribucionProd";
		new Ajax.Updater('detalleDistribucionProducto', '$home/socrB/inc/detalleDistribucionProducto.html', {
			parameters: { accionweb: document.formDistribucionProducto.accionweb.value,
			              	numsec : numsec,
			              	cuenta : cuenta } 
			});	
			
		document.formSolicitudProducto.accionweb.value = "ordenCompraRegularizacionInterceptorB.eliminaResultadoSolicitudProd";
		new Ajax.Updater('detalleSolicitudProducto', '$home/socrB/inc/detalleSolicitudProducto.html', {
			parameters: { accionweb: document.formSolicitudProducto.accionweb.value,
			              producto: producto,
			              	numsec : numsec,
			              	cuenta : cuenta }
			});
	    		
			
		
			
	} else
	return true;
	}
 
  function registrarOrdenDeCompra(){
      if(document.getElementById('botonRegistrar')!= null) {
	     document.formOrdenCompra.action = "$home/socrB/inc/ordenCompraR.html";
	     document.formOrdenCompra.target = "_top";
	     
	     validaFecha(document.formOrdenCompra,1);
	     document.formOrdenCompra.codigoEntrega.value  = document.getElementById('lugarEntrega').value;
	     document.formOrdenCompra.accionweb.value = 'ordenCompraRegularizacionInterceptorB.registraOrdenCompra';
     
	     document.formOrdenCompra.submit();
	}	
	  
		}

</script>	
  
	 </div><!--content-->
	<br />
</div><!--post-->
#parse("sgf/inc/bottom.vm")
