#parse("sgf/inc/topB.vm")
<script language="JavaScript" src="$home/sgf/js/trim.js"></script>
	<div class="post">
     #parse("socrB/inc/ordenCompraREncabezado.vm")         
	 <div class="content">
	 	
	<h5B>$titulo &nbsp;&nbsp;</h5B>
	<table width="100%" border="0" cellspacing="2" cellpadding="5">
     	 <tr>
         <td width="20%">Fecha de entrega</td>
         <td ><input id="fechaEntregaIng" class="Input estilo_Azul"  style="text-align: left;" name="fechaEntregaIng" readonly type="text" value="$!fechaEntregaIng" size="10" maxlength="14" onKeyPress="enter(event);" onBlur="">
         </td>
         <td> &nbsp;</td>
	 </tr> 
	  <tr>
         <td width="20%">Lugar entrega</td>
         <td>  <span class="estilo_Azul">$descEntrega</span>             
		 </td>
         <td> &nbsp;</td>
	 </tr>	 
	 <tr>
         <td width="20%">Importaci&oacute;n</td>
         <td><span class="estilo_Azul">#if($importacion.trim().equals("S")) SI #else NO #end</span>    
		 </td>
         <td> &nbsp;</td>
	 </tr>
	  <tr>
         <td width="20%">DIVISA</td>
         <td ><span class="estilo_Azul">$divisa</span>  
             </td>
         <td> &nbsp;</td>
	 </tr>
	 <tr>
         <td width="20%">Proveedor</td>
         <td>
        	<span class="estilo_Azul">$!rut      $!nomProveedor
       	 <td><span id="detalleRutProveedor"></span></td>    
         <td> &nbsp;</td>
     </tr>
     <tr>
        <td width="20%">Documento (nro. Tipo)</td>
        <td><span class="estilo_Azul">$!numeroDoc  $!tipoDoc</span></td>    
         <td> &nbsp;</td>
     </tr>
	<tr>
        <td width="20%">Fecha Documento</td>
        <td><span class="estilo_Azul">$!fechaDocIng</span></td>    
         <td> &nbsp;</td>
     </tr>
     <tr>
         <td width="20%">Motivo Regularizaci&oacute;n</td>
         #if($motivoReg.trim().equals(""))
              <td><span class="estilo_Azul">$!otroMotReg.trim()</span></td>
         #else 
              <td><span class="estilo_Azul">$!motivoReg.trim()</span></td>
         #end    
         <td> &nbsp;</td>
     </tr>
	</table>
	<script>ini();
</script>
 <div id="ayuda" style="visibility: hidden;
position: absolute;
background-color: blue;
color: white;
border: solid 1px black;
text-align: justify;
padding: 0;">
<table cellspacing=0 cellpadding=0 border=0 style='width:50;margin:1' align="center">
<tr >
	<td   id=cabecera onmouseup="parar()" onmousedown="mover()" style="background-color:#3F7296;color:#fff;text-align: center;"></td>
	<td onclick="ocultar()" style="background-color:#3F7296;color:#fff;">x</td>
</tr>
<tr style="background-color:#eeeeee">
	<td id=mensaje colspan=2 style='text-align: center;	color: #000000;font-size: 0.9em;'></td>
</tr>
<tr>
	<td colspan=2>
		<table cellpadding=0 cellspacing=0 width=100% height=100% style="background-color:#eeeeee">
				<tr>
				<td style='text-align: center;	color: #000000;font-size: 0.9em;' colspan = "2" >
				<form name=win>
					<span >Motivo</span> <input name=msg type=text value="" size=40 maxlength="40" class="estilo_Azul" style="text-align: left;">
				</form>
				</td>
			</tr>
		<tr>

			<tr><td >&nbsp;</td>
			</tr>
	       	<tr >
	       		<td  align="center">
				<input type=button  value=aceptar onclick="si()" style="margin:5 5 0 0;width:40">
				&nbsp;&nbsp;
				<input type=button value=cancelar onclick="no()"  style="margin:5 5 0 0;width:40">
				</td>
			</tr>

			<tr>

			<tr><td >&nbsp;</td>
			</tr>

	</td>
</tr>
</table>

</td></tr></table>
</div> 		 	
	
    <fieldset style="width:85%">
     <legend>Distribuci&oacute;n por Producto</legend>
	
    	<span id="detalleDistribucionProducto">     		
    		 #parse("socrB/inc/detalleDistribucionProducto.vm") 	
		</span>
		<br>
		
      </fieldset>
      <fieldset style="width:85%">
     <legend>Detalle Producto</legend>
     <span id="detalleSolicitudProducto">     
			#parse("socrB/inc/detalleSolicitudProducto.vm") 			
		</span>
		</fieldset>
      <br> 
      	#if($listaHistorial && $listaHistorial.size() > 0 && $opcion != 11)
      	 <fieldset style="width:85%">
         <legend>Historial</legend>
	 	 #if ($listaHistorial)
			
		<p style="padding-top:10px">	
		<table  width="75%" border="0" cellspacing="0" cellpadding="0">
			
		    #set($totalNeto = 0)
			#foreach($lista in $listaHistorial)  
				#if($lista.valor1 > 0 )
				#set($fecha = $lista.valor1 + "")
				#set($diaFecha = $fecha.substring(6))
				#set($mesFecha = $fecha.substring(4,6))
				#set($annoFecha = $fecha.substring(0,4))
				#set($valor = $diaFecha+"/"+$mesFecha+"/"+$annoFecha)   			
				#end   
				   
			<tr>
				<td width="20%" >$lista.cajero.substring(0,15) </td>
				<td > <div class="estilo_Azul">${valor} - $lista.glosa1.trim()  $lista.cajero.substring(15) </div></td>				
			</tr>   
			#end  
			<tr>
				<td width="20%">N&uacute;mero de Solicitud</td>
				<td > <div class="estilo_Azul">$numDoc </div></td>				
			</tr>
			#if($estadoFinal)
			<tr>
				<td width="20%">Estado Solicitud </td>
				<td > <div class="estilo_Azul">$estadoFinal.trim() </div></td>				
			</tr>	
			#end
	        </table>
		</p>
	    #end
      </fieldset>
    
      #end
      </br>                 	  	
      <br>
      <br>
     <form  action="" method="post" name="formOrdenCompra" id="formOrdenCompra" >
      	 <input type="hidden" name="accionweb" value="">
      	 <input type="hidden" name="tipo" value="$opcion">
      	 <input type="hidden" name="numDoc" value="">
      	 <input type="hidden" name="proceso" value ="$!proceso">
      	 <input type="hidden" name="sedeLista" value ="$!sedeLista">
      	 <input type="hidden" name="motivoRechazo" value=""> 
    
            <div class="footer"><!--footer-->
				<ul>   #if($opcion == 17 && $numeroBanner)
					 	    <li><span id="imprimir"><a href="#" onclick="imprimeArgos(); return false;"> Emitir Orden de Compra<img src="$home/sgf/img/print.gif" align="absmiddle" alt="Anula"  border="0"></a></span></li>
			    	   #else		
				        <li><span id="botonRegistrar"><a href="#" onclick="ejecutaAccion($opcion,$numDoc); return false;"><img src="$home/sgf/img/button_autorizar.gif" align="absmiddle" alt="Autoriza"  border="0"></a></span></li>
				 	    <li><span id="botonRegistrar2"><a href="#" onclick="rechazaSolicitud($numDoc); return false;"><img src="$home/sgf/img/button_rechazar.gif" align="absmiddle" alt="Rechazar" border="0"></a></span></li>
				       #end
				       <li><a href="#" onclick="cargaOrdenCompraB($opcion,'$home/socrB/inc/ordenCompraRMuestraLista.html','R');return false;"><img src="$home/sgf/img/undo.gif" align="absmiddle" alt="Volver" border="0"> Volver</a></li>
				</ul>			
			</div><!--footer-->
		</form>		
#if($opcion == 17 && $numeroBanner)
<!-- Report = Produccion.Presupuesto.Consultas.Orden de Compra.Documento Orden de Compra -->
<form method=post action="https://argos.usm.cl/mrr" name="formArgos" target="_blank">
 <input type="hidden" name="report" value="Y4FHSQNBGKEMFNQCSC2YSSOUZJAPTI3VHMSRZATZUQZO456IYHC62RDHN3YYU6OEO74HVZWFZJQHC">
 <!-- all inputs here -->
 <input type="hidden" name="Principal_MC_Detalle.ORDEN_COMPRA" value = "$!numeroBanner.trim()">
 <input type="hidden" name="FILENAME" value="OC_$!numeroBanner.trim().pdf">
 <input type="hidden" name="REPORTFORMAT" value="PDF">

</form>					
#end	
				
<script language="javascript">
	
 function resizeIframe(idIframe){
    var miIframe=document.getElementById(idIframe);
    var alturaPagina=miIframe.contentWindow.document.body.scrollHeight+20+'px';
    miIframe.style.height=alturaPagina; 
 }

function ejecutaAccion(accion, numDoc){
   if(accion == 2){
     if(!confirm('Est\u00e1 seguro de Anular esta Factura?'))
	    return true;
       document.formOrdenCompra.tipo.value = 7; 
    }
	document.getElementById('botonRegistrar').style.visibility="hidden";
	document.getElementById('botonRegistrar2').style.visibility="hidden";
	document.formOrdenCompra.tipo.value = accion;
	document.formOrdenCompra.numDoc.value = numDoc; 
	document.formOrdenCompra.accionweb.value = "ordenCompraRegularizacionInterceptorB.ejecutaAccion";
	document.formOrdenCompra.action = "$home/socrB/inc/ordenCompraRMuestraLista.html";
	document.formOrdenCompra.submit();
}

function rechazaSolicitud(numDoc){
   	document.formOrdenCompra.numDoc.value = numDoc; 
	if(confirm('Est\u00e1 seguro de Rechazar esta Orden de Compra?')){
	    puntero('Rechazo de Orden de Compra'.small(),'Ingrese Motivo del Rechazo'.italics());
	
		}
	return true;
 		  
}	
var ns4 = (document.layers) ? true : false
var ie4 = (document.all) ? true : false
var ns6 = (document.getElementById && !document.all) ? true : false;
var coorX, coorY, posX, posY, difX, difY;
if (ns6) document.addEventListener("mousemove", mouseMove, true)
if (ns4) {document.captureEvents(Event.MOUSEMOVE); document.mousemove = mouseMove;}
function mouseMove(e)	{
	if (ns4||ns6)	{coorX = e.pageX; coorY = e.pageY;}
	if (ie4)	{coorX = event.x; coorY = event.y;}
	if (movido) mover();
	return true;
}
function ini()	{
	if(document.getElementById("ayuda") != null){
		if (ie4)	document.body.onmousemove = mouseMove;
		posX = parseInt(document.body.clientWidth / 2) - parseInt(document.getElementById("ayuda").offsetWidth / 2);
		posY = parseInt(document.body.clientHeight / 2) - parseInt(document.getElementById("ayuda").offsetHeight);
		document.getElementById("ayuda").style.left = posX;
		document.getElementById("ayuda").style.top = posY;
		}
}

function ocultar()	{
	document.getElementById("ayuda").style.visibility = "hidden";
}

var movido = false;

function inimove()	{
	difX = coorX - posX;
	difY = coorY - posY;
}

function mover()	{
	if (!movido) {inimove(); movido = true;}
	document.getElementById("ayuda").style.top = coorY - difY;
	document.getElementById("ayuda").style.left = coorX - difX;
}

function parar()	{
	movido = false;
	posX = parseInt(document.getElementById("ayuda").style.left);
	posY = parseInt(document.getElementById("ayuda").style.top);
}

function puntero(cabecera, mensaje)	{
	document.getElementById("cabecera").innerHTML = cabecera;
	document.getElementById("mensaje").innerHTML = mensaje;
	document.getElementById("ayuda").style.visibility = "visible";
}

function si()	{
	   document.forms.formOrdenCompra.motivoRechazo.value = document.forms.win.msg.value;
	   if(document.formOrdenCompra.motivoRechazo.value == '') {
	    alert('Debe ingresar Motivo del rechazo.');
	    return false;
	   	}
	   	#if ($opcion == 16)
	   		document.formOrdenCompra.accionweb.value = "ordenCompraRegularizacionInterceptorB.rechazaAutDAFOrdenCompra";
	   	#else
	   	  document.formOrdenCompra.accionweb.value = "ordenCompraRegularizacionInterceptorB.rechazaAutOrdenCompra";
	   	#end
		document.formOrdenCompra.action = "$home/socrB/inc/ordenCompraRMuestraLista.html";
		document.formOrdenCompra.target = "_top";
		document.formOrdenCompra.submit();
		ocultar();

}

function no()	{
	ocultar();
}
function imprimeArgos(){
document.formArgos.submit();
}	


</script>	
  
	 </div><!--content-->
	<br />
</div><!--post-->
#parse("sgf/inc/bottom.vm")
