
<table width="100%" border="0" cellpadding="2" cellspacing="1">
<tr>
	<td >	
   <label style="display: block; width: 15%">Subtotal</label>
   <font class="destacado" size="12px">$!totalProd</font>
	</td>
</tr>
<tr>
	<td>
   	<label style="display: block; width: 15%">Impuestos</label>
   	<font class="destacado" size="12px">$!impuesto</font>
	</td>
</tr>   
<tr>
	<td>
   <label style="display: block; width: 15%">Total</label>
   <font class="destacado" size="12px">$!totalTotal</font>
</tr> 
</table>

<input type="hidden" name="totalProd" id="totalProd" value="$!totalProd">
<input type="hidden" name="impuestoProd" id="impuestoProd" value="$!impuesto">
<input type="hidden" name="totalTotal" id="totalTotal" value="$!totalTotal">

 