#parse("sgf/inc/topB.vm")
<script language="JavaScript" src="$home/sgf/js/trim.js"></script>
	<div class="post"><!--post-->
	<div class="header"><!--header-->
		<h3>Datos Personales</h3>
	</div><!--fin header-->
 	<div class="content">			
		<h5B>Ingresa &nbsp;&nbsp;</h5B>
		    </div><!--header-->          
			<div class="content"><!--content-->
		       <form class="login" action="" method="post" name="login_form" >
			 	<table width="100%" border="0" cellspacing="2" cellpadding="5">
			      	<tr>
                	  <td width="20%"><span id="nomIde">Rut funcionario &nbsp;&nbsp; </span></td>
                	  <td>                 	  	
       	                <input type="text" name="rut_aux" size="13" maxlength="13" class="estilo_Azul" value ="$!rut_aux" #if($rut_aux && $rut_aux ) readonly #end onKeyPress="enter(event,1);return noenter()" onChange="checkRutField(document.login_form.rut_aux.value, document.login_form);" style="text-align: left;">
       	               
                	    <input type="hidden" name="identificadorInterno" > &nbsp;&nbsp;&nbsp;
                	    <input type="hidden" name="rutnum" value="$!rutnum">
                		<input type="hidden" name="dvrut" value="$!dvrut">
                	    <input type="hidden" name="accionweb"  value="">
                        <input type="hidden" name="opcionMenu"  value="$!opcionMenu">     
                        <input type="hidden" name="tipo"  value="0">             
					  					  
                	  </td>
                   </tr>
                </table>  
                </form>
                <span id="detalleDatosPersonales">                               		
				#parse("scdB/inc/detalleDatosPersonales.vm")
				</span>
		 	</div><!--content-->
			<br />
		</div><!--post-->
#if(!$rut_aux && !$identificador)		
<script language="javascript">
	document.login_form.rut_aux.focus();
</script>
#end		  
<script language="javascript">		
function modificaDocente(action){	
	document.login_form.action = action;
	document.login_form.accionweb.value = "contratoAyudantiaInterceptorB.cargaDatosPersonales";
	document.login_form.identificadorInterno.value = "2";
    document.login_form.submit();	
}
function volver(){	
    document.login_form.action = "$home/scdB/inc/solicitudDocencia.html";
	document.login_form.accionweb.value = "contratoDocenteInterceptorB.cargaDatosPersonales";
	document.login_form.identificadorInterno.value = "";
    document.login_form.submit();	
}
</script> 

<form name="exportarPresup" id="exportarPresup" action="" method="POST" target="_blank" >
	 <input type="hidden" name="anno" value="$anno">
	 <input type="hidden" name="funcionario" value="$funcionario.trim()">
	 <input type="hidden" name="accionweb" value ="">
	 <input type="hidden" name="control" value ="$!control">
	 
</form>

#if($!mensaje)
<script>	
 alert('$!mensaje'); 	 
</script>
#end	
#parse("sgf/inc/bottom.vm")
