	#if ($totalListaOrganizaciones && $totalListaOrganizaciones.size() > 0 )
		<p style="padding-top:10px">	
		<input type="hidden" name="registra"  value="$!registra">		
		<table id="tabla" width="95%" border="0" cellspacing="0" cellpadding="0">
			<thead>
			<tr>				
				<th width="10%" class="bordetop texto">Secuencia</th>				
		        <th width="45%" class="bordetop texto">Organizaci&oacute;n</th>                
                <th width="11%" class="bordetop texto">Cuenta</th>
                <th width="11%" class="bordetop texto">Valor estimado</th>
                <th width="11%" class="bordetop texto">Disponibilidad</th> 
           	</tr>
			</thead>
	        #foreach($lista in $totalListaOrganizaciones) 
	        	#if($lista.indprc.trim().equals("") || $lista.indprc.trim().equals("D"))
		      
		            ##revisar si se puede eliminar solo si no se ha agregado el producto
		            #set($elimina = 0)
		            #if( $totalListaProductos.size() > 0)
		             #foreach($lista2 in $totalListaProductos)   
		             	#if($lista2.numreq == $lista.nummes)  
		             		 #set($elimina = 1)
		             	#end   
				     #end	
				     
	        	    #end   
				  <tr>
				  	<td width="20%" class="texto">$lista.nummes </td>
					<td width="20%" class="texto">$lista.nomtip.trim() - $lista.desuni.trim() </td>
					<td width="20%" class="texto">$lista.nompro.trim() - $lista.desite.trim()</td>			
					<td width="8%"  class="bordeder valor">${numbertool.format($lista.presac)}</td>
					<td width="8%"  class="bordeder valor">#if($lista.presac > $lista.presum) <font class="Estilo_Rojo"> ${numbertool.format($lista.presum)} </font> #else ${numbertool.format($lista.presum)} #end</td>
				    #if($elimina == 0 && ($opcion == 1 || $opcion == 2))
				    <td width="8%"class="bordeder" nowrap>&nbsp;<a href="#" onClick="eliminarOrganizacion('$lista.nummes','$lista.nomtip.trim()','$lista.nompro.trim()');return false;"  alt="Eliminar" > 
			        <img src="$home/sgf/img/borrar.gif" alt="Eliminar" border="0" align="absmiddle"></a>      
			        </td>
			        #end
				 </tr>
			    #end  
			 #end
		    </table>
		 #end   
		 <br>
 			
    