#parse("sgf/inc/topB.vm")

#if($!mensaje)
<script>	
 alert('$!mensaje'); 
 volver();return false;	 
</script>
#end
<script language="JavaScript" src="$home/sgf/js/trim.js"></script>
	<div class="post">
     #parse("soccB/inc/ordenCompraCEncabezado.vm")         
	 <div class="content">
	 	
 		<h5B>$titulo &nbsp;&nbsp;</h5B>
 		<form   method="post" name="formOrdenCompra" id="formOrdenCompra" >
      	 <input type="hidden" name="accionweb" value="">
      	 <input type="hidden" name="tipo" value="$opcion">
      	 
   	
 	  <table width="100%" border="0" cellspacing="2" cellpadding="5">
       <tr>
         <td width="20%">Numero Orden</td>
         <td width="11%"><input id="numeroOrden" class="Input estilo_Azul"  style="text-align: left;" name="numeroOrden" readonly type="text" value="$numeroOrden" size="15" maxlength="15" ></td>
         <td colspan="3"> &nbsp;</td>
         <td> &nbsp;</td>
	 </tr> 
	 <tr>
         <td width="20%">Solicitud</td>
         <td width="11%"><input id="solicitud" class="Input estilo_Azul"  style="text-align: left;" name="solicitud" readonly type="text" value="$solicitud" size="15" maxlength="15" ></td>
         <td colspan="3"> &nbsp;</td>
         <td> &nbsp;</td>
	 </tr>
	 <tr>
         <td width="20%">Proveedor</td>
         <td width="11%"><input id="proveedor" class="Input estilo_Azul"  style="text-align: left;" name="proveedor" readonly type="text" value="$proveedor" ></td>
         <td colspan="3"> &nbsp;</td>
         <td> &nbsp;</td>
	 </tr>
	 <tr>
         <td width="20%">Documento</td>
         <td width="11%"><input id="documento" class="Input estilo_Azul"  style="text-align: left;" name="documento"  type="text" value="$!documento" size="15" maxlength="15" ></td>
         <td colspan="3"> &nbsp;</td>
         <td> &nbsp;</td>
	 </tr>
	<tr>
         <td width="20%">Fecha de Recepci&oacute;n</td>
         <td ><input id="fechaEntregaIng" class="Input"  style="text-align: left;" name="fechaEntregaIng" readonly type="text" value="$!fechaEntregaIng" size="10" maxlength="14" onKeyPress="enter(event);" onBlur="">
         <a href="#" onClick="displayCalendar(document.formOrdenCompra.fechaEntregaIng,'dd/mm/yyyy',this,false);"> <img src="$home/sgf/img/calendario/ico_calendario_cel.gif" border="0" alt="Calendario" align="absmiddle"></a>
          
		 </td>
         <td> &nbsp;</td>
	 </tr> 
	 </table>
	</form>
       <br>                  	  	
      <br>
   	 <fieldset style="width:85%">
   
     <legend>Bienes</legend>
		<p style="padding-top:10px">	
		<table id="tabla" width="95%" border="0" cellspacing="0" cellpadding="0">
			<thead>
			<tr>				
				<th width="10%" class="bordetop texto">C&oacute;digo</th>				
		        <th width="45%" class="bordetop texto">Descripci&oacute;n</th>                
                <th width="11%" class="bordetop texto">Solicitado</th>
                <th width="11%" class="bordetop texto">Pendiente</th>
                <th width="11%" class="bordetop texto">Recibida</th>
                <th width="11%" class="bordetop texto">Rechazado</th>
                <th width="11%" class="bordetop texto">Fin</th>
           	</tr>
			</thead>
			#set($i = 0)
	        #foreach($lista in $listaBienes) 
	        	<tr>
				  	<td width="8%" class="texto">$lista.comen2</td>
					<td width="30%" class="texto">$lista.comen3.trim()</td>
					<td width="20%" class="texto">$lista.pres02</td>			
					<td width="10%"  class="bordeder valor">${numbertool.format($lista.pres03)}</td>
					<td width="10%"  class="bordeder valor"><input type="text" name="recibido$i" class="valor estilo_Azul" id="recibido$i" size="10" maxlength="10" class="valor"  value ="0"  onKeyPress="return acceptNum(event);"></td>
					<td width="10%"  class="bordeder valor"><input type="text" name="rechazado$i" class="valor estilo_Azul" id="rechazado$i" size="10" maxlength="10" class="valor"  value ="0"  onKeyPress="return acceptNum(event);"></td>
					<td width="10%"  class="bordeder valor"><select name="fin$i" id="fin$i" class="estilo_Azul" onChange= "">
															<option value="" selected>Seleccione</option>
                                        					<option value="SI" >SI</option>                       
													    	<option value="NO" >NO</option>
													        </select></td>
				  </tr>
				  #set($i = $i + 1)	            
			 #end
		    </table>
		
		<br>
	  	 </fieldset>	
    
      </form>
      <br>                  	  	
      <br>
      <br>
      <div class="footer"><!--footer-->
				<ul>
			       <li><span id="botonRegistrar">
  			       	   <a href="#" onclick="registrarBien(); return false;"><img src="$home/sgf/img/button_okdef.gif" align="absmiddle" alt="Registra Bien " border="0"></a>  
  			       	</span></li>  			     
				    <li><a href="#" onclick="volver();return false;"><img src="$home/sgf/img/undo.gif" align="absmiddle" alt="Volver" border="0"> Volver</a></li>
				</ul>			
			</div><!--footer-->
				 	
					
<script language="javascript">
function volver(){   

  	 document.formOrdenCompra.accionweb.value = "ordenCompraCentralizadaInterceptorB.cargaMenuOrdenCompraC";		
	 document.formOrdenCompra.action = "$home/soccB/inc/ordenCompraCMuestraLista.html";	
	 document.formOrdenCompra.target = "_top";
     document.formOrdenCompra.tipo.value = $opcion;    
     document.formOrdenCompra.submit();
	    
}
    
function registrarBien(){ 
    if(document.formOrdenCompra.proveedor.value == ""){
	     alert('Debe ingresar Proveedor.');
	     document.formOrdenCompra.proveedor.focus();
	     return false;
	   }
    if(document.formOrdenCompra.documento.value == ""){
	     alert('Debe ingresar Documento.');
	     document.formOrdenCompra.documento.focus();
	     return false;
	   }
	 if(document.formOrdenCompra.fechaEntregaIng.value == ""){
	     alert('Debe ingresar Fecha de Recepción.');
	     document.formOrdenCompra.fechaEntregaIng.focus();
	     return false;
	   }  
	   

	    
    document.formOrdenCompra.action = "$home/soccB/inc/ordenCompraCMuestraLista.html";
    document.formOrdenCompra.accionweb.value = "ordenCompraCentralizadaInterceptorB.registraBien";
    document.formOrdenCompra.target = "_top";
    document.formOrdenCompra.tipo.value = 8;    
    document.formOrdenCompra.submit();
    
   return true;    
     
}
</script>	

	 </div><!--content-->
	<br />
</div><!--post-->
#parse("sgf/inc/bottom.vm")
