#parse("sgf/inc/topB.vm")
<script language="JavaScript" src="$home/sgf/js/trim.js"></script>
	<div class="post">
     #parse("soccB/inc/ordenCompraCEncabezado.vm")         
	 <div class="content">
	 	
 		<h5B>$titulo &nbsp;&nbsp;</h5B>
	<table width="100%" border="0" cellspacing="2" cellpadding="5">
    <tr>
         <td width="20%">Fecha de entrega</td>
         <td ><input id="fechaEntregaIng" class="Input estilo_Azul"  style="text-align: left;" name="fechaEntregaIng" readonly type="text" value="$!fechaEntregaIng" size="10" maxlength="14" >
         </td>
         <td> &nbsp;</td>
	 </tr> 
	 <tr>
         <td width="20%">Solicitud</td>
         <td ><input id="numDoc" class="Input estilo_Azul"  style="text-align: left;" name="numDoc" readonly type="text" value="$!numDoc" size="10" maxlength="14" >
         </td>
         <td> &nbsp;</td>
	 </tr> 
	
	  <tr>
         <td width="20%">Lugar entrega</td>
         <td>  <span class="estilo_Azul">$lugEntrega</span>             
		 </td>
         <td> &nbsp;</td>
	 </tr>	 
	 <tr>
         <td width="20%">Importaci&oacute;n</td>
         <td><span class="estilo_Azul">#if($importacion.trim().equals("S")) SI #else NO #end</span>    
		 </td>
         <td> &nbsp;</td>
	 </tr>
	  <tr>
         <td width="20%">DIVISA</td>
         <td ><span class="estilo_Azul">$divisa</span>  
             </td>
         <td> &nbsp;</td>
	 </tr>
	</table>
    <fieldset style="width:85%">
     <legend>Distribuci&oacute;n por Producto</legend>	

			#parse("soccB/inc/detalleDistribucionProducto.vm") 	
			#parse("soccB/inc/detalleSolicitudProducto.vm") 			
		
     </fieldset>
        <div id="ayuda" style="visibility: hidden;
position: absolute;
background-color: blue;
color: white;
border: solid 1px black;
text-align: justify;
padding: 0;">
<table cellspacing=0 cellpadding=0 border=0 style='width:50;margin:1' align="center">
<tr >
	<td   id=cabecera onmouseup="parar()" onmousedown="mover()" style="background-color:#3F7296;color:#fff;text-align: center;"></td>
	<td onclick="ocultar()" style="background-color:#3F7296;color:#fff;">x</td>
</tr>
<tr style="background-color:#eeeeee">
	<td id=mensaje colspan=2 style='text-align: center;	color: #000000;font-size: 0.9em;'></td>
</tr>
<tr>
	<td colspan=2>
		<table cellpadding=0 cellspacing=0 width=100% height=100% style="background-color:#eeeeee">
		<tr>
				<td style='text-align: center;	color: #000000;font-size: 0.9em;' colspan = "2" >
				<form name=win>
					<span >Motivo</span> <input name=msg type=text value="" size=40 maxlength="40" class="estilo_Azul" style="text-align: left;">
				</form>
				</td>
		</tr>
		<tr><td >&nbsp;</td>
		</tr>
	    <tr >
	       		<td  align="center">
				<input type=button  value=aceptar onclick="si()" style="margin:5 5 0 0;width:40">
				&nbsp;&nbsp;
				<input type=button value=cancelar onclick="no()"  style="margin:5 5 0 0;width:40">
				</td>
		</tr>
		<tr><td >&nbsp;</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</div>	 
      <br> 
      	#if($listaHistorial && $listaHistorial.size() > 0 && $opcion != 11)
      	 <fieldset style="width:85%">
         <legend>Historial</legend>
	 	 #if ($listaHistorial)
			
		<p style="padding-top:10px">	
		<table  width="75%" border="0" cellspacing="0" cellpadding="0">
			
		    #set($totalNeto = 0)
			#foreach($lista in $listaHistorial)  
				#if($lista.valor1 > 0 )
				#set($fecha = $lista.valor1 + "")
				#set($diaFecha = $fecha.substring(6))
				#set($mesFecha = $fecha.substring(4,6))
				#set($annoFecha = $fecha.substring(0,4))
				#set($valor = $diaFecha+"/"+$mesFecha+"/"+$annoFecha)   			
				#end   
				   
			<tr>
				<td width="20%" >$lista.cajero.substring(0,15) </td>
				<td > <div class="estilo_Azul">${valor} - $lista.glosa1.trim()  $lista.cajero.substring(15) </div></td>				
			</tr>   
			#end  
			<tr>
				<td width="20%">N&uacute;mero de Solicitud</td>
				<td > <div class="estilo_Azul">$numDoc </div></td>				
			</tr>
			#if($estadoFinal)
			<tr>
				<td width="20%">Estado Solicitud </td>
				<td > <div class="estilo_Azul">$estadoFinal.trim() </div></td>				
			</tr>	
			#end
	        </table>
		</p>
	    #end
      </fieldset>
    
      #end
               	  	
      <br>
      <br>
       <form  action="" method="post" name="formOrdenCompra" id="formOrdenCompra" >
      	 <input type="hidden" name="accionweb" value="">
      	 <input type="hidden" name="tipo" value="$opcion">
      	 <input type="hidden" name="titulo" value="$titulo">
      	 <input type="hidden" name="numDoc" value="$!numDoc">
    	 <input type="hidden" name="ind" value="">
         <input type="hidden" name="fechaEntregaIng" value="$!fechaEntregaIng">
         <input type="hidden" name="motivoRechazo" value="">
         
            <div class="footer"><!--footer-->
				<ul>
					#if($opcion == 3) 
				        <li><span id="botonRegistrar"><a href="#" onclick="autorizaOrdenDeCompra($numDoc); return false;"><img src="$home/sgf/img/button_autorizar.gif" align="absmiddle" alt="Autoriza"  border="0"></a></span></li>
				        <li><span id="botonRegistrar2"><a href="#" onclick="rechazaOrdenCompra(); return false;"><img src="$home/sgf/img/button_rechazar.gif" align="absmiddle" alt="Rechazar" border="0"></a></span></li>
				 	#end
				    #if($opcion == 4) 
				        <li><span id="botonRegistrar"><a href="#" onclick="autorizaOrdenDeCompra($numDoc); return false;"><img src="$home/sgf/img/button_autorizar.gif" align="absmiddle" alt="Autoriza"  border="0"></a></span></li>
					#end
					#if($opcion == 5 || $opcion == 7)
				       <li><span id="botonRegistrar"><a href="#" onclick="autorizaOrdenDeCompra($numDoc); return false;"><img src="$home/sgf/img/button_autorizar.gif" align="absmiddle" alt="Autoriza"  border="0"></a></span></li>
				 	   <li><span id="botonRegistrar2"><a href="#" onclick="rechazaOrdenCompra(); return false;"><img src="$home/sgf/img/button_rechazar.gif" align="absmiddle" alt="Rechazar" border="0"></a></span></li>
				    #end  
				 	#if($opcion == 9) ##anulación solicitud
				 	    <li><span id="botonRegistrar2"><a href="#" onclick="anularOrdenDeCompra($numDoc); return false;"><img src="$home/sgf/img/button_anular.gif" align="absmiddle" alt="Anula"  border="0"></a></span></li>
				 	#end
				 	#if($opcion == 17 && $numeroBanner)
					 	    <li><span id="imprimir"><a href="#" onclick="imprimeArgos(); return false;"> Emitir Orden de Compra<img src="$home/sgf/img/print.gif" align="absmiddle" alt="Anula"  border="0"></a></span></li>
			    	#end	 
				       <li><a href="#" onclick="carga($opcion,'ordenCompraCMuestraLista');return false;"><img src="$home/sgf/img/undo.gif" align="absmiddle" alt="Volver" border="0"> Volver</a></li>
				</ul>			
			</div><!--footer-->
		</form>	

 
#if($opcion == 17 && $numeroBanner)
<!-- Report = Produccion.Presupuesto.Consultas.Orden de Compra.Documento Orden de Compra -->
<form method=post action="https://argos.usm.cl/mrr" name="formArgos" target="_blank">
 <input type="hidden" name="report" value="Y4FHSQNBGKEMFNQCSC2YSSOUZJAPTI3VHMSRZATZUQZO456IYHC62RDHN3YYU6OEO74HVZWFZJQHC">
 <!-- all inputs here -->
 <input type="hidden" name="Principal_MC_Detalle.ORDEN_COMPRA" value = "$!numeroBanner.trim()">
 <input type="hidden" name="FILENAME" value="OC_$!numeroBanner.trim().pdf">
 <input type="hidden" name="REPORTFORMAT" value="PDF">

</form>
					
#end
<script language="JavaScript">
var ns4 = (document.layers) ? true : false
var ie4 = (document.all) ? true : false
var ns6 = (document.getElementById && !document.all) ? true : false;
var coorX, coorY, posX, posY, difX, difY;
if (ns6) document.addEventListener("mousemove", mouseMove, true)
if (ns4) {document.captureEvents(Event.MOUSEMOVE); document.mousemove = mouseMove;}
function mouseMove(e)	{
	if (ns4||ns6)	{coorX = e.pageX; coorY = e.pageY;}
	if (ie4)	{coorX = event.x; coorY = event.y;}
	if (movido) mover();
	return true;
}
function ini()	{
	if(document.getElementById("ayuda") != null){
		if (ie4)	document.body.onmousemove = mouseMove;
		posX = parseInt(document.body.clientWidth / 2) - parseInt(document.getElementById("ayuda").offsetWidth / 2);
		posY = parseInt(document.body.clientHeight / 2) - parseInt(document.getElementById("ayuda").offsetHeight);
		document.getElementById("ayuda").style.left = posX;
		document.getElementById("ayuda").style.top = posY;
		}
}

function ocultar()	{
	document.getElementById("ayuda").style.visibility = "hidden";
}

var movido = false;

function inimove()	{
	difX = coorX - posX;
	difY = coorY - posY;
}

function mover()	{
	if (!movido) {inimove(); movido = true;}
	document.getElementById("ayuda").style.top = coorY - difY;
	document.getElementById("ayuda").style.left = coorX - difX;
}

function parar()	{
	movido = false;
	posX = parseInt(document.getElementById("ayuda").style.left);
	posY = parseInt(document.getElementById("ayuda").style.top);
}

function puntero(cabecera, mensaje)	{
	document.getElementById("cabecera").innerHTML = cabecera;
	document.getElementById("mensaje").innerHTML = mensaje;
	document.getElementById("ayuda").style.visibility = "visible";
}

function si()	{
	   document.forms.formOrdenCompra.motivoRechazo.value = document.forms.win.msg.value;
	   if(document.formOrdenCompra.motivoRechazo.value == '') {
	    alert('Debe ingresar Motivo del rechazo.');
	    return false;
	   	}
	   	#if($opcion == 3)
	   		document.formOrdenCompra.accionweb.value = "ordenCompraCentralizadaInterceptorB.rechazaAutOrdenCompra";
	   	#end
	   	#if($opcion == 5)
	   		document.formOrdenCompra.accionweb.value = "ordenCompraCentralizadaInterceptorB.rechazaReautOrdenCompra";
	   	#end
		#if($opcion == 7)
	   		document.formOrdenCompra.accionweb.value = "ordenCompraCentralizadaInterceptorB.rechazaRecepOrdenCompra";
	   	#end
	
	    document.formOrdenCompra.action = "$home/soccB/inc/ordenCompraCMuestraLista.html";
		document.formOrdenCompra.target = "_top";
		document.formOrdenCompra.submit();
		ocultar();

}

function no()	{
	ocultar();
}

	
function resizeIframe(idIframe){
          var miIframe=document.getElementById(idIframe);
          var alturaPagina=miIframe.contentWindow.document.body.scrollHeight+20+'px';
          miIframe.style.height=alturaPagina; 
    }

function asignacionProducto(numDoc, ind){
    document.formOrdenCompra.numDoc.value = numDoc;
    document.formOrdenCompra.ind.value = ind;
    document.formOrdenCompra.action = "$home/soccB/inc/ordenCompraCAsignacion.html";	
	document.formOrdenCompra.target = "_top";
 	document.formOrdenCompra.accionweb.value = "ordenCompraCentralizadaInterceptorB.cargaAsignacion";
 	document.formOrdenCompra.submit();
}
    
function autorizaOrdenDeCompra(numdoc){
      if(document.getElementById('botonRegistrar')!= null) {
         document.formOrdenCompra.action = "$home/soccB/inc/ordenCompraCMuestraLista.html";
	     document.formOrdenCompra.target = "_top";
	     document.formOrdenCompra.numDoc.value  = numdoc;
	     document.formOrdenCompra.accionweb.value = 'ordenCompraCentralizadaInterceptorB.ejecutaAccion';
         document.formOrdenCompra.submit();
	}	
	  
}
function anularOrdenDeCompra(numdoc){
  if(document.getElementById('botonRegistrar2')!= null) {
      continuar = 0;
      if(confirm('Est\u00e1 seguro de Anular')){
         document.formOrdenCompra.action = "$home/soccB/inc/ordenCompraCMuestraLista.html";
	     document.formOrdenCompra.target = "_top";
	     document.formOrdenCompra.numDoc.value  = numdoc;
	     document.formOrdenCompra.accionweb.value = 'ordenCompraCentralizadaInterceptorB.eliminaOrdenCompra';
         document.formOrdenCompra.submit();
	     }
	}	
	  
}
function rechazaOrdenCompra(){
	if(confirm('Est\u00e1 seguro de Rechazar esta solicitud de Orden de Compra?')){
	    puntero('Rechazo e orden de Compra'.small(),'Ingrese Motivo del Rechazo'.italics());
	
		}
	return true;
 		  
	}
function imprimeArgos(){
document.formArgos.submit();
}

</script>	
  
	 </div><!--content-->
	<br />
</div><!--post-->
#if($!mensaje)
<script>	
 alert('$!mensaje'); 	 
</script>
#end

#parse("sgf/inc/bottom.vm")
