<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html"  />
<meta http-equiv="cache-control" VALUE="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta name="keywords" content="" />
<meta name="description" content="" />

<title>SIIF - Sistema Integrado de Informaci&oacute;n Financiera</title>
<link rel="stylesheet" type="text/css" href="$home/sgf/css/sgf_estilo.css" />
<script src="$home/sgf/js/funcion.js" type="text/javascript"></script>
</head>
<body class="body_iframe">

	<div id="outer"><!--outer--> 
    <div id="principalcontent2"><!--principalcontent-->
		<!-- principal content start -->                               		
	<div id="inner"><!--inner--> 

	              
			<div class="post">
				<div class="header">
					<h3>Disponibilidad Mensual / Pagos Varios<!-- DFV --></h3>
                    <h5B>Vales de Caja</h5B>
			  </div>
         	<div class="content">
                  <table id="tabla" width="100%" border="0" cellspacing="0" cellpadding="2">
                    <thead>
                      <tr>
                        <th class="bordetop texto" scope="col">Sucursal</th>
                        <td class="bordetop bordeder texto" >${consultaDoc.get(0).sucur} ${consultaDoc.get(0).glosa1}</td>
                      </tr>
                      <tr>
                        <th width="20%" class="texto" scope="col">N&uacute;meros de Vale</th>
                        <td class="bordeder texto" >${consultaDoc.get(0).numdoc}</td>
                      </tr>
                      #if ($!consultaDoc.get(0).fecdoc)
                	   	  #set($fechaDoc = $consultaDoc.get(0).fecdoc + "")
                	  #else
                	     #set($fechaDoc = 0)
                	  #end 	  
    				  #set($diaFechaDoc = "")
    				  #set($mesFechaDoc = "")
    				  #set($annoFechaDoc = "")
    				  #if($!fechaDoc && $fechaDoc != 0) 
      					#set($diaFechaDoc = $fechaDoc.substring(6))
      					#set($mesFechaDoc = $fechaDoc.substring(4,6))
      					#set($annoFechaDoc = $fechaDoc.substring(0,4))
      					#set($fechaDoc = $diaFechaDoc+"/"+$mesFechaDoc+"/"+$annoFechaDoc)
    				  #else
      					#set($fechaDoc = "")
    				  #end  	  	 
                      <tr>
                        <th width="15%" class="texto" scope="col">Fecha de Vale</th>
                        <td class="bordeder texto" >$fechaDoc</td>
                       </tr>
                      <tr>
                        <th class="texto" scope="col">Tipo de C&oacute;digo</th>
                        <td class="bordeder texto" >${consultaDoc.get(0).tipcue} ${consultaDoc.get(0).glosa2}</td>
                      </tr>
                      <tr>
                        <th class="texto" scope="col">Identificador</th>
                        <td class="bordeder texto" >#if($consultaDoc.get(0).rutide > 0)${consultaDoc.get(0).rutide}-${consultaDoc.get(0).digide}#end</td>
                      </tr>
                      <tr>
                        <td colspan="2" style="border-left:#fff; line-height:10px">&nbsp;</td>
                      </tr>
                      <tr>
                        <th class="texto" scope="col">Pagado a</th>
                        <td class="bordeder texto" >${consultaDoc.get(0).glosa3}</td>
                      </tr>
                      <tr>
                        <th class="texto" scope="col">Valor Pagado</th>
                        <td class="bordeder texto" >$ ${numbertool.format($!consultaDoc.get(0).valor1)}</td>
                      </tr>
                      <tr>
                        <th class="texto" scope="col">Glosa de Pago</th>
                        <td class="bordeder texto" >${consultaDoc.get(0).glosa4}</td>
                      </tr>
                      <tr>
                        <th class="texto" scope="col">Estado</th>
                        <td class="bordeder texto" >${consultaDoc.get(0).glosa5}</td>
                      </tr>
                      <tr>
                        <td colspan="2" style="border-left:#fff; line-height:10px">&nbsp;</td>
                      </tr>
                      <tr>
                        <th class="texto" scope="col">Pagado por Unidad</th>
                        <td class="bordeder texto" >$ ${numbertool.format($!consultaDoc.get(0).valor2)}</td>
                      </tr>
                      <tr>
                        <th class="texto" scope="col">con &Iacute;tem</th>
                        <td class="bordeder texto" >${consultaDoc.get(0).tippag}</td>
                      </tr>                       
                    </thead>  	                      
                  </table>
              <br>
         	</div>
      		<!--	
            <div class="footer1">
				<ul>
					<li><img src="$home/sgf/img/ico_comprobante.gif" alt="Ver Comprobante" border="0" align="absmiddle" /> <a href="#" onclick="cargarPantalla('dispPagosComp','$home');return false;" alt="Ver Comprobante" >Ver Comprobante</a></li>
					<li><img src="$home/sgf/img/ico_cuenta.gif" alt="Ver Cuenta Corriente" border="0" align="absmiddle" /> <a href="#" onclick="cargarPantalla('dispPagosCta','$home');return false;" alt="Ver Cuenta Corriente" >Ver Cuenta Corriente</a></li>
				</ul>
			</div>--> 
		
            <div class="footer">
				<ul>
					<li class="print"><a href="#" onclick="printweb();return false;">Imprimir</a></li>
                    <li class="cerrar"><a href="#" onclick="cerrar();return false;">Cerrar</a></li>
					<li class="back"><a href="#" onclick="volver();return false;">Volver</a></li>
	            </ul>
			</div> 
            
		</div> <!--post -->
	</div>
	
   
	<div id="footer"><!--footer-->
		&copy; Universidad T&eacute;cnica Federico Santa Mar&iacute;a
	</div><!--footer-->
	
    </div><!--inner--> 
    <div id="btbg"></div><!--btbg--> 
</div><!--outer--> 
<form name="form_detalle" action="" method="POST" >
	<input type="hidden" name="accionweb" value="">      		
</form>
</body>
</html>