<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html"  />
<meta http-equiv="cache-control" VALUE="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta name="keywords" content="" />
<meta name="description" content="" />

<title>SIIF - Sistema Integrado de Informaci&oacute;n Financiera</title>
<link rel="stylesheet" type="text/css" href="$home/sgf/css/sgf_estilo.css" />
<script src="$home/sgf/js/funcion.js" type="text/javascript"></script>
</head>
<body class="body_iframe">

	<div id="outer"><!--outer--> 
    <div id="principalcontent2"><!--principalcontent-->
		<!-- principal content start -->                               		
	<div id="inner"><!--inner--> 
#set($fecha = $fecmov + "")
	              
			<div class="post">
				<div class="header">
					<h3>Disponibilidad Mensual / Movimiento de Cheques<!-- MCI --></h3>
                    <h5B>Detalle del D&iacute;a</h5B>
		  	  </div>
         	  	<div class="content">
                	<table width="100%" border="0" cellspacing="2" cellpadding="5">
                    	<tr>
                        	<td width="15%">Unidad</td>
                        	<td class="estilo_Azul2">$nomUnidad</td>
                    	</tr>
                    	<tr>
                        	<td>Fecha</td>
                        	<td class="estilo_Azul2"> $fecha.substring(6,8) de $nommes de $fecha.substring(0,4) </td>
                       	</tr>                   
                  	</table>                          
                  <br />
                  <table id="tabla" width="100%" border="0" cellspacing="0" cellpadding="2">
                    <thead>
                      <tr>
                        <th width="5%" class="bordetop" scope="col">Ope.</th>
                        <th width="10%" class="bordetop" scope="col">Cheque</th>
                        <th width="5%" scope="col" class="bordetop ">Tip</th>
                        <th scope="col" class="bordetop texto">Cliente</th>
                        <th width="15%" scope="col" class="bordetop">Fecha Cheque</th>
                        <th width="13%" scope="col" class="bordetop">Comprobante de Caja</th>
                        <th width="13%" scope="col" class="bordetop">Cajero</th>
                        <th width="13%" scope="col" class="bordetop valor">Valor $</th>
                        <td width="1%">&nbsp;</td>
                    </thead>  
                    #set($suma = 0)
                    #foreach($lista in $consultaDoc)	
                    	#set($fecha = $lista.fecdoc + "")    
                    	#set($suma = $suma + $lista.valor1) 
                        #if($lista.tipdoc == "CHE")
                        	#set($tipcue = "Q")                        	
                        #end    
                           #if($lista.tipdoc == "PRO")
                        	#set($tipcue = "R")                        	
                        #end  
                           #if($lista.tipdoc == "JUD")
                        	#set($tipcue = "J")                        	
                        #end              
                    <tr>
                      <td >$lista.tipdo1</td>
                      <td class="texto">$lista.numdoc</td>
                      <td >$lista.tipdoc</td>
                      <td class="texto">$lista.glosa1</td>
                      <td>${fecha.substring(6,8)}/${fecha.substring(4,6)}/$fecha.substring(0,4)</td>
                      <td>$lista.nrodoc</td>
                      <td >$lista.cajero</td>
                      <td class="valor">${numbertool.format($lista.valor1)}</td>
                      <td class="bordeder">
                      	 <div id="menu_rowB">
						<ul>
						<li><a href="#" onclick="return false;" class="nivel"></a>
							<ul>	
                       			<li><a href="#" onclick="cargarPantallaMCI('dispChequesDistribucion','$home', $fecmov, 'MCI','$lista.tipdo1','$lista.codban','$lista.numdo1', '$lista.rutide', '$lista.digide', '$tipcue' );return false;" >Ver Detalle Liquidaci&oacute;n</a></li>
                       			                                           
                       		</ul>
                       	</li>
                       	</ul>	
                      </div> 
                      </tr>
                    #end
                    <tfoot>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <th class="texto">Total</th>
                      <th class="bordeder valor">${numbertool.format($suma)}</th>                   
                      <td>&nbsp;</td>
                    </tr>
                    </tfoot>
                  </table>
			  </div>
              <br />
       			
		
              <div class="footer">
				<ul>
                <li class="print"><a href="#" onclick="printweb();return false;">Imprimir</a></li>
                <li class="cerrar"><a href="#" onclick="cerrar();return false;">Cerrar</a></li>
                <li class="back"><a href="#" onclick="volver();return false;">Volver</a></li>                
	            </ul>
			  </div>
			  
	  </div> <!--post -->
	</div>
    
	<div id="footer"><!--footer-->
		&copy; Universidad T&eacute;cnica Federico Santa Mar&iacute;a
	</div><!--footer-->
	
    </div><!--inner--> 
    <div id="btbg"></div><!--btbg--> 
</div><!--outer--> 

<form name="form_detalle" action="" method="POST" >
	<input type="hidden" name="accionweb" value="">
	<input type="hidden" name="unidad" value="$codUnidad">
	<input type="hidden" name="anopar" value="$anopar">
	<input type="hidden" name="mes" value="">
	<input type="hidden" name="mespar" value="$mespar">
	<input type="hidden" name="codUnidad" value="$codUnidad">
	<input type="hidden" name="nomUnidad" value="$nomUnidad">
	<input type="hidden" name="fecmov" value="">
	<input type="hidden" name="opcion" value=""> 
	<input type="hidden" name="tipope" value=""> 
	<input type="hidden" name="numche" value=""> 
	<input type="hidden" name="rutide" value=""> 
	<input type="hidden" name="digide" value=""> 
	<input type="hidden" name="tipcue" value=""> 
   	<input type="hidden" name="codBan" value=""> 	
</form>
</body>
</html>