<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html"  />
<meta http-equiv="cache-control" VALUE="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta name="keywords" content="" />
<meta name="description" content="" />

<title>SIIF - Sistema Integrado de Informaci&oacute;n Financiera</title>
<link rel="stylesheet" type="text/css" href="$home/sgf/css/sgf_estilo.css" />
<script src="$home/sgf/js/funcion.js" type="text/javascript"></script>
<script type="text/javascript" languaje="javascript">

function agregaPresupProgama(tope,accion){
	 if (validaObservacion()) {	      
	    asignaObservacionPrograma(tope);	 	 	    
	   // document.form_detalle.unidad.value = "$unidad";
	   document.form_detalle.organizacion.value = "$organizacion";
	    document.form_detalle.anno.value = "$anno";
	    //document.form_detalle.nomUnidad.value = "$nomUnidad";
		document.form_detalle.nomOrganizacion.value = "$nomOrganizacion";	    
	    document.form_detalle.accionProg.value = accion;
	    document.form_detalle.accionweb.value = "presupuestoInterceptorB.agregaPresupPrograma";
		document.form_detalle.submit();
		parent.opener.document.presup.volver.value = "1";
		
	}
	else alert("El ingreso de la informaci\u00f3n es obligatoria");
	
}

function volver(){
    window.close();
} 

function validaObservacion(){
  if (document.form_detalle.observacion1.value.length == 0)
    return false;
  else if (document.form_detalle.observacion2.value.length == 0)
           return false;
       else if (document.form_detalle.observacion3.value.length == 0)
              return false;
            else if (document.form_detalle.observacion4.value.length == 0)        
                   return false;
                 else return true;
}                 


</script>
## 04/10/2016 KP - Se cambian nombres de variables y etiquetas 'unidad(es)' por 'organizacion(es)'
</head>
<body class="body_iframe"  onload="">

	<div id="outer"><!--outer--> 
    <div id="principalcontent2"><!--principalcontent-->
		<!-- principal content start -->                               		
	<div id="inner"><!--inner--> 
    <div class="post">
	   <div class="header">
		<h3>Cuentas de Programas Anual</h3>
	</div>
    <div class="content">
     <table width="100%">
     	  <form name="form_detalle" action="" method="POST" >
			<tr>     	
			 <!-- <td width="40%">Unidad </td>-->
			  <td width="40%">Organizaci&oacute;n  </td>
			<!--  <td height="30" class="estilo_Azul">$unidad - $nomUnidad</td>-->
			<td height="30" class="estilo_Azul">$organizacion - $nomOrganizacion</td>
			</tr>
			<tr>     	
			  <td width="40%">Descripci&oacute;n del Programa <br><span class="estilo_Azul">(M&aacute;x. 160 caracteres)</span></td>
			  <td><textarea name="observacion1" id="observacion1" cols="70" rows="4"  onKeyUp="verificaCambios(this,0)" onKeyPress="cuentaLetras('observacion1',160);return acceptText(event)">$!observacion1</textarea>
              		<input name="comen11" type="hidden" id="comen11" value="">
              		<input name="comen21" type="hidden" id="comen21" value="">
              		<input name="comen31" type="hidden" id="comen31" value="">
              		<input name="comen41" type="hidden" id="comen41" value="">
               </td>
			</tr>
			<tr>
			  <td width="40%">Actividades a realizar <br><span class="estilo_Azul">(M&aacute;x. 160 caracteres)</span></td>
			  <td><textarea name="observacion2" id="observacion2" cols="70" rows="4"  onKeyUp="verificaCambios(this,0)" onKeyPress="cuentaLetras('observacion2',160);return acceptText(event)">$!observacion2</textarea>
              		<input name="comen12" type="hidden" id="comen12" value="">
              		<input name="comen22" type="hidden" id="comen22" value="">
              		<input name="comen32" type="hidden" id="comen32" value="">
              		<input name="comen42" type="hidden" id="comen42" value="">
              </td>
			</tr>
			<tr>
		      <td width="40%">Objetivo <br><span class="estilo_Azul">(M&aacute;x. 160 caracteres)</span></td>
		      <td><textarea name="observacion3" id="observacion3" cols="70" rows="4"  onKeyUp="verificaCambios(this,0)" onKeyPress="cuentaLetras('observacion3',160);return acceptText(event)">$!observacion3</textarea>
              		<input name="comen13" type="hidden" id="comen13" value="">
              		<input name="comen23" type="hidden" id="comen23" value="">
              		<input name="comen33" type="hidden" id="comen33" value="">
              		<input name="comen43" type="hidden" id="comen43" value="">
               </td>
			</tr>
			<tr>
		      <td width="40%">Metas <br><span class="estilo_Azul">(M&aacute;x. 160 caracteres)</span></td>
		      <td><textarea name="observacion4" id="observacion4" cols="70" rows="4"  onKeyUp="verificaCambios(this,0)" onKeyPress="cuentaLetras('observacion4',160);return acceptText(event)">$!observacion4</textarea>
              		<input name="comen14" type="hidden" id="comen14" value="">
              		<input name="comen24" type="hidden" id="comen24" value="">
              		<input name="comen34" type="hidden" id="comen34" value="">
              		<input name="comen44" type="hidden" id="comen44" value="">
               </td>
			</tr>
			 <input type="hidden" name="accionweb" value="">  
	     <!--    <input type="hidden" name="unidad" value="">
	         <input type="hidden" name="nomUnidad" value=""> 	-->		 
	         <input type="hidden" name="organizacion" value="">
	         <input type="hidden" name="nomOrganizacion" value=""> 
	         <input type="hidden" name="anno" value="">
	         <input type="hidden" name="accionProg" value="">
	 	</form>	
		</table>
         <br>
        </div>
           <div class="footer">
				<ul>
					#if ($accionProg == 1)
				    <li><a href="#" onClick="agregaPresupProgama(4,1);"  alt="Agregar" ><img src="$home/sgf/img/button_agregar.gif" alt="Agregar" border="0" align="absmiddle"></a></li>
				    #else
				    <li><a href="#" onClick="agregaPresupProgama(4,2);"  alt="Actualizar" ><img src="$home/sgf/img/button_upd.gif" alt="Actualizar" border="0" align="absmiddle"></a></li>
				    #end   
					<li class="cerrar"><a href="#" onclick="volver();return false;">Cerrar</a></li>
	            </ul>
			</div> 
            
		</div> <!--post -->
	</div>
	
   
	<div id="footer"><!--footer-->
		&copy; Universidad T&eacute;cnica Federico Santa Mar&iacute;a
	</div><!--footer-->
	
    </div><!--inner--> 
    <div id="btbg"></div><!--btbg--> 
</div><!--outer--> 
#if($mensaje && !$mensaje.equals(""))
<script>
	alert('$!mensaje'); 
	parent.opener.cargar();
	 window.close();
</script>
#end	
</body>
</html>

