	#set($seleccionado = "")	
	#if($opcionMenu && $opcionMenu > 0)
	  #set($seleccionado = "style='background-color:#3F7296;color:#fff;'")	
    #end
 	<div id="navigation">
    	<ul class="mainMenu">
      		<li>
      			<a href="javascript:switchit('n1','c1',1);" class="mas" id="c1">Indicadores de Gesti&oacute;n</a>
        		<ul class="subMenu" id="n1">
          			<LI><a #if($opcionMenu && $opcionMenu == 1) $seleccionado #end href="#" onclick="cargaUnidad(4,1); return false;" alt="Indicadores de Presupuestaci&oacute;n">Presupuestaci&oacute;n</a></LI>
	      			<LI><a #if($opcionMenu && $opcionMenu == 2) $seleccionado #end href="#" onclick="cargaUnidad(4,2); return false;" alt="Indicadores de Gesti&oacute;n Patrimonial">Gesti&oacute;n Patrimonial</a></LI>
	      		</ul>
        		<script type="text/javascript">initit('n1','c1','');</script>
      		</li>      		
     	</ul>
		</div>
		<form name="form_menu" action="" method="POST" >
			<input type="hidden" name="accionweb" value="">
			<input type="hidden" name="tipo" value="">
			<input type="hidden" name="titulo" value="$!titulo"> 
			<input type="hidden" name="opcionEjec" value="0">         
			<input type="hidden" name="control" value="$control">            	
			<input type="hidden" name="opcion" value="">  
			<input type="hidden" name="menu" value="">  
			<input type="hidden" name="opcionMenu" value="$!opcionMenu">                   	
		</form>
		
		<form name="resumen" action="" method="POST" >
		<input type="hidden" name="accionweb" value="">
		<input type="hidden" name="extension" value="">		
		<input type="hidden" name="tipo" value="$!tipo">	
		<input type="hidden" name="tipoGraf" value="$!tipoGraf">
		<input type="hidden" name="annoIni" value="$!annoIni">
		<input type="hidden" name="annoFin" value="$!annoFin">
		<input type="hidden" name="sede" value="">
		<input type="hidden" name="departamento" value="">
		<input type="hidden" name="carrera" value="">
		<input type="hidden" name="mencion" value="">
		<input type="hidden" name="nomSede" value="$!nomSede">
		<input type="hidden" name="nomDepartamento" value="$!nomDepartamento">
		<input type="hidden" name="nomCarrera" value="$!nomCarrera">
		<input type="hidden" name="nomMencion" value="$!nomMencion">
        </form>