<tr >
    <td class="texto " >$lista.numdoc</td>
    <td class="texto" nowrap>$lista.nomtip</td>
    <td class="texto" nowrap >$lista.coduni</td>
    <td class="texto" nowrap >$lista.desuni</td>  
    <td class="texto" nowrap >$lista.desite</td>
     #if($opcionMenu == 4 || $opcionMenu == 7  || $opcionMenu == 11)
     	 <td class="texto" nowrap >$lista.nompro</td>
     #end
    <td align="center" class="bordeder" scope="col" nowrap> 
	  <div id="menu_rowB">
		<ul>
  			<li><a href="#" onclick="return false;" class="nivel"></a>
				<ul>
					<li><a href="#" onclick="consultaCuenta($lista.numdoc, $opcionMenu); return false" >$tituloIr</a></li>
					#if($tituloDetalle1 && !$tituloDetalle1.trim().equals(""))
					<li><a href="#" onclick="ejecutaAccion($!lista.numdoc, $!opcion); return false" > $tituloDetalle1</a></li>
					#end
					#if($tituloDetalle2 && !$tituloDetalle2.trim().equals(""))
					<li><a href="#" onclick="ejecutaAccion($!lista.numdoc, $!opcion2); return false" > $tituloDetalle2</a></li>
					#end
				</ul>
			</li>
		</ul>
	  </div>
	 </td>
   
</tr>

     