#parse("sgf/inc/top.vm")
<script language="JavaScript" src="$home/sgf/js/trim.js"></script>
		<div class="post"><!--post-->
	<div class="header"><!--header-->
		<h3>Vales de Pago &nbsp;</h3>
	</div><!--fin header-->
          

	<div class="content">			
		<h5>Nuevo Cliente&nbsp;&nbsp;</h5>
		    </div><!--header-->          
			<div class="content"><!--content-->
		       <form class="login" action="" method="post" name="login_form" >
			 	<table width="100%" border="0" cellspacing="2" cellpadding="5">
                	<tr>
                	  <td width="10%">RUT Cliente</td> 
                	  <td>: <input type="text" name="rut_aux" id="rut_aux" size="13" maxlength="13" value ="$!rut_aux"  #if($cliente ) readonly #end onKeyPress="enter(event,1);return noenter()"  onChange="checkRutField(document.login_form.rut_aux.value, document.login_form);validar(document.login_form);" style="text-align: left;">
                       #if(!$cliente)
                       <a href="#" onclick="validar(document.login_form);return false;"><img src="$home/sgf/img/button_search.gif" align="top" alt="Consultar Cliente" border="0"></a>
                	 #end
                	
                	    <input type="hidden" name="rutnum" value="$!rutnum">
                		<input type="hidden" name="dvrut" value="$!dvrut">
                        <input type="hidden" name="accionweb"  value="valePagoInterceptor.validaCliente">
                        <input type="hidden" name="opcionMenu"  value="$!opcionMenu">
                        
  <script language="javascript">
	document.login_form.rut_aux.focus();	
</script>	                     
                	  </td>
                   </tr>
                   #if($cliente == 1)
                   <tr>
                	  <td>Nombre </td> 
                	  <td>: <input type="text" name="nombre" size="70" maxlength="70" value ="" style="text-align: left;">
                   	  </td>
                   </tr>
                   <tr>
                	  <td>Direcci&oacute;n </td> 
                	  <td>: <input type="text" name="direccion" size="40" maxlength="40" value ="" style="text-align: left;">
                   	  </td>
                   </tr>
                   <tr>
                	  <td>Comuna </td> 
                	  <td>: <input type="text" name="comuna" size="40" maxlength="40" value ="" style="text-align: left;">
                   	  </td>
                   </tr>
                   <tr>
                	  <td>Ciudad </td> 
                	  <td>: <input type="text" name="ciudad" size="40" maxlength="40" value ="" style="text-align: left;">
                   	  </td>
                   </tr>
                   <tr>
                	  <td>Tel&eacute;fono </td> 
                	  <td>: <input type="text" name="fono" size="14" maxlength="14" onKeyPress="return acceptNum(event)"  value ="" >
                   	  </td>
                   </tr>
                   <tr>
                	  <td>Anexo </td> 
                	  <td>: <input type="text" name="anexo"  size="14" maxlength="14" onKeyPress="return acceptNum(event)"  value ="">
                   	  </td>
                   </tr>
                     <tr>
                	  <td>Fax </td> 
                	  <td>: <input type="text" name="fax" size="40" maxlength="40" value ="" style="text-align: left;">
                   	  </td>
                   </tr>
                    <tr>
                	  <td>Giro </td> 
                	  <td>: <input type="text" name="giro" size="40" maxlength="40" value ="" style="text-align: left;">
                   	  </td>
                   </tr>
                    <tr>
         			<td width="20%">Banco</td>
         			<td >:   <select name="codBan" id="codBan" class="estilo_Azul" onchange= "">
		    	    <option value="0" selected="selected">Seleccione</option>  
		    	    #foreach($lista in $listBanco) 		
		    		<option value="${lista.itedoc}" >${lista.desuni}</option>
		     		#end		     		
		      		</select>
		 			</td>         		
				 </tr>
				  <tr>
                	  <td>Cuenta </td> 
                	  <td>: <input type="text" name="cueBan" size="40" maxlength="40" value ="" style="text-align: left;"> 
                   	  </td>
                   </tr>
				 <tr>
                	  <td>Correo </td> 
                	  <td>: <input type="text" name="correo" size="30" maxlength="30" value ="" style="text-align: left;"> @. <input type="text" name="finCorreo" size="10" maxlength="10" value ="" style="text-align: left;">
                   	  </td>
                   </tr>
                   #end
                </table> 
                <br>
                	
                </br>
                #if($cliente == 1)
                 <div class="footer"><!--footer-->
					<ul>
						<li><a href="#" onclick="registrarCliente('$home/siv/inc/valedePago.html'); return false;"><img src="$home/sgf/img/button_ok.gif" align="absmiddle" alt="Registrar Cliente" border="0"></a></li>	
				   	</ul>
				</div><!--footer-->	 
				#end
                </form>
              
			</div><!--content-->
			<br />
		</div><!--post-->
	  
 
<script language="javascript">		
		function cargaLogin(){	
		 	document.login_form.action = "$home/siv/inc/cliente.html";
            document.login_form.accionweb.value = "valePagoInterceptor.validaCliente";
            document.login_form.submit();	
		  	
		}		
	
</script> 
#if($!mensaje)
<script>	
 alert('$!mensaje');      	 
</script>
#end
	
#parse("sgf/inc/bottom.vm")
