#parse("sgf/inc/top.vm")
<script type="text/javascript" languaje="javascript">
function recargarLista(){
	document.formRecarga.action = "$home/siv/inc/lista.html";	
	document.formRecarga.target = "_top";
 	document.formRecarga.accionweb.value = "valePagoInterceptor.cargaListaValePago";
 	document.formRecarga.submit();
}

</script>
<span class="orangetitlemenor">Lista de Vales de Pago</span>
<br>#if($opcion == 2) Autoriza #else Consulta #end <br><br>

<form name="formRecarga" action="" method="post" target="_self">	
	<input name="accionweb" type="hidden" id="accionweb" value="" >
	
	 <table width="100%" border="0" cellpadding="2" cellspacing="1">
	<tr>
		<td >
			Estado : 
			<select name="estado" id="estado" onChange="recargarLista();" class="tabla">
			     <option value="I"  #if($estado && $!estado == 1) selected #end>Ingresadas</option>
			     <option value="A" #if($estado && $!estado == 2) selected #end>Autorizadas</option>
			     <option value="N" #if($estado && $!estado == 2) selected #end>Anuladas</option>
			     <option value="P" #if($estado && $!estado == 2) selected #end>Pagadas</option>
			     <option value="A" #if($estado && $!estado == 2) selected #end>Autorizadas</option>
	             <option value="" #if($estado && $!estado == 3) selected #end>Todas</option>
            </select>
		</td>
		<td >
			Unidad:  
			<select name="unidad" id="unidad" onChange="recargarLista();" class="tabla">
			#foreach ( $lista in $cuentasPresupuestarias)
	          <option value="$lista.coduni"   selected >$lista.coduni - $lista.desuni</option>
	        #end
            </select>
		</td>
		
		<td align="right">		    
			      A&ntilde;o :
			     <select name="anno" id="anno" onChange="recargarLista();" class="tabla">
				  #foreach($anno in $listAnno)
  				    <option value="$!anno" #if($annoSel && $anno == $!annoSel) selected #end>$anno</option>
  				  #end
                </select>
                <a href="#" onclick="recargarLista()" id="buscar" class="buttonlink"> Realizar b&uacute;squeda</a>           
		</td>	
	</tr> 
</table>
</form>
##if($hayDatoslista)
<SCRIPT type=text/javascript charset=utf-8>
	$(document).ready(function () {
		$('table#myTable tbody tr').quicksearch({
			attached: "table#myTable",
			position: "before",
			labelText: 'Ingrese su b&uacute;squeda',
			inputText: ''
		});
			
	});
	
			
</SCRIPT>


<SCRIPT type=text/javascript charset=utf-8> 
	 $(document).ready(function()  {  
	   $("#myTable").tablesorter( {sortList: [[0,0], [1,0]],
	     dateFormat: "uk",
	      headers: {                 
	      4: {                     
	         sorter:'ordenRut'                 
	         }            
            }
	      } );
	 });   
</SCRIPT>
<table class="s-table" id="myTable" width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#BFC8D8">
 <thead bgcolor="#F1F3DC">
    <th class="s-th" width="1%">#</th>
    <th class="s-th" width="7%">Fecha</th>
    <th class="s-th" width="30%">Descripci&oacute;n</th>
    <th class="s-th" width="30%">Destinatario</th>
    <th class="s-th" width="8%">Valor</th>
    <th class="s-th" width="13%">Estado</th>
    <th class="s-th" width="9%">Nro de Vale</th>
  </thead>
  <tbody>
  	<br>
  #if($listaValePago )
   #foreach ($lista in $listaValePago )
   	#parse("siv/inc/detalleLista.vm")
   #end 
  
 ##else 
      <!--  <div class="Estilo_Rojo">No existen Vales de Pago.</div> -->
   #end
</tbody>
</table>

<br/>
  
<SCRIPT type="text/javascript">

function listaConsulta(t) {
	document.form['buscar.solicitud.id'].value = t.id; 
	document.form.submit();
}	

function listaOver(t){
	t.style.cursor = 'pointer'; 
	t.style.color = '#000000';
	t.bgColor = '#C0C0C0';
}	

function listaOut(t){
	t.bgColor = '#FFFFFF';
	t.style.color = '#666666';
}
</SCRIPT>
##end	
<form name="form" action="" method="Post">
	<input type="hidden" name="id" value="" />		
	<input type="hidden" name="accionweb" value="" />	
</form>

 #parse("sgf/inc/bottom.vm")
