#parse("sgf/inc/top.vm")
<script language="JavaScript" src="$home/sgf/js/trim.js"></script>
	<div class="post"><!--post-->
	<div class="header"><!--header-->
		<h3>Vales de Pago &nbsp;</h3>
	</div><!--fin header-->
          

	<div class="content">			
		<h5>Ingreso &nbsp;&nbsp; </h5>
		    </div><!--header-->          
			<div class="content"><!--content-->
		       <form class="login" action="" method="post" name="login_form" >
			 	<table width="100%" border="0" cellspacing="2" cellpadding="5">
			      #if(!$nomIdentificador)
			 	  <tr>
                	  <td width="20%"><span id="nomIde">Ingreso </span></td>
                	  <td>                 	  	
       	               	<select name="tipoIngreso" id="tipoIngreso" onChange="" class="estilo_Azul" >
			     			<option value="1" selected >Nuevo Vale</option>
                 			<option value="2" >Copiar Existente</option>
  	        			</select> 	  
                	  </td>
                   </tr>
                   #end
                	<tr>
                	  <td width="20%"><span id="nomIde">Rut a Pago &nbsp;&nbsp; </span></td>
                	  <td>                 	  	
       	                <input type="text" name="rut_aux" size="13" maxlength="13" class="estilo_Azul" value ="$!rut_aux" #if($rut_aux && $nomIdentificador ) readonly #end onKeyPress="enter(event,1);return noenter()" onChange="checkRutField(document.login_form.rut_aux.value, document.login_form);" style="text-align: left;">
       	                #if(!$nomIdentificador)
       	                <a href="#" onclick="validar(document.login_form);"><img src="$home/sgf/img/button_search.gif" align="top" alt="Consultar Cliente" border="0"></a> &nbsp;&nbsp;
                	    <a href="#" onClick="nuevoCliente('$home/siv/inc/cliente.html'); return false;"  alt="Agregar" >
                	    	<img src="$home/sgf/img/agregar2.gif" alt="Agregar" border="0" align="absmiddle"></a> 
                	    #else
                	    	<input type="hidden" name="nomIdentificador" value="$!nomIdentificador">
                     	
                	    #end
                	    <input type="text" name="nomIdentificador" size="50" maxlength="50" readonly class="estilo_Azul" value ="$!nomIdentificador"  style="text-align: left;"> &nbsp;&nbsp;&nbsp;
                	    <input type="hidden" name="rutnum" value="$!rutnum">
                		<input type="hidden" name="dvrut" value="$!dvrut">
                	    <input type="hidden" name="accionweb"  value="">
                        <input type="hidden" name="opcionMenu"  value="$!opcionMenu">     
                        <input type="hidden" name="tipo"  value="0">             
					  					  
                	  </td>
                   </tr>
                </table>  
                </form>
                <span id="detalleOrden">                               		
				#parse("siv/inc/detalleValePago.vm")
				</span>  
			</div><!--content-->
			<br />
		</div><!--post-->
#if(!$rut_aux && !$identificador)		
<script language="javascript">
	document.login_form.rut_aux.focus();
</script>
#end		  
<script language="javascript">		
function cargaLogin(){	
	
		if(document.login_form.tipoIngreso.value == 1){
		    document.login_form.action = "$home/siv/inc/valedePago.html";
		    document.login_form.accionweb.value = "valePagoInterceptor.verificaRut";
		} else {
		    document.login_form.action = "$home/siv/inc/muestraLista.html";
		    document.login_form.accionweb.value = "valePagoInterceptor.cargaIngresoValePago";
		    document.login_form.tipo.value = "11";
            }  
        document.login_form.submit();	
		}	
		function cambiaIden(){
		    if(!document.login_form.identificador[0].checked){
		    document.getElementById("iden").innerHTML = "<input type=\"text\" name=\"rut_aux\" size=\"13\" maxlength=\"13\" value =\"$!rut_aux\" #if($rut_aux ) readonly #end onKeyPress=\"enter(event,1);return noenter()\" onChange=\"checkRutField(document.login_form.rut_aux.value, document.login_form);\" style=\"text-align: left;\"> #if(!$rut_aux) <a href=\"#\" onclick=\"validar(document.login_form);\"><img src=\"$home/sgf/img/button_search.gif\" align=\"top\" alt=\"Consultar Ide\" border=\"0\"></a> &nbsp;&nbsp; #end";
		    document.getElementById("nomIde").innerHTML = "Rut a Pago";
		  
		    } else {
		  /* document.getElementById("iden").innerHTML = "<input type=\"text\" name=\"nomIdentificador\" size=\"50\" maxlength=\"50\" value =\"$!nomIdentificador\" onKeyPress=\"enter(event,1);return noenter()\" onChange=\"\" style=\"text-align: left;\">";
		    document.getElementById("nomIde").innerHTML = "A la Orden de";
	        document.login_form.rutnum.value = "";
	        document.login_form.dvrut.value = "";
	        document.login_form.nomIdentificador.focus();*/
	        document.login_form.action = "$home/siv/inc/valedePago.html";
	        document.login_form.accionweb.value = "valePagoInterceptor.verificaRut";
            document.login_form.submit();
		    }
		  
		}	
</script> 

<form name="exportarPresup" id="exportarPresup" action="" method="POST" target="_blank" >
	 <input type="hidden" name="anno" value="$anno">
	 <input type="hidden" name="funcionario" value="$funcionario.trim()">
	 <input type="hidden" name="accionweb" value ="">
	 <input type="hidden" name="control" value ="$!control">
	 
</form>

#if($!mensaje)
<script>	
 alert('$!mensaje'); 	 
</script>
#end	
#parse("sgf/inc/bottom.vm")
